<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_invite_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,358},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>btn_invite_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>text_invite_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{504,182}}</string>
                <key>sourceSize</key>
                <string>{510,190}</string>
            </dict>
            <key>text_invite_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{502,170}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{502,170}}</string>
                <key>sourceSize</key>
                <string>{510,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_beinvite.png</string>
            <key>size</key>
            <string>{508,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44bf23f4743ce5168440281529bf014e$</string>
            <key>textureFileName</key>
            <string>texture_beinvite.png</string>
        </dict>
    </dict>
</plist>
