<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Effect/bonus1.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1343},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/bonus2.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1343},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/bonus3.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,697},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/bonus4.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,508},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/jiant1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,1},{128,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,116}</string>
			</dict>
			<key>Effect/jiant2.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1617},{128,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,116}</string>
			</dict>
			<key>Effect/jiant3.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1465},{128,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,116}</string>
			</dict>
			<key>Effect/jiantou_huoqiu_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,333},{130,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,342}</string>
			</dict>
			<key>Effect/jiantouhuoqiu2_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,527},{119,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,249}</string>
			</dict>
			<key>Effect/jiantoushanguang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1493},{187,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,155}</string>
			</dict>
			<key>Effect/jiantoushanguang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1650},{187,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,155}</string>
			</dict>
			<key>Effect/jiantoushanguang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1839},{187,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,155}</string>
			</dict>
			<key>Effect/jiantoushanguang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,717},{187,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,155}</string>
			</dict>
			<key>Effect/jiantoushanguang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,520},{187,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,155}</string>
			</dict>
			<key>Effect/jiantoushanguang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,326},{187,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,155}</string>
			</dict>
			<key>Effect/jiantoushanguang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1},{187,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,155}</string>
			</dict>
			<key>Effect/jiantoushanguang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1},{187,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,155}</string>
			</dict>
			<key>Effect/jiantoushanguang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,906},{187,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,155}</string>
			</dict>
			<key>Effect/jiantoushanguang_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1095},{187,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,155}</string>
			</dict>
			<key>Effect/Pomi_bonus_jiesuanlight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,969},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Effect/Pomi_bonus_jiesuanlight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,969},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Effect/Pomi_bonus_jiesuanlight_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,1945},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Effect/Pomi_bonus_jiesuanlight_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1945},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Effect/Pomi_bonus_jiesuanlight_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1060,1188},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>
			<key>Effect/Pomi_bonus_jiesuanlight_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1747},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>
			<key>Effect/Pomi_bonus_jiesuanlight_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1864},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>
			<key>Effect/Pomi_bonus_jiesuanlight_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,1426},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Effect/Pomi_bonus_kuosanFire_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1284},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>Effect/Pomi_bonus_kuosanFire_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,1466},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>Effect/Pomi_bonus_kuosanFire_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,1648},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>Effect/Pomi_bonus_kuosanFire_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,1830},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>Effect/Pomi_bonus_kuosanFire_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,709},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>Effect/Pomi_bonus_kuosanFire_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,515},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>Effect/Pomi_bonus_kuosanFire_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,326},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>Effect/Pomi_bonus_kuosanFire_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>Effect/Pomi_bonus_kuosanFire_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,1},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>Effect/Pomi_bonus_kuosanFire_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,891},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,973},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,1109},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,1173},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,1237},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,1109},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,1173},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1037},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,973},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,1301},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,1365},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,1422},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,1237},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,1301},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_Bonuschufahuo_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,1365},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>Effect/Pomi_bonusdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1343},{128,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,116}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,280},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,833},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1071},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1207},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,644},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,504},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,280},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,780},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,916},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1052},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,640},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,504},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,271},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,776},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1174,912},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,1},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,640},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,776},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,495},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusidle_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,271},{134,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusluodiguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1465},{150,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,144}</string>
			</dict>
			<key>Effect/Pomi_Bonusluodisg.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,285},{38,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,101}</string>
			</dict>
			<key>Effect/Pomi_Bonusluodiyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,137},{132,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,120}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1747},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1868},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1595},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1461},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,1716},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,1582},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,1461},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,1837},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,1703},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,1582},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1824},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,1703},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,1824},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_Bonusovercoin_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,1305},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,108}</string>
			</dict>
			<key>Effect/Pomi_boom77.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1981},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom78.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1981},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom79.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,1978},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom80.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1978},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom81.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,1048},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom83.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,1109},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom84.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,1170},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom86.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,1231},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom87.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1292},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom89.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1353},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom90.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,1048},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_boom92.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,912},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>Effect/Pomi_hongsebz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,285},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Effect/Pomi_hongsebz_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,285},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Effect/Pomi_lxbz77.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,416},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_lxbz78.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,416},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_lxbz80.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,183},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_lxbz81.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,416},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_lxbz83.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,183},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_lxbz84.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,407},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_lxbz86.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,407},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_lxbz87.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,1958},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_lxbz89.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,1958},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_lxbz91.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,1528},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_lxbz93.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,1616},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>Effect/Pomi_RespinBd1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd1_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd1_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd1_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/Pomi_RespinBd2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,285},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Effect/qipan_huo_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,677},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huo_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,333},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huo_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huo_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huo_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,329},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,871},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1065},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1259},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1453},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1647},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1841},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,523},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,648},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,326},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,717},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,815},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,911},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,982},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1105},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1149},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1299},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1316},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1483},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1650},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1844},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1650},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/qipan_huoqiu_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1844},{192,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,165}</string>
			</dict>
			<key>Effect/pomi_jiesuanbaoguang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,195},{245,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,88}</string>
			</dict>
			<key>Effect/pomi_jiesuanbaoguang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,195},{245,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,88}</string>
			</dict>
			<key>Effect/pomi_jiesuanbaoguang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,195},{245,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,88}</string>
			</dict>
			<key>Effect/pomi_jiesuanbaoguang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,190},{245,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,88}</string>
			</dict>
			<key>Effect/pomi_jiesuanbaoguang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1073},{245,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,88}</string>
			</dict>
			<key>Effect/pomi_jiesuanbaoguang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1163},{245,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,88}</string>
			</dict>
			<key>Effect/pomi_jiesuanbaoguang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1253},{245,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,88}</string>
			</dict>
			<key>Effect/huoqiu_1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{160,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,330}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pomi5.png</string>
			<key>realTextureFileName</key>
			<string>Pomi5.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>