<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Effect/Pomi_kgk00.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,661},{151,325}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,339}</string>
			</dict>
			<key>Effect/Pomi_kgk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1},{152,335}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,339}</string>
			</dict>
			<key>Effect/Pomi_kgk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{153,337}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,339}</string>
			</dict>
			<key>Effect/Pomi_kgk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,671},{153,327}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,339}</string>
			</dict>
			<key>Effect/Pomi_kgk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,338},{153,331}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,339}</string>
			</dict>
			<key>Effect/Pomi_kgk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,332},{153,327}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,339}</string>
			</dict>
			<key>Effect/Pomi_kgk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,340},{153,337}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,339}</string>
			</dict>
			<key>Effect/Pomi_kgk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,679},{153,337}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,339}</string>
			</dict>
			<key>Effect/Pomi_kgk08.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1},{153,327}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,339}</string>
			</dict>
			<key>Effect/Pomi_kgk09.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1},{153,329}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,339}</string>
			</dict>
			<key>Effect/Pomi_zjkg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,498},{126,118}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,497},{126,118}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,1},{126,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,310},{126,118}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,160},{126,118}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,1},{123,119}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,818},{120,119}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,160},{124,119}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1},{126,119}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,643},{126,118}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,305},{126,117}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,643},{126,113}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,486},{126,118}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,157},{123,119}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,818},{122,118}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,818},{115,119}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,480},{115,118}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_zjkg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,305},{126,118}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,119},{23,23}}</string>
				<key>offset</key>
				<string>{-28,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,626},{29,28}}</string>
				<key>offset</key>
				<string>{-25,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,126},{35,29}}</string>
				<key>offset</key>
				<string>{-22,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,438},{41,29}}</string>
				<key>offset</key>
				<string>{-19,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,129},{47,29}}</string>
				<key>offset</key>
				<string>{-16,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,438},{53,29}}</string>
				<key>offset</key>
				<string>{-13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,983},{58,29}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,987},{64,29}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,988},{69,29}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,988},{71,29}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,988},{67,29}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,987},{63,29}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,983},{57,29}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,438},{51,29}}</string>
				<key>offset</key>
				<string>{14,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,129},{45,29}}</string>
				<key>offset</key>
				<string>{17,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,126},{39,29}}</string>
				<key>offset</key>
				<string>{20,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,126},{33,29}}</string>
				<key>offset</key>
				<string>{23,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb1_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,614},{27,27}}</string>
				<key>offset</key>
				<string>{26,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,29}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,626},{28,27}}</string>
				<key>offset</key>
				<string>{-26,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,433},{35,34}}</string>
				<key>offset</key>
				<string>{-23,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,983},{41,40}}</string>
				<key>offset</key>
				<string>{-20,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,939},{48,44}}</string>
				<key>offset</key>
				<string>{-16,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,771},{55,45}}</string>
				<key>offset</key>
				<string>{-13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,940},{62,45}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,942},{69,45}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,942},{76,45}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,433},{79,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,771},{80,45}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,771},{78,45}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,942},{71,45}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,940},{64,45}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,771},{57,45}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,939},{50,45}}</string>
				<key>offset</key>
				<string>{16,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,939},{43,43}}</string>
				<key>offset</key>
				<string>{19,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,119},{37,36}}</string>
				<key>offset</key>
				<string>{22,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb2_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,126},{30,29}}</string>
				<key>offset</key>
				<string>{26,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,46}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,286},{28,17}}</string>
				<key>offset</key>
				<string>{-60,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,286},{34,17}}</string>
				<key>offset</key>
				<string>{-57,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,286},{41,17}}</string>
				<key>offset</key>
				<string>{-54,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1000},{48,17}}</string>
				<key>offset</key>
				<string>{-50,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,480},{48,16}}</string>
				<key>offset</key>
				<string>{-44,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,480},{49,15}}</string>
				<key>offset</key>
				<string>{-37,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,626},{49,15}}</string>
				<key>offset</key>
				<string>{-30,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,626},{49,15}}</string>
				<key>offset</key>
				<string>{-23,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,480},{49,15}}</string>
				<key>offset</key>
				<string>{-16,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,469},{49,15}}</string>
				<key>offset</key>
				<string>{-10,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,143},{50,15}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,625},{48,15}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,143},{50,15}}</string>
				<key>offset</key>
				<string>{12,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,288},{49,15}}</string>
				<key>offset</key>
				<string>{18,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,143},{50,15}}</string>
				<key>offset</key>
				<string>{26,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1000},{51,15}}</string>
				<key>offset</key>
				<string>{32,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1000},{51,15}}</string>
				<key>offset</key>
				<string>{39,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,480},{50,15}}</string>
				<key>offset</key>
				<string>{47,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,625},{45,15}}</string>
				<key>offset</key>
				<string>{51,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,469},{38,15}}</string>
				<key>offset</key>
				<string>{55,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTb3_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,469},{31,15}}</string>
				<key>offset</key>
				<string>{58,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,18}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,168},{140,129}}</string>
				<key>offset</key>
				<string>{5,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,661},{166,176}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,839},{146,176}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,168},{153,154}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,656},{162,166}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1},{140,129}}</string>
				<key>offset</key>
				<string>{5,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,330},{166,176}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,508},{146,176}}</string>
				<key>offset</key>
				<string>{3,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,324},{153,154}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,824},{156,157}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
			<key>Effect/Pomi_FreespinTblizi_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1},{162,165}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,186}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pomi4.png</string>
			<key>realTextureFileName</key>
			<string>Pomi4.png</string>
			<key>size</key>
			<string>{1284,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1284</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>