<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>astr_mult_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1680},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,64}}</string>
                <key>sourceSize</key>
                <string>{150,64}</string>
            </dict>
            <key>astronaut.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1680},{83,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,160}}</string>
                <key>sourceSize</key>
                <string>{83,160}</string>
            </dict>
            <key>autobet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,188}}</string>
                <key>sourceSize</key>
                <string>{1080,188}</string>
            </dict>
            <key>bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1870},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bronze_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,648},{226,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,67}}</string>
                <key>sourceSize</key>
                <string>{226,67}</string>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1870},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>btn_autobet.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{998,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,238}}</string>
                <key>sourceSize</key>
                <string>{998,238}</string>
            </dict>
            <key>btn_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,494},{490,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,200}}</string>
                <key>sourceSize</key>
                <string>{490,200}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1668},{490,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,200}}</string>
                <key>sourceSize</key>
                <string>{490,200}</string>
            </dict>
            <key>btn_cashout.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{490,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,200}}</string>
                <key>sourceSize</key>
                <string>{490,200}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,62},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,404},{242,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,72}}</string>
                <key>sourceSize</key>
                <string>{242,72}</string>
            </dict>
            <key>icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1236},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,948},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>icon_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1848},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_avg_mult.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1950},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_flights.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,784},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_fly_hours.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,716},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_infinity.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>icon_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,624},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>icon_max_mult.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,648},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,624},{22,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,7}}</string>
                <key>sourceSize</key>
                <string>{22,7}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1870},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>layout_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1746},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,986},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>level_detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{1080,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,130}}</string>
                <key>sourceSize</key>
                <string>{1080,130}</string>
            </dict>
            <key>level_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1458},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{220,220}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>level_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1848},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>level_prog.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1236},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,404},{218,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,52}}</string>
                <key>sourceSize</key>
                <string>{218,52}</string>
            </dict>
            <key>logo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{933,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{933,113}}</string>
                <key>sourceSize</key>
                <string>{933,113}</string>
            </dict>
            <key>rank-modal.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1084},{582,520}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{582,520}}</string>
                <key>sourceSize</key>
                <string>{628,556}</string>
            </dict>
            <key>rank_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1870},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>rank_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{100,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,400}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>res_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,852},{94,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,62}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>res_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,986},{94,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,62}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>res_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,876},{102,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,70}}</string>
                <key>sourceSize</key>
                <string>{102,70}</string>
            </dict>
            <key>silver_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1002},{226,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,67}}</string>
                <key>sourceSize</key>
                <string>{226,67}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1746},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crashx.png</string>
            <key>size</key>
            <string>{903,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:668522ad494aacc06e8e57b4fc183a16$</string>
            <key>textureFileName</key>
            <string>crashx.png</string>
        </dict>
    </dict>
</plist>
