<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>db_touzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{358,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,93}}</string>
                <key>sourceSize</key>
                <string>{358,93}</string>
            </dict>
            <key>dl_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,159},{151,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,152}}</string>
                <key>sourceSize</key>
                <string>{151,152}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,351},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>pai_zhongjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,159},{190,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,250}}</string>
                <key>sourceSize</key>
                <string>{190,250}</string>
            </dict>
            <key>paiming_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,351},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>touzhu_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,362},{68,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{68,32}</string>
            </dict>
            <key>tuijiantouzhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,362},{63,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,30}}</string>
                <key>sourceSize</key>
                <string>{63,30}</string>
            </dict>
            <key>tuijiantouzhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,362},{63,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,30}}</string>
                <key>sourceSize</key>
                <string>{63,30}</string>
            </dict>
            <key>tuijiantouzhu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,362},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,159},{201,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,152}}</string>
                <key>sourceSize</key>
                <string>{201,152}</string>
            </dict>
            <key>xuanzhong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,454}}</string>
                <key>sourceSize</key>
                <string>{395,454}</string>
            </dict>
            <key>xuanzhong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{726,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{726,155}}</string>
                <key>sourceSize</key>
                <string>{726,155}</string>
            </dict>
            <key>zoushi_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,313},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>zoushi_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,313},{95,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,60}}</string>
                <key>sourceSize</key>
                <string>{95,60}</string>
            </dict>
            <key>zoushi_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,313},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zoushi_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,221},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>zoushi_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,159},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lhdz.png</string>
            <key>size</key>
            <string>{1281,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2601f7d9f2a1d2113d1690a623fc8c6:1/1$</string>
            <key>textureFileName</key>
            <string>lhdz.png</string>
        </dict>
    </dict>
</plist>
