<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme115_bonus_counter_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,358},{534,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,119}}</string>
                <key>sourceSize</key>
                <string>{534,119}</string>
            </dict>
            <key>theme115_bonus_counter_frame_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{477,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,68}}</string>
                <key>sourceSize</key>
                <string>{477,68}</string>
            </dict>
            <key>theme115_bonus_counter_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>theme115_bonus_counter_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,51},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>theme115_bonus_counter_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,118},{39,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,47}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
            <key>theme115_bonus_counter_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,72},{445,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,44}}</string>
                <key>sourceSize</key>
                <string>{445,44}</string>
            </dict>
            <key>theme115_bonus_counter_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,118},{435,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,37}}</string>
                <key>sourceSize</key>
                <string>{435,37}</string>
            </dict>
            <key>theme115_bonus_counter_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,157},{412,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,37}}</string>
                <key>sourceSize</key>
                <string>{412,37}</string>
            </dict>
            <key>theme115_bonus_counter_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{459,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,38}}</string>
                <key>sourceSize</key>
                <string>{459,38}</string>
            </dict>
            <key>theme115_bonus_message_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,301}}</string>
                <key>sourceSize</key>
                <string>{476,301}</string>
            </dict>
            <key>theme115_bonus_message_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,196},{287,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,160}}</string>
                <key>sourceSize</key>
                <string>{287,160}</string>
            </dict>
            <key>theme115_bonus_message_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,196},{195,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,150}}</string>
                <key>sourceSize</key>
                <string>{195,150}</string>
            </dict>
            <key>theme115_bonus_winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{464,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,140}}</string>
                <key>sourceSize</key>
                <string>{464,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonus.png</string>
            <key>size</key>
            <string>{1006,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65a96c84cf7c55b36afa8bbf895b1b29:1/1$</string>
            <key>textureFileName</key>
            <string>bonus.png</string>
        </dict>
    </dict>
</plist>
