<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,806},{240,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,56}}</string>
                <key>sourceSize</key>
                <string>{240,56}</string>
            </dict>
            <key>area_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,734},{213,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,70}}</string>
                <key>sourceSize</key>
                <string>{213,70}</string>
            </dict>
            <key>area_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,967},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{87,47}</string>
            </dict>
            <key>area_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,812},{121,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,66}}</string>
                <key>sourceSize</key>
                <string>{121,66}</string>
            </dict>
            <key>area_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,944},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>bipai_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{314,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,412}}</string>
                <key>sourceSize</key>
                <string>{314,412}</string>
            </dict>
            <key>shuzi_db01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,942},{73,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,302}}</string>
                <key>sourceSize</key>
                <string>{73,302}</string>
            </dict>
            <key>shuzi_db02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{73,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,302}}</string>
                <key>sourceSize</key>
                <string>{73,302}</string>
            </dict>
            <key>touzhu_guang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{396,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,516}}</string>
                <key>sourceSize</key>
                <string>{396,516}</string>
            </dict>
            <key>touzhu_guang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,520},{248,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,290}}</string>
                <key>sourceSize</key>
                <string>{248,290}</string>
            </dict>
            <key>touzhu_guang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,294},{244,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,290}}</string>
                <key>sourceSize</key>
                <string>{244,290}</string>
            </dict>
            <key>touzhu_szdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,586},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,31}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>touzhukuang_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,516}}</string>
                <key>sourceSize</key>
                <string>{396,516}</string>
            </dict>
            <key>touzhukuang_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{248,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,290}}</string>
                <key>sourceSize</key>
                <string>{248,290}</string>
            </dict>
            <key>touzhukuang_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,520},{244,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,290}}</string>
                <key>sourceSize</key>
                <string>{244,290}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,586},{205,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,146}}</string>
                <key>sourceSize</key>
                <string>{205,146}</string>
            </dict>
            <key>ysz_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,864},{236,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,50}}</string>
                <key>sourceSize</key>
                <string>{236,50}</string>
            </dict>
            <key>ysz_bankerdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,877},{362,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,63}}</string>
                <key>sourceSize</key>
                <string>{362,63}</string>
            </dict>
            <key>ysz_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,916},{220,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,49}}</string>
                <key>sourceSize</key>
                <string>{220,49}</string>
            </dict>
            <key>ysz_playerdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,812},{362,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,63}}</string>
                <key>sourceSize</key>
                <string>{362,63}</string>
            </dict>
            <key>ysz_tie.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,880},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>zoushi_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,967},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>zoushi_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,967},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>zoushi_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,944},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>zoushi_icon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,967},{40,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>zoushi_icon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,944},{38,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>zoushi_icon06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,687},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zoushi_icon07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,665},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zoushi_icon08.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,987},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>zoushi_icon09.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,987},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zoushi_icon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,643},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>zoushi_icon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,916},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1060,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6092a5007b68279dfd2a23cddbcbee2a$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
