<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{142,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,155}}</string>
                <key>sourceSize</key>
                <string>{142,155}</string>
            </dict>
            <key>bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{206,288}}</string>
                <key>sourceSize</key>
                <string>{210,290}</string>
            </dict>
            <key>bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{232,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,48}}</string>
                <key>sourceSize</key>
                <string>{232,48}</string>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,104},{102,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{102,96}</string>
            </dict>
            <key>icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,128},{94,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,108}</string>
            </dict>
            <key>icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{118,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,96}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{114,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{114,92}</string>
            </dict>
            <key>icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,235},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,118},{114,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,36},{114,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{110,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,34},{110,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,234},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{124,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{148,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{148,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,128},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,248},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,159},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{74,92}</string>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,292},{108,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,96}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,234},{124,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,234},{116,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,152},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{114,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,124}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>icon_add_frend.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,270},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{60,48}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>icon_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{116,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,68}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>icon_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,320},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>lock_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,236},{140,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{140,152}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,159},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,75}</string>
            </dict>
            <key>ui10.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,202},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>ui7.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,176},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui8.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,202},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ui9.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,352},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>vip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,350},{57,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,29}}</string>
                <key>sourceSize</key>
                <string>{57,29}</string>
            </dict>
            <key>vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,145},{71,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,29}}</string>
                <key>sourceSize</key>
                <string>{71,29}</string>
            </dict>
            <key>vip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,360},{91,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,29}}</string>
                <key>sourceSize</key>
                <string>{91,29}</string>
            </dict>
            <key>vip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,360},{95,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,29}}</string>
                <key>sourceSize</key>
                <string>{95,29}</string>
            </dict>
            <key>vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,114},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,352},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>vip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,360},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>interactive_emotion.png</string>
            <key>size</key>
            <string>{1014,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ed105d25e3f9b778f4f1b673e5e6da$</string>
            <key>textureFileName</key>
            <string>interactive_emotion.png</string>
        </dict>
    </dict>
</plist>
