<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,186},{176,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,62}}</string>
                <key>sourceSize</key>
                <string>{176,62}</string>
            </dict>
            <key>bg_room_league_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,186},{97,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,47}}</string>
                <key>sourceSize</key>
                <string>{97,47}</string>
            </dict>
            <key>bg_room_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,86},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>bg_room_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{674,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,98}}</string>
                <key>sourceSize</key>
                <string>{674,98}</string>
            </dict>
            <key>bg_room_rank_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{182,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,36}}</string>
                <key>sourceSize</key>
                <string>{182,36}</string>
            </dict>
            <key>bg_room_rank_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,47},{182,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,37}}</string>
                <key>sourceSize</key>
                <string>{182,37}</string>
            </dict>
            <key>bg_room_rank_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,214},{182,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,37}}</string>
                <key>sourceSize</key>
                <string>{182,37}</string>
            </dict>
            <key>bg_room_rank_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,214},{182,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,37}}</string>
                <key>sourceSize</key>
                <string>{182,37}</string>
            </dict>
            <key>bg_room_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,114},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_room_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{358,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,231}}</string>
                <key>sourceSize</key>
                <string>{358,231}</string>
            </dict>
            <key>btn_room_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{360,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,231}}</string>
                <key>sourceSize</key>
                <string>{360,231}</string>
            </dict>
            <key>btn_room_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,47},{76,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,108}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>btn_room_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,86},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>fangjian_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{794,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,110}}</string>
                <key>sourceSize</key>
                <string>{794,110}</string>
            </dict>
            <key>icon_room_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,86},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>jindutiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{256,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,36}}</string>
                <key>sourceSize</key>
                <string>{256,36}</string>
            </dict>
            <key>jindutiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{262,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,43}}</string>
                <key>sourceSize</key>
                <string>{262,43}</string>
            </dict>
            <key>progress_room_league_exp_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,216},{66,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,22}}</string>
                <key>sourceSize</key>
                <string>{66,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_room_list.png</string>
            <key>size</key>
            <string>{1822,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f47efb95a862a21391250a338c12f12:1/1$</string>
            <key>textureFileName</key>
            <string>texture_room_list.png</string>
        </dict>
    </dict>
</plist>
