<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_button1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,82}</string>
                <key>spriteSourceSize</key>
                <string>{274,82}</string>
                <key>textureRect</key>
                <string>{{1356,0},{274,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paytable_button1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,82}</string>
                <key>spriteSourceSize</key>
                <string>{274,82}</string>
                <key>textureRect</key>
                <string>{{0,82},{274,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paytable_buttonleft_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{62,83}</string>
                <key>textureRect</key>
                <string>{{274,82},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paytable_buttonleft_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{62,83}</string>
                <key>textureRect</key>
                <string>{{336,82},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme186_page1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,773}</string>
                <key>spriteSourceSize</key>
                <string>{556,773}</string>
                <key>textureRect</key>
                <string>{{539,666},{556,773}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme186_page2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,584}</string>
                <key>spriteSourceSize</key>
                <string>{505,584}</string>
                <key>textureRect</key>
                <string>{{1203,82},{505,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme186_page2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,161}</string>
                <key>spriteSourceSize</key>
                <string>{486,161}</string>
                <key>textureRect</key>
                <string>{{398,82},{486,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme186_page3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,795}</string>
                <key>spriteSourceSize</key>
                <string>{558,795}</string>
                <key>textureRect</key>
                <string>{{1095,666},{558,795}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme186_page4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,697}</string>
                <key>spriteSourceSize</key>
                <string>{539,697}</string>
                <key>textureRect</key>
                <string>{{0,666},{539,697}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme186_paytable_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,459}</string>
                <key>spriteSourceSize</key>
                <string>{319,459}</string>
                <key>textureRect</key>
                <string>{{884,82},{319,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme186_paytable_head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,53}</string>
                <key>spriteSourceSize</key>
                <string>{337,53}</string>
                <key>textureRect</key>
                <string>{{570,0},{337,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme186_paytable_head2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,53}</string>
                <key>spriteSourceSize</key>
                <string>{140,53}</string>
                <key>textureRect</key>
                <string>{{907,0},{140,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme186_paytable_head3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,53}</string>
                <key>spriteSourceSize</key>
                <string>{309,53}</string>
                <key>textureRect</key>
                <string>{{1047,0},{309,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme186_paytable_head4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,49}</string>
                <key>spriteSourceSize</key>
                <string>{570,49}</string>
                <key>textureRect</key>
                <string>{{0,0},{570,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paytable_theme186.png</string>
            <key>size</key>
            <string>{1708,1461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c17f54d69be8ee1adb81255d70907a4:e655851456b6af28a6dd9a304a1a262d:a19e70c093dfe798cdb091d609a9ec40$</string>
            <key>textureFileName</key>
            <string>paytable_theme186.png</string>
        </dict>
    </dict>
</plist>
