<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auto_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,826},{98,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,382},{208,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,160}}</string>
                <key>sourceSize</key>
                <string>{208,160}</string>
            </dict>
            <key>bet_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,594},{111,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,99}}</string>
                <key>sourceSize</key>
                <string>{111,99}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{378,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,160}}</string>
                <key>sourceSize</key>
                <string>{378,160}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{378,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,160}}</string>
                <key>sourceSize</key>
                <string>{378,160}</string>
            </dict>
            <key>btn_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,464},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{460,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,100}}</string>
                <key>sourceSize</key>
                <string>{460,100}</string>
            </dict>
            <key>content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,704},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>content_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,382},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,544},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>pay_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,504},{120,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,88}}</string>
                <key>sourceSize</key>
                <string>{120,88}</string>
            </dict>
            <key>pay_slider1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{4,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,26}}</string>
                <key>sourceSize</key>
                <string>{4,26}</string>
            </dict>
            <key>record_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,704},{120,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,78}}</string>
                <key>sourceSize</key>
                <string>{120,78}</string>
            </dict>
            <key>record_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,695},{118,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,84}}</string>
                <key>sourceSize</key>
                <string>{118,84}</string>
            </dict>
            <key>record_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,752},{150,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,54}}</string>
                <key>sourceSize</key>
                <string>{150,54}</string>
            </dict>
            <key>record_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,464},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>slider_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>slider_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,826},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>slider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,63}}</string>
                <key>sourceSize</key>
                <string>{506,63}</string>
            </dict>
            <key>slider_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,831},{14,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,76}}</string>
                <key>sourceSize</key>
                <string>{14,76}</string>
            </dict>
            <key>slider_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,815},{14,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,76}}</string>
                <key>sourceSize</key>
                <string>{14,76}</string>
            </dict>
            <key>slider_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,594},{14,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,76}}</string>
                <key>sourceSize</key>
                <string>{14,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dice.png</string>
            <key>size</key>
            <string>{506,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:303916fa2baa32b98615972139af932d:1/1$</string>
            <key>textureFileName</key>
            <string>dice.png</string>
        </dict>
    </dict>
</plist>
