<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qizi_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{76,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>qizi_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{76,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>qizi_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{76,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>qizi_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{76,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qizi.png</string>
            <key>size</key>
            <string>{314,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c051aecbaf0957171ad3305f6263a1d:a1949ca399eb5a796629195633193867:e3d02b21e14e1fb72bef3710650a4039$</string>
            <key>textureFileName</key>
            <string>qizi.png</string>
        </dict>
    </dict>
</plist>
