<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>table_home_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>table_home_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>table_home_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>table_home_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table_home.png</string>
            <key>size</key>
            <string>{1690,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f46855c04d6c89befa256cc6c3f3a50:a7775367fae593b1e4cb8fde907b7d22:94c103d25c596fa91410d120163de713$</string>
            <key>textureFileName</key>
            <string>table_home.png</string>
        </dict>
    </dict>
</plist>
