<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_d_bg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1114},{211,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,219}}</string>
                <key>sourceSize</key>
                <string>{211,219}</string>
            </dict>
            <key>theme186_d_bg1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,901},{211,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,219}}</string>
                <key>sourceSize</key>
                <string>{211,219}</string>
            </dict>
            <key>theme186_d_bg1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,773},{211,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,219}}</string>
                <key>sourceSize</key>
                <string>{211,219}</string>
            </dict>
            <key>theme186_d_bg1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,688},{211,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,219}}</string>
                <key>sourceSize</key>
                <string>{211,219}</string>
            </dict>
            <key>theme186_d_bg1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,475},{211,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,219}}</string>
                <key>sourceSize</key>
                <string>{211,219}</string>
            </dict>
            <key>theme186_d_bg2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1313},{390,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,106}}</string>
                <key>sourceSize</key>
                <string>{390,106}</string>
            </dict>
            <key>theme186_d_bg2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{390,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,106}}</string>
                <key>sourceSize</key>
                <string>{390,106}</string>
            </dict>
            <key>theme186_d_bg2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,867},{390,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,106}}</string>
                <key>sourceSize</key>
                <string>{390,106}</string>
            </dict>
            <key>theme186_d_bg2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,475},{390,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,106}}</string>
                <key>sourceSize</key>
                <string>{390,106}</string>
            </dict>
            <key>theme186_d_bg3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,174},{170,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,77}}</string>
                <key>sourceSize</key>
                <string>{170,77}</string>
            </dict>
            <key>theme186_d_bg3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{170,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,77}}</string>
                <key>sourceSize</key>
                <string>{170,77}</string>
            </dict>
            <key>theme186_d_bg3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,510},{170,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,77}}</string>
                <key>sourceSize</key>
                <string>{170,77}</string>
            </dict>
            <key>theme186_d_bg3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,680},{170,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,77}}</string>
                <key>sourceSize</key>
                <string>{170,77}</string>
            </dict>
            <key>theme186_d_bg3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,531},{170,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,77}}</string>
                <key>sourceSize</key>
                <string>{170,77}</string>
            </dict>
            <key>theme186_d_bg4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,978},{268,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,129}}</string>
                <key>sourceSize</key>
                <string>{268,129}</string>
            </dict>
            <key>theme186_d_bg4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,767},{268,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,129}}</string>
                <key>sourceSize</key>
                <string>{268,129}</string>
            </dict>
            <key>theme186_d_bg4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,986},{268,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,129}}</string>
                <key>sourceSize</key>
                <string>{268,129}</string>
            </dict>
            <key>theme186_d_bg4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,986},{268,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,129}}</string>
                <key>sourceSize</key>
                <string>{268,129}</string>
            </dict>
            <key>theme186_d_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{268,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,77}}</string>
                <key>sourceSize</key>
                <string>{268,77}</string>
            </dict>
            <key>theme186_d_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{268,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,77}}</string>
                <key>sourceSize</key>
                <string>{268,77}</string>
            </dict>
            <key>theme186_d_collect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{557,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,153}}</string>
                <key>sourceSize</key>
                <string>{557,153}</string>
            </dict>
            <key>theme186_d_collect_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,346},{113,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,109}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>theme186_d_collect_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1256},{108,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,166}}</string>
                <key>sourceSize</key>
                <string>{108,166}</string>
            </dict>
            <key>theme186_d_collect_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1259},{315,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{315,52}}</string>
                <key>sourceSize</key>
                <string>{317,52}</string>
            </dict>
            <key>theme186_d_collect_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,610},{294,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,68}}</string>
                <key>sourceSize</key>
                <string>{294,68}</string>
            </dict>
            <key>theme186_d_free_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,514}}</string>
                <key>sourceSize</key>
                <string>{471,514}</string>
            </dict>
            <key>theme186_d_free_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{679,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,141}}</string>
                <key>sourceSize</key>
                <string>{679,141}</string>
            </dict>
            <key>theme186_d_text_jp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,683},{324,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,82}}</string>
                <key>sourceSize</key>
                <string>{324,82}</string>
            </dict>
            <key>theme186_d_text_jp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,272},{257,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,78}}</string>
                <key>sourceSize</key>
                <string>{257,78}</string>
            </dict>
            <key>theme186_d_text_jp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,898},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
            <key>theme186_d_text_jp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1327},{307,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,79}}</string>
                <key>sourceSize</key>
                <string>{307,79}</string>
            </dict>
            <key>theme186_d_text_jp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,272},{257,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,79}}</string>
                <key>sourceSize</key>
                <string>{257,79}</string>
            </dict>
            <key>theme186_d_text_jp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,475},{296,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,27}}</string>
                <key>sourceSize</key>
                <string>{296,27}</string>
            </dict>
            <key>theme186_d_text_lastspin.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1248},{140,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,98}}</string>
                <key>sourceSize</key>
                <string>{140,98}</string>
            </dict>
            <key>theme186_d_text_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,256},{252,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,59}}</string>
                <key>sourceSize</key>
                <string>{252,59}</string>
            </dict>
            <key>theme186_d_text_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{252,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,59}}</string>
                <key>sourceSize</key>
                <string>{252,59}</string>
            </dict>
            <key>theme186_d_text_win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,978},{252,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,59}}</string>
                <key>sourceSize</key>
                <string>{252,59}</string>
            </dict>
            <key>theme186_d_text_win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,986},{252,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,59}}</string>
                <key>sourceSize</key>
                <string>{252,59}</string>
            </dict>
            <key>theme186_d_text_youwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1034},{189,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,41}}</string>
                <key>sourceSize</key>
                <string>{189,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{1021,1426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea83c81b77e43f1043acd1d0dd9bf5c2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
