<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_bg2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,654},{154,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,121}}</string>
                <key>sourceSize</key>
                <string>{154,121}</string>
            </dict>
            <key>theme186_bg2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,498},{154,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,121}}</string>
                <key>sourceSize</key>
                <string>{154,121}</string>
            </dict>
            <key>theme186_bg2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,342},{154,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,121}}</string>
                <key>sourceSize</key>
                <string>{154,121}</string>
            </dict>
            <key>theme186_bg2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{209,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{209,167}}</string>
                <key>sourceSize</key>
                <string>{211,167}</string>
            </dict>
            <key>theme186_bg2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,213},{181,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,35}}</string>
                <key>sourceSize</key>
                <string>{181,35}</string>
            </dict>
            <key>theme186_bg2_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,932},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>theme186_bg2_seven.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,508},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>theme186_bg2_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,878},{77,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,63}}</string>
                <key>sourceSize</key>
                <string>{77,63}</string>
            </dict>
            <key>theme186_free2_text1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,919},{207,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,33}}</string>
                <key>sourceSize</key>
                <string>{207,33}</string>
            </dict>
            <key>theme186_free2_text1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,543},{290,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,48}}</string>
                <key>sourceSize</key>
                <string>{290,48}</string>
            </dict>
            <key>theme186_free2_text1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,828},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>theme186_free2_text1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,651},{99,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,23}}</string>
                <key>sourceSize</key>
                <string>{99,23}</string>
            </dict>
            <key>theme186_free2_text1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,472},{353,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,34}}</string>
                <key>sourceSize</key>
                <string>{353,34}</string>
            </dict>
            <key>theme186_free2_text2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,255},{401,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,85}}</string>
                <key>sourceSize</key>
                <string>{401,85}</string>
            </dict>
            <key>theme186_free2_text2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,255},{110,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,85}}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>theme186_free2_text2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,508},{334,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,33}}</string>
                <key>sourceSize</key>
                <string>{334,33}</string>
            </dict>
            <key>theme186_free2_text2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,508},{435,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,33}}</string>
                <key>sourceSize</key>
                <string>{435,33}</string>
            </dict>
            <key>theme186_free2_text3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,851},{286,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,25}}</string>
                <key>sourceSize</key>
                <string>{286,25}</string>
            </dict>
            <key>theme186_free2_text3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,878},{221,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,39}}</string>
                <key>sourceSize</key>
                <string>{221,39}</string>
            </dict>
            <key>theme186_free2_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,342},{141,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,49}}</string>
                <key>sourceSize</key>
                <string>{141,49}</string>
            </dict>
            <key>theme186_free2_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,485},{164,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,49}}</string>
                <key>sourceSize</key>
                <string>{164,49}</string>
            </dict>
            <key>theme186_free2_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,777},{158,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,49}}</string>
                <key>sourceSize</key>
                <string>{158,49}</string>
            </dict>
            <key>theme186_free2_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,543},{198,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,53}}</string>
                <key>sourceSize</key>
                <string>{198,53}</string>
            </dict>
            <key>theme186_free3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,943},{62,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,78}}</string>
                <key>sourceSize</key>
                <string>{62,78}</string>
            </dict>
            <key>theme186_free3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,648},{62,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,78}}</string>
                <key>sourceSize</key>
                <string>{62,78}</string>
            </dict>
            <key>theme186_free3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,568},{62,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,78}}</string>
                <key>sourceSize</key>
                <string>{62,78}</string>
            </dict>
            <key>theme186_free3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,943},{62,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>theme186_free_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{409,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,251}}</string>
                <key>sourceSize</key>
                <string>{409,251}</string>
            </dict>
            <key>theme186_free_bg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,774},{277,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,75}}</string>
                <key>sourceSize</key>
                <string>{277,75}</string>
            </dict>
            <key>theme186_free_bg1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,697},{277,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,75}}</string>
                <key>sourceSize</key>
                <string>{277,75}</string>
            </dict>
            <key>theme186_free_bg1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,620},{277,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,75}}</string>
                <key>sourceSize</key>
                <string>{277,75}</string>
            </dict>
            <key>theme186_free_bg1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,543},{277,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,75}}</string>
                <key>sourceSize</key>
                <string>{277,75}</string>
            </dict>
            <key>theme186_free_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{439,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,209}}</string>
                <key>sourceSize</key>
                <string>{439,209}</string>
            </dict>
            <key>theme186_free_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{409,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,251}}</string>
                <key>sourceSize</key>
                <string>{409,251}</string>
            </dict>
            <key>theme186_free_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{409,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,251}}</string>
                <key>sourceSize</key>
                <string>{409,251}</string>
            </dict>
            <key>theme186_free_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,407},{357,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,63}}</string>
                <key>sourceSize</key>
                <string>{357,63}</string>
            </dict>
            <key>theme186_free_btn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,342},{357,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,63}}</string>
                <key>sourceSize</key>
                <string>{357,63}</string>
            </dict>
            <key>theme186_free_collect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,508},{422,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,71}}</string>
                <key>sourceSize</key>
                <string>{422,71}</string>
            </dict>
            <key>theme186_free_desc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{195,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,61}}</string>
                <key>sourceSize</key>
                <string>{195,61}</string>
            </dict>
            <key>theme186_free_text_muti_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,958},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>theme186_free_text_muti_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,483},{83,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,56}}</string>
                <key>sourceSize</key>
                <string>{83,56}</string>
            </dict>
            <key>theme186_free_text_muti_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,432},{65,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>theme186_free_text_muti_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,908},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>theme186_free_text_muti_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,960},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>theme186_free_text_muti_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,908},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>theme186_free_text_muti_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,945},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>theme186_free_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,338},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>theme186_free_top3.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,777},{138,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,129}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>theme186_free_top4.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,828},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>theme186_freec_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,250},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>theme186_freec_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,934},{85,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,38}}</string>
                <key>sourceSize</key>
                <string>{85,38}</string>
            </dict>
            <key>theme186_freec_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{209,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,21}}</string>
                <key>sourceSize</key>
                <string>{209,21}</string>
            </dict>
            <key>theme186_freec_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,508},{422,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,71}}</string>
                <key>sourceSize</key>
                <string>{422,71}</string>
            </dict>
            <key>theme186_th_spin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,927},{94,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,19}}</string>
                <key>sourceSize</key>
                <string>{94,19}</string>
            </dict>
            <key>theme186_th_spin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,954},{97,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,19}}</string>
                <key>sourceSize</key>
                <string>{97,19}</string>
            </dict>
            <key>theme186_th_spin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,975},{96,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,19}}</string>
                <key>sourceSize</key>
                <string>{96,19}</string>
            </dict>
            <key>theme186_th_spin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,996},{95,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,19}}</string>
                <key>sourceSize</key>
                <string>{95,19}</string>
            </dict>
            <key>theme186_th_spin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,996},{95,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,19}}</string>
                <key>sourceSize</key>
                <string>{95,19}</string>
            </dict>
            <key>theme186_th_spin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,975},{95,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,19}}</string>
                <key>sourceSize</key>
                <string>{95,19}</string>
            </dict>
            <key>theme186_th_spin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,954},{95,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,19}}</string>
                <key>sourceSize</key>
                <string>{95,19}</string>
            </dict>
            <key>theme186_th_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,934},{85,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,19}}</string>
                <key>sourceSize</key>
                <string>{85,19}</string>
            </dict>
            <key>theme186_th_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,932},{88,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,19}}</string>
                <key>sourceSize</key>
                <string>{88,19}</string>
            </dict>
            <key>theme186_th_win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,934},{87,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,19}}</string>
                <key>sourceSize</key>
                <string>{87,19}</string>
            </dict>
            <key>theme186_th_win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,752},{86,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,19}}</string>
                <key>sourceSize</key>
                <string>{86,19}</string>
            </dict>
            <key>theme186_th_win5.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,835},{86,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,19}}</string>
                <key>sourceSize</key>
                <string>{86,19}</string>
            </dict>
            <key>theme186_th_win6.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,927},{86,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,19}}</string>
                <key>sourceSize</key>
                <string>{86,19}</string>
            </dict>
            <key>theme186_th_win7.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,934},{86,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,19}}</string>
                <key>sourceSize</key>
                <string>{86,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>free.png</string>
            <key>size</key>
            <string>{1023,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35d0a52e0fa8468d2dd5bca00142c8c7$</string>
            <key>textureFileName</key>
            <string>free.png</string>
        </dict>
    </dict>
</plist>
