<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_map_angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,851}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,851}}</string>
                <key>sourceSize</key>
                <string>{375,851}</string>
            </dict>
            <key>theme186_map_bg_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,762},{117,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,42}}</string>
                <key>sourceSize</key>
                <string>{117,42}</string>
            </dict>
            <key>theme186_map_bg_dark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,697},{83,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,44}}</string>
                <key>sourceSize</key>
                <string>{83,44}</string>
            </dict>
            <key>theme186_map_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,532},{163,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,44}}</string>
                <key>sourceSize</key>
                <string>{163,44}</string>
            </dict>
            <key>theme186_map_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{664,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,22}}</string>
                <key>sourceSize</key>
                <string>{664,22}</string>
            </dict>
            <key>theme186_map_btn_add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,963},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>theme186_map_btn_add_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,957},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>theme186_map_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,911},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>theme186_map_btn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,855},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>theme186_map_btn_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,893},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>theme186_map_btn_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,958},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>theme186_map_btn_sub_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,926},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>theme186_map_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,782},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>theme186_map_desc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,848},{171,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,16}}</string>
                <key>sourceSize</key>
                <string>{171,16}</string>
            </dict>
            <key>theme186_map_desc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,908},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,16}</string>
            </dict>
            <key>theme186_map_desc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{272,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,17}}</string>
                <key>sourceSize</key>
                <string>{272,17}</string>
            </dict>
            <key>theme186_map_desc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{195,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,17}}</string>
                <key>sourceSize</key>
                <string>{195,17}</string>
            </dict>
            <key>theme186_map_desc_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{270,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,17}}</string>
                <key>sourceSize</key>
                <string>{270,17}</string>
            </dict>
            <key>theme186_map_desc_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1000},{130,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,17}}</string>
                <key>sourceSize</key>
                <string>{130,17}</string>
            </dict>
            <key>theme186_map_desc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,532},{133,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,69}}</string>
                <key>sourceSize</key>
                <string>{133,69}</string>
            </dict>
            <key>theme186_map_desc_reel.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,866},{55,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,20}}</string>
                <key>sourceSize</key>
                <string>{55,20}</string>
            </dict>
            <key>theme186_map_desc_reels.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,966},{68,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,20}}</string>
                <key>sourceSize</key>
                <string>{68,20}</string>
            </dict>
            <key>theme186_map_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{528,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,62}}</string>
                <key>sourceSize</key>
                <string>{528,62}</string>
            </dict>
            <key>theme186_map_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{528,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,62}}</string>
                <key>sourceSize</key>
                <string>{528,62}</string>
            </dict>
            <key>theme186_map_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,668},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>theme186_map_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,988},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>theme186_map_i_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,988},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>theme186_map_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{22,757}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,757}}</string>
                <key>sourceSize</key>
                <string>{22,757}</string>
            </dict>
            <key>theme186_map_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,532},{96,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,8}}</string>
                <key>sourceSize</key>
                <string>{96,8}</string>
            </dict>
            <key>theme186_map_text_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{198,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,21}}</string>
                <key>sourceSize</key>
                <string>{198,21}</string>
            </dict>
            <key>theme186_map_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,827},{150,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,19}}</string>
                <key>sourceSize</key>
                <string>{150,19}</string>
            </dict>
            <key>theme186_map_text_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,806},{150,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,19}}</string>
                <key>sourceSize</key>
                <string>{150,19}</string>
            </dict>
            <key>theme186_map_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,987},{154,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,19}}</string>
                <key>sourceSize</key>
                <string>{154,19}</string>
            </dict>
            <key>theme186_map_text_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,966},{154,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,19}}</string>
                <key>sourceSize</key>
                <string>{154,19}</string>
            </dict>
            <key>theme186_map_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{200,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,19}}</string>
                <key>sourceSize</key>
                <string>{200,19}</string>
            </dict>
            <key>theme186_map_text_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{200,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,19}}</string>
                <key>sourceSize</key>
                <string>{200,19}</string>
            </dict>
            <key>theme186_map_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,946},{166,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,18}}</string>
                <key>sourceSize</key>
                <string>{166,18}</string>
            </dict>
            <key>theme186_map_text_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,926},{166,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,18}}</string>
                <key>sourceSize</key>
                <string>{166,18}</string>
            </dict>
            <key>theme186_map_text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{196,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,19}}</string>
                <key>sourceSize</key>
                <string>{196,19}</string>
            </dict>
            <key>theme186_map_text_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{196,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,19}}</string>
                <key>sourceSize</key>
                <string>{196,19}</string>
            </dict>
            <key>theme186_map_text_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,887},{183,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,19}}</string>
                <key>sourceSize</key>
                <string>{183,19}</string>
            </dict>
            <key>theme186_map_text_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,866},{183,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,19}}</string>
                <key>sourceSize</key>
                <string>{183,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{557,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80a2cf2a292ef566cf0dcaa06840208d$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
