<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_mapfree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,155},{220,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,37}}</string>
                <key>sourceSize</key>
                <string>{220,37}</string>
            </dict>
            <key>theme186_mapfree_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{295,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,42}}</string>
                <key>sourceSize</key>
                <string>{295,42}</string>
            </dict>
            <key>theme186_mapfree_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,129},{127,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,47}}</string>
                <key>sourceSize</key>
                <string>{127,47}</string>
            </dict>
            <key>theme186_mapfree_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,194},{277,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,36}}</string>
                <key>sourceSize</key>
                <string>{277,36}</string>
            </dict>
            <key>theme186_mapfree_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,111},{170,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,42}}</string>
                <key>sourceSize</key>
                <string>{170,42}</string>
            </dict>
            <key>theme186_mapfree_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{293,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,37}}</string>
                <key>sourceSize</key>
                <string>{293,37}</string>
            </dict>
            <key>theme186_mapfree_dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{156,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,107}}</string>
                <key>sourceSize</key>
                <string>{156,107}</string>
            </dict>
            <key>theme186_mapfree_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{471,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,4}}</string>
                <key>sourceSize</key>
                <string>{471,4}</string>
            </dict>
            <key>theme186_mapfree_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,125}}</string>
                <key>sourceSize</key>
                <string>{466,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapfree.png</string>
            <key>size</key>
            <string>{650,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc2d771a31d198ad8977ba6fcde1a479$</string>
            <key>textureFileName</key>
            <string>mapfree.png</string>
        </dict>
    </dict>
</plist>
