<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,243},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,327},{63,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{63,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,400},{103,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{103,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{158,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>theme186_s_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,219}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,29},{160,219}}</string>
                <key>sourceSize</key>
                <string>{226,289}</string>
            </dict>
            <key>theme186_s_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,164},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,160},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,123},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,409},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,327},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,410},{71,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{71,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_X10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{119,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{119,61}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_X2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,244},{113,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,409},{109,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{109,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_X4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{113,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_X5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,326},{109,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{109,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_X7.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,285},{113,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{113,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{466,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6194eead0918cccd38516e644bc9fdd9$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
