<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSSPar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,670},{104,115}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{104,115}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,876},{100,117}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{100,117}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,876},{102,107}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{102,107}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,856},{106,119}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{106,119}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,852},{106,123}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{106,123}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,316},{110,123}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{110,123}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,851},{110,123}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{110,123}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,345},{114,127}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{114,127}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,726},{110,123}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{110,123}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,599},{112,125}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{112,125}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,598},{116,127}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{116,127}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,727},{116,127}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{116,127}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,185},{118,129}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,598},{120,127}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,127}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,474},{116,123}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{116,123}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,727},{120,123}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,123}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,441},{118,113}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,599},{116,115}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,115}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,823},{110,109}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{110,109}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,717},{104,111}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{104,111}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,787},{104,109}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{104,109}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{102,111}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{102,111}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,876},{102,105}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{102,105}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>BOSSPar_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,561},{107,107}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,170},{107,107}}</string>
                <key>sourceSize</key>
                <string>{443,449}</string>
            </dict>
            <key>BOSSPar_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{183,181}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,131},{183,181}}</string>
                <key>sourceSize</key>
                <string>{443,449}</string>
            </dict>
            <key>BOSSPar_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,345},{251,251}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,96},{251,251}}</string>
                <key>sourceSize</key>
                <string>{443,449}</string>
            </dict>
            <key>BOSSPar_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{341,341}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,50},{341,341}}</string>
                <key>sourceSize</key>
                <string>{443,449}</string>
            </dict>
            <key>BOSSPar_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{421,421}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{421,421}}</string>
                <key>sourceSize</key>
                <string>{443,449}</string>
            </dict>
            <key>BOSSPar_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,449}}</string>
                <key>sourceSize</key>
                <string>{443,449}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossPar.png</string>
            <key>size</key>
            <string>{1005,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c46a188745c53ccdb6408a4270863661:1/1$</string>
            <key>textureFileName</key>
            <string>BossPar.png</string>
        </dict>
    </dict>
</plist>
