<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,656},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>btn_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,232},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>btn_cashout.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,818},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>coor_axis.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{12,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,513}}</string>
                <key>sourceSize</key>
                <string>{12,513}</string>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,429},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>dot_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,656},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{150,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,290}}</string>
                <key>sourceSize</key>
                <string>{150,290}</string>
            </dict>
            <key>he_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,808},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>he_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,920},{50,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,93}}</string>
                <key>sourceSize</key>
                <string>{50,93}</string>
            </dict>
            <key>he_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,429},{200,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,117}}</string>
                <key>sourceSize</key>
                <string>{200,117}</string>
            </dict>
            <key>icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,932},{146,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,76}}</string>
                <key>sourceSize</key>
                <string>{146,76}</string>
            </dict>
            <key>icon_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,976},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>icon_o2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,586},{68,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,49}</string>
            </dict>
            <key>icon_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>ipnut_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,462},{209,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,122}}</string>
                <key>sourceSize</key>
                <string>{209,122}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,232},{225,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,195}}</string>
                <key>sourceSize</key>
                <string>{225,195}</string>
            </dict>
            <key>o2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,880},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>o2_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,548},{50,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,93}}</string>
                <key>sourceSize</key>
                <string>{50,93}</string>
            </dict>
            <key>o2_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,678},{200,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,117}}</string>
                <key>sourceSize</key>
                <string>{200,117}</string>
            </dict>
            <key>prog.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{680,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{680,36}}</string>
                <key>sourceSize</key>
                <string>{682,38}</string>
            </dict>
            <key>prog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{680,36}}</string>
                <key>sourceSize</key>
                <string>{682,38}</string>
            </dict>
            <key>ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,548},{184,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,106}}</string>
                <key>sourceSize</key>
                <string>{184,106}</string>
            </dict>
            <key>switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,656},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{160,90}}</string>
                <key>sourceSize</key>
                <string>{162,92}</string>
            </dict>
            <key>switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,586},{160,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{160,90}}</string>
                <key>sourceSize</key>
                <string>{162,92}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,818},{40,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,160}}</string>
                <key>sourceSize</key>
                <string>{40,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zeppelin.png</string>
            <key>size</key>
            <string>{553,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41503d10cb2b96f7b8bfb12ce7fffefc$</string>
            <key>textureFileName</key>
            <string>zeppelin.png</string>
        </dict>
    </dict>
</plist>
