<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>Discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,174},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>Group.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>Show.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,174},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>ann.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{232,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,104}}</string>
                <key>sourceSize</key>
                <string>{232,104}</string>
            </dict>
            <key>ann2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,256},{232,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,104}}</string>
                <key>sourceSize</key>
                <string>{232,104}</string>
            </dict>
            <key>btn_records.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,283},{60,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cardtype_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,174},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>chip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,330},{54,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,174},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,430}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{386,430}}</string>
                <key>sourceSize</key>
                <string>{390,440}</string>
            </dict>
            <key>dir_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,264},{90,376}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,376}}</string>
                <key>sourceSize</key>
                <string>{90,380}</string>
            </dict>
            <key>drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>drop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{198,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,260}}</string>
                <key>sourceSize</key>
                <string>{198,260}</string>
            </dict>
            <key>icon_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,236},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>jack_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{160,220}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{160,220}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,236},{148,188}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,188}}</string>
                <key>sourceSize</key>
                <string>{150,190}</string>
            </dict>
            <key>naizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,330},{58,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,38}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>p_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,346},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>p_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,346},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>p_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,346},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>poker_deck.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{186,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{186,252}}</string>
                <key>sourceSize</key>
                <string>{190,260}</string>
            </dict>
            <key>tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,289},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,174},{224,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,45}}</string>
                <key>sourceSize</key>
                <string>{224,45}</string>
            </dict>
            <key>xx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,283},{100,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,45}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>zz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,221},{152,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,60}}</string>
                <key>sourceSize</key>
                <string>{152,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Rummy.png</string>
            <key>size</key>
            <string>{1796,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13c9e30d9e4053f34d4a40082c4ebd6d:1/1$</string>
            <key>textureFileName</key>
            <string>Rummy.png</string>
        </dict>
    </dict>
</plist>
