<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_back_mountains@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3256,243},{2796,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2796,222}}</string>
                <key>sourceSize</key>
                <string>{2796,222}</string>
            </dict>
            <key>bg_front@3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{3885,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3885,239}}</string>
                <key>sourceSize</key>
                <string>{3885,239}</string>
            </dict>
            <key>bg_gradient.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2997},{1,3020}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,3020}}</string>
                <key>sourceSize</key>
                <string>{1,3020}</string>
            </dict>
            <key>bg_ground_1@3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{2818,1231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2818,1231}}</string>
                <key>sourceSize</key>
                <string>{2818,1231}</string>
            </dict>
            <key>bg_ground_2@3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{2452,1158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2452,1158}}</string>
                <key>sourceSize</key>
                <string>{2452,1158}</string>
            </dict>
            <key>bg_ground_gradient.png</key>
            <dict>
                <key>frame</key>
                <string>{{2822,243},{3,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,240}}</string>
                <key>sourceSize</key>
                <string>{3,240}</string>
            </dict>
            <key>bg_middle_mountains@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2636},{3252,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3252,359}}</string>
                <key>sourceSize</key>
                <string>{3252,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{3889,3041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1ea542e845238e026c61277707debad$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
