<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black-brown-darkGray-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{658,230}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,59},{658,230}}</string>
                <key>sourceSize</key>
                <string>{678,294}</string>
            </dict>
            <key>black-brown-darkGray-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,664},{622,270}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{622,270}}</string>
                <key>sourceSize</key>
                <string>{678,294}</string>
            </dict>
            <key>black-yellow-lightGray-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{660,288}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{660,288}}</string>
                <key>sourceSize</key>
                <string>{678,294}</string>
            </dict>
            <key>blue-turquoise-brightPurple-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{660,288}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{660,288}}</string>
                <key>sourceSize</key>
                <string>{678,294}</string>
            </dict>
            <key>fire1_fire1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1914},{350,78}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,79},{350,78}}</string>
                <key>sourceSize</key>
                <string>{358,240}</string>
            </dict>
            <key>fire1_fire1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1648},{324,78}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,79},{324,78}}</string>
                <key>sourceSize</key>
                <string>{358,240}</string>
            </dict>
            <key>fire2_plane6_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1656},{332,86}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,75},{332,86}}</string>
                <key>sourceSize</key>
                <string>{358,240}</string>
            </dict>
            <key>fire2_plane6_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1914},{306,86}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,75},{306,86}}</string>
                <key>sourceSize</key>
                <string>{358,240}</string>
            </dict>
            <key>fire3_plane7_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1288},{358,232}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{358,232}}</string>
                <key>sourceSize</key>
                <string>{358,240}</string>
            </dict>
            <key>fire3_plane7_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1322},{332,232}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{332,232}}</string>
                <key>sourceSize</key>
                <string>{358,240}</string>
            </dict>
            <key>fire4_plane8_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{358,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,43},{358,150}}</string>
                <key>sourceSize</key>
                <string>{358,240}</string>
            </dict>
            <key>fire4_plane8_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1648},{332,150}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,43},{332,150}}</string>
                <key>sourceSize</key>
                <string>{358,240}</string>
            </dict>
            <key>green-lightRose-darkGreen-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{660,288}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{660,288}}</string>
                <key>sourceSize</key>
                <string>{678,294}</string>
            </dict>
            <key>lightBlue-brown-marsh-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{660,288}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{660,288}}</string>
                <key>sourceSize</key>
                <string>{678,294}</string>
            </dict>
            <key>lightBlue-red-lightBrown-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{660,288}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{660,288}}</string>
                <key>sourceSize</key>
                <string>{678,294}</string>
            </dict>
            <key>mint-lightRose-mustard-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,664},{656,210}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,63},{656,210}}</string>
                <key>sourceSize</key>
                <string>{678,294}</string>
            </dict>
            <key>propeller1_prop1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1656},{50,306}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,18},{50,306}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>propeller1_prop1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1982},{52,218}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,61},{52,218}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>propeller1_prop1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2002},{26,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,129},{26,84}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>propeller1_prop1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2002},{32,176}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,83},{32,176}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>propeller1_prop1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1656},{38,228}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,57},{38,228}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>propeller2_Prop2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1656},{76,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,2},{76,304}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>propeller2_Prop2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,362},{60,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,45},{60,218}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>propeller2_Prop2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1994},{30,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,110},{30,86}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>propeller2_Prop2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1990},{46,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,65},{46,176}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>propeller2_Prop2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,362},{58,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,39},{58,230}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>propeller3_prop3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1994},{30,250}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,4},{30,250}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>propeller3_prop3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,362},{36,178}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,39},{36,178}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>propeller3_prop3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1512},{18,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,93},{18,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>propeller3_prop3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1886},{22,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,57},{22,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>propeller3_prop3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1322},{24,188}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,34},{24,188}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>purple-lightGreen-gray-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{658,228}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,60},{658,228}}</string>
                <key>sourceSize</key>
                <string>{678,294}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{624,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,34}}</string>
                <key>sourceSize</key>
                <string>{624,34}</string>
            </dict>
            <key>white-lightRose-blueGray-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{660,288}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{660,288}}</string>
                <key>sourceSize</key>
                <string>{678,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>planes.png</string>
            <key>size</key>
            <string>{1158,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38219f80b71be3e4e456a76621fc049c$</string>
            <key>textureFileName</key>
            <string>planes.png</string>
        </dict>
    </dict>
</plist>
