<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{822,925}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,925}}</string>
                <key>sourceSize</key>
                <string>{822,925}</string>
            </dict>
            <key>meteor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,431},{801,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{801,410}}</string>
                <key>sourceSize</key>
                <string>{801,410}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,2},{423,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,427}}</string>
                <key>sourceSize</key>
                <string>{423,427}</string>
            </dict>
            <key>planet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{546,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,274}}</string>
                <key>sourceSize</key>
                <string>{546,274}</string>
            </dict>
            <key>planet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1026},{226,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,174}}</string>
                <key>sourceSize</key>
                <string>{226,174}</string>
            </dict>
            <key>planet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,929},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,142}</string>
            </dict>
            <key>planet_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,929},{155,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,160}}</string>
                <key>sourceSize</key>
                <string>{155,160}</string>
            </dict>
            <key>red_planet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1022,605}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1022,605}}</string>
                <key>sourceSize</key>
                <string>{1022,605}</string>
            </dict>
            <key>small_planet.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,929},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1254},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,929},{372,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,383}}</string>
                <key>sourceSize</key>
                <string>{372,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>space.png</string>
            <key>size</key>
            <string>{1858,1303}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b9f515c9da63410bf6840a6a1b1a243$</string>
            <key>textureFileName</key>
            <string>space.png</string>
        </dict>
    </dict>
</plist>
