<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fg_fbshare_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1335},{262,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{262,265}}</string>
                <key>sourceSize</key>
                <string>{264,265}</string>
            </dict>
            <key>spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{80,188}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,188}}</string>
                <key>sourceSize</key>
                <string>{82,188}</string>
            </dict>
            <key>spinBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1067},{266,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,266}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>spinBtnH.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,799},{266,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,266}}</string>
                <key>sourceSize</key>
                <string>{268,266}</string>
            </dict>
            <key>wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{645,645}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,645}}</string>
                <key>sourceSize</key>
                <string>{645,645}</string>
            </dict>
            <key>wheelBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{795,795}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,795}}</string>
                <key>sourceSize</key>
                <string>{795,795}</string>
            </dict>
            <key>wheelBotton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{651,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,256}}</string>
                <key>sourceSize</key>
                <string>{651,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shareWheel.png</string>
            <key>size</key>
            <string>{919,1704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a20c14e99ed64ef5a458d763da4c4b88:1/1$</string>
            <key>textureFileName</key>
            <string>shareWheel.png</string>
        </dict>
    </dict>
</plist>
