<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,767},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>A_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,742},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,692},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>BtnAuto_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{99,118}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{99,118}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>BtnAuto_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{139,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,136}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>BtnChange_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,516},{99,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{99,113}}</string>
                <key>sourceSize</key>
                <string>{105,121}</string>
            </dict>
            <key>BtnChange_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{99,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{99,113}}</string>
                <key>sourceSize</key>
                <string>{105,121}</string>
            </dict>
            <key>BtnLock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{91,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{91,118}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>BtnLock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,136}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>C_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>C_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,667},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>D_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,617},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>D_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>HelpClose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,842},{57,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,59}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>HelpClose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{57,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,59}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>J_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,617},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,75}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>J_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,75}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>TextBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{1,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,40}}</string>
                <key>sourceSize</key>
                <string>{1,40}</string>
            </dict>
            <key>TextBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,817},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>UIBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{104,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,512}}</string>
                <key>sourceSize</key>
                <string>{104,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d7b670a51f6c28b4670b8e2d63964cb:1/1$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
