<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_resource/theme314/textures/paytable2/theme345_page06.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,708},{516,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,651}}</string>
                <key>sourceSize</key>
                <string>{516,651}</string>
            </dict>
            <key>theme_resource/theme314/textures/paytable2/theme345_page07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{515,802}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,802}}</string>
                <key>sourceSize</key>
                <string>{515,802}</string>
            </dict>
            <key>theme_resource/theme314/textures/paytable2/theme345_page08.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{516,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,704}}</string>
                <key>sourceSize</key>
                <string>{516,704}</string>
            </dict>
            <key>theme_resource/theme314/textures/paytable2/theme345_page09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1419},{525,647}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,647}}</string>
                <key>sourceSize</key>
                <string>{525,647}</string>
            </dict>
            <key>theme_resource/theme314/textures/paytable2/theme345_page10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{506,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,611}}</string>
                <key>sourceSize</key>
                <string>{506,611}</string>
            </dict>
            <key>theme_resource/theme314/textures/paytable2/theme345_paytable_head06.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1479},{303,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,116}}</string>
                <key>sourceSize</key>
                <string>{303,116}</string>
            </dict>
            <key>theme_resource/theme314/textures/paytable2/theme345_paytable_head07.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1597},{268,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,116}}</string>
                <key>sourceSize</key>
                <string>{268,116}</string>
            </dict>
            <key>theme_resource/theme314/textures/paytable2/theme345_paytable_head08.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1361},{373,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,116}}</string>
                <key>sourceSize</key>
                <string>{373,116}</string>
            </dict>
            <key>theme_resource/theme314/textures/paytable2/theme345_paytable_head09.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1715},{206,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,47}}</string>
                <key>sourceSize</key>
                <string>{206,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable2.png</string>
            <key>size</key>
            <string>{1037,1946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d10dbac96a5c79997844ad8fb17d4ca:1/1$</string>
            <key>textureFileName</key>
            <string>paytable2.png</string>
        </dict>
    </dict>
</plist>
