<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>logo_0.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_1.png</key>
<dict>
<key>frame</key>
<string>{{2,152},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_10.png</key>
<dict>
<key>frame</key>
<string>{{144,0},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_11.png</key>
<dict>
<key>frame</key>
<string>{{146,152},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_12.png</key>
<dict>
<key>frame</key>
<string>{{148,304},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_13.png</key>
<dict>
<key>frame</key>
<string>{{290,152},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_14.png</key>
<dict>
<key>frame</key>
<string>{{292,0},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_15.png</key>
<dict>
<key>frame</key>
<string>{{0,304},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_16.png</key>
<dict>
<key>frame</key>
<string>{{292,304},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_17.png</key>
<dict>
<key>frame</key>
<string>{{434,306},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_18.png</key>
<dict>
<key>frame</key>
<string>{{436,458},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_19.png</key>
<dict>
<key>frame</key>
<string>{{290,456},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_2.png</key>
<dict>
<key>frame</key>
<string>{{146,456},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_20.png</key>
<dict>
<key>frame</key>
<string>{{434,2},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_21.png</key>
<dict>
<key>frame</key>
<string>{{2,456},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_22.png</key>
<dict>
<key>frame</key>
<string>{{436,154},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_23.png</key>
<dict>
<key>frame</key>
<string>{{578,460},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_24.png</key>
<dict>
<key>frame</key>
<string>{{288,608},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_25.png</key>
<dict>
<key>frame</key>
<string>{{580,308},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_26.png</key>
<dict>
<key>frame</key>
<string>{{582,156},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_27.png</key>
<dict>
<key>frame</key>
<string>{{584,4},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_28.png</key>
<dict>
<key>frame</key>
<string>{{144,608},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_29.png</key>
<dict>
<key>frame</key>
<string>{{0,608},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_3.png</key>
<dict>
<key>frame</key>
<string>{{434,610},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_30.png</key>
<dict>
<key>frame</key>
<string>{{576,612},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_31.png</key>
<dict>
<key>frame</key>
<string>{{718,614},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_32.png</key>
<dict>
<key>frame</key>
<string>{{286,760},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_33.png</key>
<dict>
<key>frame</key>
<string>{{726,6},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_34.png</key>
<dict>
<key>frame</key>
<string>{{728,158},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_35.png</key>
<dict>
<key>frame</key>
<string>{{730,310},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_36.png</key>
<dict>
<key>frame</key>
<string>{{732,462},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_37.png</key>
<dict>
<key>frame</key>
<string>{{142,760},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_38.png</key>
<dict>
<key>frame</key>
<string>{{0,760},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_39.png</key>
<dict>
<key>frame</key>
<string>{{432,762},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_4.png</key>
<dict>
<key>frame</key>
<string>{{574,764},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_40.png</key>
<dict>
<key>frame</key>
<string>{{716,766},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_41.png</key>
<dict>
<key>frame</key>
<string>{{858,768},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_42.png</key>
<dict>
<key>frame</key>
<string>{{284,912},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_43.png</key>
<dict>
<key>frame</key>
<string>{{874,464},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_44.png</key>
<dict>
<key>frame</key>
<string>{{876,312},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_45.png</key>
<dict>
<key>frame</key>
<string>{{878,160},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_46.png</key>
<dict>
<key>frame</key>
<string>{{880,8},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_47.png</key>
<dict>
<key>frame</key>
<string>{{860,616},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_48.png</key>
<dict>
<key>frame</key>
<string>{{140,912},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_49.png</key>
<dict>
<key>frame</key>
<string>{{430,914},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_5.png</key>
<dict>
<key>frame</key>
<string>{{572,916},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_6.png</key>
<dict>
<key>frame</key>
<string>{{714,918},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_7.png</key>
<dict>
<key>frame</key>
<string>{{856,920},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_8.png</key>
<dict>
<key>frame</key>
<string>{{998,922},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
<key>logo_9.png</key>
<dict>
<key>frame</key>
<string>{{282,1064},{140,150}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,150}}</string>
<key>sourceSize</key>
<string>{140,150}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>logo.png</string>
<key>size</key>
<string>{1138,1214}</string>
<key>textureFileName</key>
<string>logo.png</string>
</dict>
</dict>
</plist>