<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,232},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{10,17}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>auto_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,184},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,46}}</string>
                <key>sourceSize</key>
                <string>{86,48}</string>
            </dict>
            <key>auto_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,184},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,46}}</string>
                <key>sourceSize</key>
                <string>{86,48}</string>
            </dict>
            <key>balance_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,121},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,90}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,132},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>cashout.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,132},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,87}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,22},{246,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,160}}</string>
                <key>sourceSize</key>
                <string>{246,160}</string>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,206},{32,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{32,13}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,184},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,33}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>pro1.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,223},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,22}}</string>
                <key>sourceSize</key>
                <string>{102,24}</string>
            </dict>
            <key>pro2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{596,18}}</string>
                <key>sourceSize</key>
                <string>{602,24}</string>
            </dict>
            <key>text_burst.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{352,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,89}}</string>
                <key>sourceSize</key>
                <string>{352,89}</string>
            </dict>
            <key>trend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{130,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,200}}</string>
                <key>sourceSize</key>
                <string>{132,202}</string>
            </dict>
            <key>trend_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,113},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>trend_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{130,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,2}}</string>
                <key>sourceSize</key>
                <string>{130,2}</string>
            </dict>
            <key>ui_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{128,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,188}}</string>
                <key>sourceSize</key>
                <string>{128,188}</string>
            </dict>
            <key>ui_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,104},{100,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,66}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CricketX.png</string>
            <key>size</key>
            <string>{1002,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0dcf379b543309d9a88c0f4d5935961:1/1$</string>
            <key>textureFileName</key>
            <string>CricketX.png</string>
        </dict>
    </dict>
</plist>
