<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cloud_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{973,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{973,281}}</string>
				<key>sourceSize</key>
				<string>{973,281}</string>
			</dict>
			<key>cloud_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,1},{563,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{976,1},{563,324}}</string>
				<key>sourceSize</key>
				<string>{563,324}</string>
			</dict>
			<key>cloud_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1541,1},{277,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1541,1},{277,200}}</string>
				<key>sourceSize</key>
				<string>{277,200}</string>
			</dict>
			<key>cloud_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,327},{475,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,327},{475,237}}</string>
				<key>sourceSize</key>
				<string>{475,237}</string>
			</dict>
			<key>cloud_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,327},{563,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{478,327},{563,249}}</string>
				<key>sourceSize</key>
				<string>{563,249}</string>
			</dict>
			<key>cloud_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,327},{549,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1043,327},{549,317}}</string>
				<key>sourceSize</key>
				<string>{549,317}</string>
			</dict>
			<key>cloud_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,646},{455,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,646},{455,227}}</string>
				<key>sourceSize</key>
				<string>{455,227}</string>
			</dict>
			<key>cloud_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,646},{451,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{458,646},{451,244}}</string>
				<key>sourceSize</key>
				<string>{451,244}</string>
			</dict>
			<key>cloud_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,892},{1352,495}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,892},{1352,495}}</string>
				<key>sourceSize</key>
				<string>{1352,495}</string>
			</dict>
			<key>cloud_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1389},{885,539}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1389},{885,539}}</string>
				<key>sourceSize</key>
				<string>{885,539}</string>
			</dict>
			<key>cloud_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,1},{1696,656}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1820,1},{1696,656}}</string>
				<key>sourceSize</key>
				<string>{1696,656}</string>
			</dict>
			<key>cloud_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,659},{466,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{911,659},{466,192}}</string>
				<key>sourceSize</key>
				<string>{466,192}</string>
			</dict>
			<key>cloud_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,659},{1016,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1379,659},{1016,233}}</string>
				<key>sourceSize</key>
				<string>{1016,233}</string>
			</dict>
			<key>meta.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3517,1929}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3517,1929}}</string>
				<key>sourceSize</key>
				<string>{3517,1929}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>clouds.png</string>
			<key>size</key>
			<string>{3517,1929}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>clouds@3x.png</string>
		</dict>
	</dict>
</plist>
