<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>81poker_face_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{150,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>81poker_face_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{150,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>82poker_face_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{150,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>82poker_face_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{150,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{176,236}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{176,236}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>mask1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{160,220}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{160,220}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>mask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{160,220}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{160,220}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>num_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{68,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,64},{38,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{38,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{58,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{58,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,188},{60,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{60,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,104},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,146},{40,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,166},{40,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,166},{40,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,104},{40,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,166},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,104},{40,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,202},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{68,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,64},{38,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{38,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{58,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{58,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,188},{60,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{60,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,104},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,62},{40,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,202},{40,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,62},{40,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,166},{40,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,202},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,104},{40,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,202},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>num_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,202},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>poker_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{240,338}}</string>
                <key>sourceSize</key>
                <string>{250,346}</string>
            </dict>
            <key>suit_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>suit_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{88,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>suit_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,96},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>suit_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,100},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{86,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>suit_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,190},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>suit_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,66},{48,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>suit_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,166},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{48,44}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>suit_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,118},{46,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{46,48}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_card2.png</string>
            <key>size</key>
            <string>{1640,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3a6374a55e8d5d0897616060f3c703f:1/1$</string>
            <key>textureFileName</key>
            <string>big_card2.png</string>
        </dict>
    </dict>
</plist>
