<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZTPaoF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>ZTPaoF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,774},{180,170}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>ZTPaoF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,954},{180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>ZTPaoF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,778},{180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>ZTPaoF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,602},{180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>ZTPaoF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,426},{180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>ZTPaoF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,250},{180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>ZTPaoLight01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{482,218}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{482,218}}</string>
                <key>sourceSize</key>
                <string>{568,240}</string>
            </dict>
            <key>ZTPaoLight02.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,409},{516,226}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{516,226}}</string>
                <key>sourceSize</key>
                <string>{568,240}</string>
            </dict>
            <key>ZTPaoLight03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{544,230}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{544,230}}</string>
                <key>sourceSize</key>
                <string>{568,240}</string>
            </dict>
            <key>ZTPaoLight04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{540,240}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{540,240}}</string>
                <key>sourceSize</key>
                <string>{568,240}</string>
            </dict>
            <key>ZTPaoLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,80},{307,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,149}}</string>
                <key>sourceSize</key>
                <string>{307,149}</string>
            </dict>
            <key>ZTPaoPar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,900}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{76,900}}</string>
                <key>sourceSize</key>
                <string>{140,900}</string>
            </dict>
            <key>ZTPaoTong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,938},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>ZTPaoTong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,927},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>ZTPaoTong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,884},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>ZTPaoTong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,830},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>ZTPaoTong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,692},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>ZTPaoTong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,554},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>ZTPaoTong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,823},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>ZTPaoTong_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,685},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>ZTPaoTong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,547},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>ZTPaoTong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,409},{52,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,136}}</string>
                <key>sourceSize</key>
                <string>{52,136}</string>
            </dict>
            <key>ZTPaoZD.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{73,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,246}}</string>
                <key>sourceSize</key>
                <string>{73,246}</string>
            </dict>
            <key>ZTPaoZD1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,231},{176,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,292}}</string>
                <key>sourceSize</key>
                <string>{176,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Aiguille.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd8e23fdca93f668fca78133395e00ef:1/1$</string>
            <key>textureFileName</key>
            <string>Aiguille.png</string>
        </dict>
    </dict>
</plist>
