<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boom02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,830},{64,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{64,69}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,874},{118,131}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{118,131}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,512},{152,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{152,159}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,837},{160,161}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{160,161}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,837},{168,167}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{168,167}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,702},{170,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{170,167}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,666},{174,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,169}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,702},{176,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,169}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,702},{174,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,169}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,666},{172,169}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{172,169}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,338},{172,157}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{172,157}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,660},{172,145}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{172,145}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,873},{172,143}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{172,143}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,873},{146,141}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{146,141}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Boom02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,874},{130,95}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,60},{130,95}}</string>
                <key>sourceSize</key>
                <string>{176,169}</string>
            </dict>
            <key>Bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,934},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>LYFBBoom01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,402},{282,298}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,67},{282,298}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBBoom02.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,686},{274,298}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,67},{274,298}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBBoom03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,338},{296,320}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,55},{296,320}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBBoom04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{314,334}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,46},{314,334}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBBoom05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,308},{318,356}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{318,356}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBBoom06.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,308},{328,376}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{328,376}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBBoom07.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{328,398}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{328,398}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBBoom08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{324,406}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{324,406}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBBoom09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,418}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBBoom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{300,418}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{300,418}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBBoom11.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{304,418}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{304,418}}</string>
                <key>sourceSize</key>
                <string>{328,418}</string>
            </dict>
            <key>LYFBZD_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,962},{54,152}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,152}}</string>
                <key>sourceSize</key>
                <string>{62,190}</string>
            </dict>
            <key>LYFBZD_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,793},{56,156}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,156}}</string>
                <key>sourceSize</key>
                <string>{62,190}</string>
            </dict>
            <key>LYFBZD_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,673},{58,164}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,164}}</string>
                <key>sourceSize</key>
                <string>{62,190}</string>
            </dict>
            <key>LYFBZD_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,733},{58,166}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{58,166}}</string>
                <key>sourceSize</key>
                <string>{62,190}</string>
            </dict>
            <key>LYFBZD_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,837},{58,178}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{58,178}}</string>
                <key>sourceSize</key>
                <string>{62,190}</string>
            </dict>
            <key>LYFBZD_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,913},{60,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,184}}</string>
                <key>sourceSize</key>
                <string>{62,190}</string>
            </dict>
            <key>LYFBZD_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,851},{60,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,184}}</string>
                <key>sourceSize</key>
                <string>{62,190}</string>
            </dict>
            <key>LYFBZD_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,638},{62,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,188}}</string>
                <key>sourceSize</key>
                <string>{62,190}</string>
            </dict>
            <key>LYFBZD_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,638},{62,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,188}}</string>
                <key>sourceSize</key>
                <string>{62,190}</string>
            </dict>
            <key>MaxZD_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,851},{29,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,81}}</string>
                <key>sourceSize</key>
                <string>{35,81}</string>
            </dict>
            <key>MaxZD_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,304},{29,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,81}}</string>
                <key>sourceSize</key>
                <string>{35,81}</string>
            </dict>
            <key>MaxZD_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,901},{33,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,81}}</string>
                <key>sourceSize</key>
                <string>{35,81}</string>
            </dict>
            <key>MaxZD_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,962},{35,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,81}}</string>
                <key>sourceSize</key>
                <string>{35,81}</string>
            </dict>
            <key>MaxZD_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,975},{35,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,81}}</string>
                <key>sourceSize</key>
                <string>{35,81}</string>
            </dict>
            <key>MaxZD_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,851},{35,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,81}}</string>
                <key>sourceSize</key>
                <string>{35,81}</string>
            </dict>
            <key>MaxZD_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,962},{35,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,81}}</string>
                <key>sourceSize</key>
                <string>{35,81}</string>
            </dict>
            <key>MaxZD_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,975},{33,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,81}}</string>
                <key>sourceSize</key>
                <string>{35,81}</string>
            </dict>
            <key>Net.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{237,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,156}}</string>
                <key>sourceSize</key>
                <string>{237,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bullet.png</string>
            <key>size</key>
            <string>{1818,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4027aaccc612243fd8abe55e962cf0$</string>
            <key>textureFileName</key>
            <string>Bullet.png</string>
        </dict>
    </dict>
</plist>
