<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSSBWJLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,165}}</string>
                <key>sourceSize</key>
                <string>{367,165}</string>
            </dict>
            <key>GetScoreBox20.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,259},{301,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,261}}</string>
                <key>sourceSize</key>
                <string>{301,261}</string>
            </dict>
            <key>GetScoreBox21.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{251,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,269}}</string>
                <key>sourceSize</key>
                <string>{251,269}</string>
            </dict>
            <key>GetScoreBox22.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,563},{297,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,253}}</string>
                <key>sourceSize</key>
                <string>{297,253}</string>
            </dict>
            <key>GetScoreBox23.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,255},{306,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,267}}</string>
                <key>sourceSize</key>
                <string>{306,267}</string>
            </dict>
            <key>GetScoreBox24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{343,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,261}}</string>
                <key>sourceSize</key>
                <string>{343,261}</string>
            </dict>
            <key>GetScoreBox30.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{357,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,255}}</string>
                <key>sourceSize</key>
                <string>{357,255}</string>
            </dict>
            <key>GetScoreMinBox20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1638},{110,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1671},{106,154}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1546},{88,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{88,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1792},{78,154}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{78,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1792},{76,154}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{76,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1948},{84,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{84,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,862},{98,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{98,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1484},{110,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{108,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1948},{96,154}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{96,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1700},{84,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{84,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1948},{76,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{76,150}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1948},{78,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{78,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1361},{90,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{90,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox20_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1792},{106,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{106,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,732},{108,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{110,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{110,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,848},{102,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{102,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1048},{88,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{88,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1312},{78,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{78,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1310},{78,156}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{78,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1146},{86,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{86,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{100,156}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{100,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1174},{110,154}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,632},{108,156}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1048},{92,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{92,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{78,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{78,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1470},{76,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{76,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1650},{80,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{80,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox21_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,962},{94,156}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{94,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1018},{110,154}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1548},{100,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{100,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1226},{84,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{84,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1468},{76,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{76,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{76,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{76,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1058},{86,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{86,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,946},{100,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{100,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1330},{110,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{106,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{106,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1205},{92,154}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{92,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{84,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{84,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1394},{76,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{76,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{80,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{80,158}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1515},{88,154}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{88,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox22_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1732},{102,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,522},{108,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,742},{104,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{104,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1142},{86,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{86,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1230},{78,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{78,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1564},{72,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{72,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1318},{82,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{82,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,952},{94,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{94,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,632},{106,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1792},{106,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{106,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,950},{96,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{96,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1402},{80,156}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{80,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1472},{74,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{74,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1224},{84,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{84,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{88,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{88,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox23_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,740},{104,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{104,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{108,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{108,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,842},{102,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1138},{86,156}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{86,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1392},{76,156}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{76,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1390},{76,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{76,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1234},{82,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{82,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,891},{94,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{94,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1638},{108,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{108,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{108,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1049},{94,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{94,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1310},{82,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{82,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,432},{76,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{76,158}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{78,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{78,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1136},{86,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{86,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox24_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1546},{104,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{104,152}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,622},{108,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,510},{110,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{110,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,846},{102,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{102,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{88,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{88,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1484},{78,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{78,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,417},{78,156}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{78,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1048},{86,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{86,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{100,156}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{100,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,862},{110,154}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,522},{108,156}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,575},{92,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{92,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,259},{78,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{78,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{76,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{76,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1548},{80,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{80,154}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>GetScoreMinBox30_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,733},{94,156}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{94,156}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CaptureBG.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fc219d549496582a9d45a6358aa4407:1/1$</string>
            <key>textureFileName</key>
            <string>CaptureBG.png</string>
        </dict>
    </dict>
</plist>
