<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSSXFYLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,646},{306,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,169}}</string>
                <key>sourceSize</key>
                <string>{306,169}</string>
            </dict>
            <key>BOSSXFYPar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,522},{292,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,285}}</string>
                <key>sourceSize</key>
                <string>{292,285}</string>
            </dict>
            <key>DCPaoBox_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{512,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,602}}</string>
                <key>sourceSize</key>
                <string>{512,602}</string>
            </dict>
            <key>DCPaoBox_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{512,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,602}}</string>
                <key>sourceSize</key>
                <string>{512,602}</string>
            </dict>
            <key>DCPaoBox_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{512,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,602}}</string>
                <key>sourceSize</key>
                <string>{512,602}</string>
            </dict>
            <key>DCPaoBox_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,602}}</string>
                <key>sourceSize</key>
                <string>{512,602}</string>
            </dict>
            <key>DCPaoLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1814},{290,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,185}}</string>
                <key>sourceSize</key>
                <string>{290,185}</string>
            </dict>
            <key>DCPaoPar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,392},{128,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>DCPaoPar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,262},{128,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>DCPaoPar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,132},{128,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>DCPaoPar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{128,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>DCPaoPar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,516},{128,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,508}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>DCPaoPar_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{128,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>DCPaoTong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,863},{74,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,128}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,826},{74,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,128}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,809},{74,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,128}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,820},{74,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,128}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,744},{74,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,128}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,668},{74,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,128}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,592},{74,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,128}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,516},{74,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,128}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,817},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,817},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,750},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,674},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,654},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,598},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,522},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,522},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,787},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,750},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,711},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>DCPaoTong_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,516},{74,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,130}}</string>
                <key>sourceSize</key>
                <string>{74,130}</string>
            </dict>
            <key>LYFBScoreBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,646},{154,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{154,63}</string>
            </dict>
            <key>ZDXCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,648},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ZDXDie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,478},{234,238}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{234,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ZDXDie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,2},{240,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ZDXDie_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,242},{234,238}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{234,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ZDXLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{351,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,211}}</string>
                <key>sourceSize</key>
                <string>{351,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ElectroCannon.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:652078bd8aada8fa1998bf6bdec38862:1/1$</string>
            <key>textureFileName</key>
            <string>ElectroCannon.png</string>
        </dict>
    </dict>
</plist>
