<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSSSDLSLine_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{612,59}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{612,59}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLine_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{624,81}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLine_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{612,95}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{612,95}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLine_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,391},{608,67}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{608,67}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLine_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{612,71}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{612,71}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLine_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,535},{608,57}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{608,57}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLine_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{614,67}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{614,67}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLine_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{614,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{614,65}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLine_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,391},{608,63}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,21},{608,63}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLine_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,474},{608,59}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{608,59}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLine_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,391},{610,57}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{610,57}}</string>
                <key>sourceSize</key>
                <string>{626,95}</string>
            </dict>
            <key>BOSSSDLSLog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{251,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,160}}</string>
                <key>sourceSize</key>
                <string>{251,160}</string>
            </dict>
            <key>BOSSSDLSLog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,388},{251,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{251,152}}</string>
                <key>sourceSize</key>
                <string>{251,160}</string>
            </dict>
            <key>BOSSSDLSLog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,320},{251,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{251,152}}</string>
                <key>sourceSize</key>
                <string>{251,160}</string>
            </dict>
            <key>BOSSSDLSLog_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,164},{251,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{251,154}}</string>
                <key>sourceSize</key>
                <string>{251,160}</string>
            </dict>
            <key>Fish28B01.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Fish28B02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,641},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Fish28B03.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,260},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Fish28B04.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,132},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightning0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2121cbcaf6975df27aea1d9a79d2fdf4:1/1$</string>
            <key>textureFileName</key>
            <string>lightning0.png</string>
        </dict>
    </dict>
</plist>
