<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,250},{141,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,50}}</string>
                <key>sourceSize</key>
                <string>{141,50}</string>
            </dict>
            <key>FREE GAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{422,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,246}}</string>
                <key>sourceSize</key>
                <string>{422,246}</string>
            </dict>
            <key>Free Spins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{262,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,50}}</string>
                <key>sourceSize</key>
                <string>{262,50}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,465},{183,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,126}}</string>
                <key>sourceSize</key>
                <string>{183,126}</string>
            </dict>
            <key>bjg.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,250},{341,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{450,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,461}}</string>
                <key>sourceSize</key>
                <string>{450,461}</string>
            </dict>
            <key>you won.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{507,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,129}}</string>
                <key>sourceSize</key>
                <string>{507,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{1009,593}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49234992af3e8297b96cafd84918e63e$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
