<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Common/MagicLady_bonus_tb_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,759},{160,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,191}</string>
			</dict>
			<key>Common/MagicLady_bonus_tb_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,867},{234,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,36}</string>
			</dict>
			<key>Common/MagicLady_extraspins_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,424},{352,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{352,243}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_fz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,164},{36,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,72}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_fz1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,238},{34,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,71}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_fz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,311},{45,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,73}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_fz2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,350},{44,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,72}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_fz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,311},{46,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,75}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_fz3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,350},{44,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,73}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_fz4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,123},{48,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,72}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_fz4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,284},{46,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,71}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_zi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,123},{97,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,39}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_zi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,123},{97,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,39}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_zi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,123},{122,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,39}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai_zi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,123},{122,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,39}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1557,1},{147,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,172}</string>
			</dict>
			<key>Common/MagicLady_extraspins_kapai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,189},{147,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,172}</string>
			</dict>
			<key>Common/MagicLady_extraspins_zi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1},{253,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,31}</string>
			</dict>
			<key>Common/MagicLady_extraspins_zi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,708},{327,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,31}</string>
			</dict>
			<key>Common/MagicLady_extraspins_zi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,834},{300,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,31}</string>
			</dict>
			<key>Common/MagicLady_tc_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{353,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,421}</string>
			</dict>
			<key>Common/MagicLady_tc_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,928},{460,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{460,88}</string>
			</dict>
			<key>Common/MagicLady_tc_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,741},{284,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,91}</string>
			</dict>
			<key>Common/MagicLady_tc_collect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,905},{284,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,91}</string>
			</dict>
			<key>Common/MagicLady_tc_dk.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,415},{196,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,176}</string>
			</dict>
			<key>Common/MagicLady_tc_grand.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,601},{421,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{421,172}</string>
			</dict>
			<key>Common/MagicLady_tc_major.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,424},{421,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{421,175}</string>
			</dict>
			<key>Common/MagicLady_tc_minor.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,778},{421,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{421,176}</string>
			</dict>
			<key>Common/MagicLady_tc_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,1},{280,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,88}</string>
			</dict>
			<key>Common/MagicLady_tc_start1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,160},{280,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,88}</string>
			</dict>
			<key>Common/MagicLady_tc_text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,867},{208,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,43}</string>
			</dict>
			<key>Common/MagicLady_tc_text2.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,708},{250,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,49}</string>
			</dict>
			<key>Common/MagicLady_tc_text31.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,613},{355,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,93}</string>
			</dict>
			<key>Common/MagicLady_tc_text32.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,921},{78,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,361}</string>
			</dict>
			<key>Common/MagicLady_tc_text33.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,775},{151,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,362}</string>
			</dict>
			<key>Common/MagicLady_tc_text33_.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,286},{161,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,99}</string>
			</dict>
			<key>Common/MagicLady_tc_text34.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1},{151,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,361}</string>
			</dict>
			<key>Common/MagicLady_tc_text34_.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,396},{164,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,116}</string>
			</dict>
			<key>Common/MagicLady_tc_text35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1001},{19,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,386}</string>
			</dict>
			<key>Common/MagicLady_tc_text35_.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,162},{186,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,102}</string>
			</dict>
			<key>Common/MagicLady_tc_text4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,956},{443,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,43}</string>
			</dict>
			<key>Common/MagicLady_tc_text5.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,123},{108,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,37}</string>
			</dict>
			<key>Common/MagicLady_tc_text6.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,364},{381,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,49}</string>
			</dict>
			<key>effect/BonusOver_saoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,123},{35,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,104}</string>
			</dict>
			<key>effect/MagicLady_K_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,164},{201,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,118}</string>
			</dict>
			<key>effect/MagicLady_K_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,164},{186,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,120}</string>
			</dict>
			<key>effect/MagicLady_K_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1},{186,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,135}</string>
			</dict>
			<key>effect/Socre_MagicLady_tanban1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1},{59,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,30}</string>
			</dict>
			<key>effect/Socre_MagicLady_tanban2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,62},{59,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MagicLady3.png</string>
			<key>realTextureFileName</key>
			<string>MagicLady3.png</string>
			<key>size</key>
			<string>{1730,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1730</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>