<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/MagicLady_fg_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,788},{84,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,80}</string>
			</dict>
			<key>ui/MagicLady_fg_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,960},{338,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,32}</string>
			</dict>
			<key>ui/MagicLady_jackpot_di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,870},{70,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,62}</string>
			</dict>
			<key>ui/MagicLady_jackpot_di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,116},{70,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,62}</string>
			</dict>
			<key>ui/MagicLady_jackpot_di3.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,180},{70,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,62}</string>
			</dict>
			<key>ui/MagicLady_jackpot_di4.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,116},{70,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,62}</string>
			</dict>
			<key>ui/MagicLady_jackpot_di5.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{396,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,113}</string>
			</dict>
			<key>ui/MagicLady_jackpot_zi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,871},{151,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,34}</string>
			</dict>
			<key>ui/MagicLady_jackpot_zi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,407},{150,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,34}</string>
			</dict>
			<key>ui/MagicLady_jackpot_zi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,871},{119,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,32}</string>
			</dict>
			<key>ui/MagicLady_jackpot_zi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,180},{79,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,31}</string>
			</dict>
			<key>ui/MagicLady_jackpot_zi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,244},{162,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,30}</string>
			</dict>
			<key>ui/MagicLady_jackpot_zi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,720},{308,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,44}</string>
			</dict>
			<key>ui/MagicLady_kapai_mao.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,766},{140,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,192}</string>
			</dict>
			<key>ui/MagicLady_kapai_wa.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,116},{140,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,192}</string>
			</dict>
			<key>ui/MagicLady_kapai_wuya.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,213},{140,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,192}</string>
			</dict>
			<key>ui/MagicLady_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,425},{34,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,368}</string>
			</dict>
			<key>ui/MagicLady_kuang_fg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,93},{23,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,396}</string>
			</dict>
			<key>ui/MagicLady_kuang_shitoudi.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,720},{371,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,48}</string>
			</dict>
			<key>ui/MagicLady_kuang_shitoudi_zi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,871},{267,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,41}</string>
			</dict>
			<key>ui/MagicLady_kuang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,770},{658,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{658,16}</string>
			</dict>
			<key>ui/MagicLady_kuang1_fg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,934},{654,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{654,16}</string>
			</dict>
			<key>ui/MagicLady_kuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,994},{658,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{658,13}</string>
			</dict>
			<key>ui/MagicLady_kuang2_fg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,952},{654,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{654,16}</string>
			</dict>
			<key>ui/MagicLady_kuang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,795},{558,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{558,74}</string>
			</dict>
			<key>ui/MagicLady_kuang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,425},{40,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,255}</string>
			</dict>
			<key>ui/MagicLady_reel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,93},{130,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,330}</string>
			</dict>
			<key>ui/MagicLady_reel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1},{91,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,231}</string>
			</dict>
			<key>ui/MagicLady_shuoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,682},{665,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{665,36}</string>
			</dict>
			<key>ui/MagicLady_xianshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,45},{12,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,37}</string>
			</dict>
			<key>effect/MagicLady_respinSJhuang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,93},{353,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,115}</string>
			</dict>
			<key>effect/MagicLady_respinSJlan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,210},{350,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,115}</string>
			</dict>
			<key>effect/MagicLady_respinSJlv_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,444},{349,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,112}</string>
			</dict>
			<key>effect/MagicLady_respinSJzi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,327},{350,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,115}</string>
			</dict>
			<key>effect/Socre_MagicLady_dk2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,310},{137,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,169}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1},{17,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,42}</string>
			</dict>
			<key>ui/MagicLady_jackpot_di6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{512,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MagicLady2.png</string>
			<key>realTextureFileName</key>
			<string>MagicLady2.png</string>
			<key>size</key>
			<string>{1024,1008}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1008</integer>
		</dict>
	</dict>
</plist>