<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/WinFrameMagicLady_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,908},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,908},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,821},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,821},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,735},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,813},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,735},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,813},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,711},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,789},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,435},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,513},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,591},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,669},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,747},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,76}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,206},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,616},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,206},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,411},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,616},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,206},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,411},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,616},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,206},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/WinFrameMagicLady_run_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,411},{99,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,203}</string>
			</dict>
			<key>effect/MagicLady_BZ2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,899},{108,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,117}</string>
			</dict>
			<key>effect/MagicLady_BZ2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,899},{108,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,117}</string>
			</dict>
			<key>effect/MagicLady_BZ2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,616},{108,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,117}</string>
			</dict>
			<key>effect/MagicLady_BZ2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,891},{108,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,117}</string>
			</dict>
			<key>effect/MagicLady_BZ2_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,891},{108,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,117}</string>
			</dict>
			<key>effect/MagicLady_BZ2_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1},{108,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,117}</string>
			</dict>
			<key>effect/MagicLady_BZ2_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,120},{108,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,117}</string>
			</dict>
			<key>effect/MagicLady_BZ3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,239},{108,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,116}</string>
			</dict>
			<key>effect/MagicLady_BZ3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,357},{108,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,116}</string>
			</dict>
			<key>effect/MagicLady_BZ3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,475},{108,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,116}</string>
			</dict>
			<key>effect/MagicLady_BZ3_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,593},{108,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,116}</string>
			</dict>
			<key>effect/MagicLady_BZ3_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{108,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,116}</string>
			</dict>
			<key>effect/MagicLady_BZ3_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,119},{108,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,116}</string>
			</dict>
			<key>effect/MagicLady_liziTW_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,237},{62,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,196}</string>
			</dict>
			<key>effect/MagicLady_liziTW_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,237},{62,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,196}</string>
			</dict>
			<key>effect/MagicLady_liziTW_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1},{62,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,196}</string>
			</dict>
			<key>effect/MagicLady_liziTW_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,199},{62,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,196}</string>
			</dict>
			<key>effect/MagicLady_liziTW_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,1},{62,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,196}</string>
			</dict>
			<key>effect/MagicLady_liziTW_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,199},{62,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,196}</string>
			</dict>
			<key>effect/MagicLady_NFG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,986},{23,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,20}</string>
			</dict>
			<key>effect/MagicLady_runX_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,561},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,59}</string>
			</dict>
			<key>effect/MagicLady_runX_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,622},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,59}</string>
			</dict>
			<key>effect/MagicLady_runX_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,683},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,59}</string>
			</dict>
			<key>effect/MagicLady_runX_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,744},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,59}</string>
			</dict>
			<key>effect/MagicLady_runX_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,805},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,59}</string>
			</dict>
			<key>effect/MagicLady_runX_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,866},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,59}</string>
			</dict>
			<key>effect/MagicLady_runX_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,927},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,59}</string>
			</dict>
			<key>effect/MagicLady_runX_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,397},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,59}</string>
			</dict>
			<key>effect/MagicLady_runX2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,825},{68,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>
			<key>effect/MagicLady_runX2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,888},{68,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>
			<key>effect/MagicLady_runX2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,825},{68,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>
			<key>effect/MagicLady_runX2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,951},{68,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>
			<key>effect/MagicLady_runX2_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,888},{68,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>
			<key>effect/MagicLady_runX2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,951},{68,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>
			<key>effect/MagicLady_runX2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,435},{68,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>
			<key>effect/MagicLady_runX2_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,498},{68,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>
			<key>effect/MagicLady_YZJ_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,821},{166,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,85}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MagicLady4.png</string>
			<key>realTextureFileName</key>
			<string>MagicLady4.png</string>
			<key>size</key>
			<string>{825,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>825</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>