<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bet_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,88},{104,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,173}}</string>
                <key>sourceSize</key>
                <string>{106,173}</string>
            </dict>
            <key>btn_bet_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,88},{102,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,171}}</string>
                <key>sourceSize</key>
                <string>{106,173}</string>
            </dict>
            <key>btn_bet_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,88},{102,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,171}}</string>
                <key>sourceSize</key>
                <string>{106,173}</string>
            </dict>
            <key>btn_bet_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{96,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,158}}</string>
                <key>sourceSize</key>
                <string>{96,158}</string>
            </dict>
            <key>btn_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,212},{96,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{96,110}</string>
            </dict>
            <key>btn_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,100},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>btn_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,100},{96,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{96,110}</string>
            </dict>
            <key>btn_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,102},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>btn_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{96,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{96,110}</string>
            </dict>
            <key>btn_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,199},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,261},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>frame_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{96,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{96,110}</string>
            </dict>
            <key>frame_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>hand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,100},{68,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,115}}</string>
                <key>sourceSize</key>
                <string>{68,115}</string>
            </dict>
            <key>hand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{51,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,113}}</string>
                <key>sourceSize</key>
                <string>{51,113}</string>
            </dict>
            <key>hand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,102},{102,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
            <key>lien_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,203},{10,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,2}}</string>
                <key>sourceSize</key>
                <string>{10,2}</string>
            </dict>
            <key>line_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,199},{10,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,2}}</string>
                <key>sourceSize</key>
                <string>{10,2}</string>
            </dict>
            <key>line_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,88},{10,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,2}}</string>
                <key>sourceSize</key>
                <string>{10,2}</string>
            </dict>
            <key>op_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{173,181}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,181}}</string>
                <key>sourceSize</key>
                <string>{175,183}</string>
            </dict>
            <key>radio_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,261},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>radio_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,261},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>rec_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,170},{96,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,66}}</string>
                <key>sourceSize</key>
                <string>{96,66}</string>
            </dict>
            <key>rec_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,261},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>rec_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,238},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>rec_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,263},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>rec_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,208},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>rec_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,271},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>rec_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,208},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,84}}</string>
                <key>sourceSize</key>
                <string>{492,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>doubleroll.png</string>
            <key>size</key>
            <string>{994,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70862ef9e9918f5cea43c8f55f171335$</string>
            <key>textureFileName</key>
            <string>doubleroll.png</string>
        </dict>
    </dict>
</plist>
