<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_cafe_opr_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,150},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>bg_cafe_table_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{224,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{224,168}}</string>
                <key>sourceSize</key>
                <string>{230,170}</string>
            </dict>
            <key>bg_cafe_table_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{224,168}}</string>
                <key>sourceSize</key>
                <string>{230,170}</string>
            </dict>
            <key>bg_opr_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{372,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{372,142}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{928,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{928,146}}</string>
                <key>sourceSize</key>
                <string>{930,150}</string>
            </dict>
            <key>btn_cafe_opr_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,150},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>btn_salon_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,2},{360,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{360,116}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>btn_salon_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,150},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{72,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_cafe_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,150},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_cafe_opr_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,120},{114,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{114,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_cafe_opr_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,150},{72,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{72,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_cafe_opr_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,150},{50,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{50,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_cafe_opr_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,150},{46,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{46,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_cafe_opr_private.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,150},{66,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{66,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_cafe_opr_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,150},{108,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{108,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_cafe_opr_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,150},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cafe_opr.png</string>
            <key>size</key>
            <string>{2008,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab1e6b474284a3780c38a6a6b885547d:1/1$</string>
            <key>textureFileName</key>
            <string>cafe_opr.png</string>
        </dict>
    </dict>
</plist>
