<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_cafe_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,108},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>bg_cafe_buffer.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,170},{286,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,66}}</string>
                <key>sourceSize</key>
                <string>{286,66}</string>
            </dict>
            <key>bg_cafe_coin_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,170},{100,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,72}}</string>
                <key>sourceSize</key>
                <string>{100,72}</string>
            </dict>
            <key>bg_cafe_create_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2123,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_cafe_create_item_bottom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,169},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>bg_cafe_create_item_ge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{898,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{898,4}}</string>
                <key>sourceSize</key>
                <string>{898,4}</string>
            </dict>
            <key>bg_cafe_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2325,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bg_cafe_income_ge.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,224},{6,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,58}}</string>
                <key>sourceSize</key>
                <string>{6,58}</string>
            </dict>
            <key>bg_cafe_income_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_cafe_income_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,182},{60,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,130}}</string>
                <key>sourceSize</key>
                <string>{60,130}</string>
            </dict>
            <key>bg_cafe_income_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,134},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bg_cafe_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,172},{744,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,63}}</string>
                <key>sourceSize</key>
                <string>{744,63}</string>
            </dict>
            <key>bg_cafe_info_ge.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,232},{4,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,36}}</string>
                <key>sourceSize</key>
                <string>{4,36}</string>
            </dict>
            <key>bg_cafe_pwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,134},{80,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>bg_cafe_right_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,142},{272,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,106}}</string>
                <key>sourceSize</key>
                <string>{272,106}</string>
            </dict>
            <key>bg_cafe_serach.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,170},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>bg_cafe_table_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bg_cafe_table_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{220,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,168}}</string>
                <key>sourceSize</key>
                <string>{220,168}</string>
            </dict>
            <key>bg_cafe_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{20,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,178}}</string>
                <key>sourceSize</key>
                <string>{20,178}</string>
            </dict>
            <key>btn_cafe_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{2417,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>btn_cafe_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,2},{104,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,56}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>btn_cafe_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,219},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>btn_cafe_find.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,2},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>btn_cafe_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,154},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>btn_cafe_menu_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,2},{262,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,138}}</string>
                <key>sourceSize</key>
                <string>{262,138}</string>
            </dict>
            <key>btn_cafe_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2225,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>btn_cafe_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,2},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>btn_cafe_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_cafe_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{165,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,95}}</string>
                <key>sourceSize</key>
                <string>{165,95}</string>
            </dict>
            <key>icon_cafe_buffer_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2555,58},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>icon_cafe_buffer_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2561,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon_cafe_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,2},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,102}</string>
            </dict>
            <key>icon_cafe_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,108},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>icon_cafe_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2432,90},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>icon_cafe_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{308,166}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{308,166}}</string>
                <key>sourceSize</key>
                <string>{310,170}</string>
            </dict>
            <key>icon_cafe_serach.png</key>
            <dict>
                <key>frame</key>
                <string>{{2505,58},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>icon_cafe_toggle_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2505,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>icon_cafe_toggle_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,170},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>icon_cafe_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{308,166}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{308,166}}</string>
                <key>sourceSize</key>
                <string>{310,170}</string>
            </dict>
            <key>progress_cafe_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,134},{774,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{774,36}}</string>
                <key>sourceSize</key>
                <string>{774,36}</string>
            </dict>
            <key>progress_cafe_coin_drag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,2},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>progress_cafe_coin_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,108},{765,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{765,24}}</string>
                <key>sourceSize</key>
                <string>{765,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cafe_textures.png</string>
            <key>size</key>
            <string>{2642,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd27a4c061e7fa29830073202df13f80$</string>
            <key>textureFileName</key>
            <string>cafe_textures.png</string>
        </dict>
    </dict>
</plist>
