<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,467},{138,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,42}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>biaoti_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{463,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,52}}</string>
                <key>sourceSize</key>
                <string>{463,52}</string>
            </dict>
            <key>icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,735},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,89}</string>
            </dict>
            <key>icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,835},{78,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>jilv_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{98,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>jindutiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{731,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{731,64}}</string>
                <key>sourceSize</key>
                <string>{731,64}</string>
            </dict>
            <key>jindutiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,925},{17,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,64}}</string>
                <key>sourceSize</key>
                <string>{17,64}</string>
            </dict>
            <key>wenzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{243,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,29}}</string>
                <key>sourceSize</key>
                <string>{243,29}</string>
            </dict>
            <key>xiaobiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,960},{33,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,71}}</string>
                <key>sourceSize</key>
                <string>{33,71}</string>
            </dict>
            <key>xiaobiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,925},{33,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,71}}</string>
                <key>sourceSize</key>
                <string>{33,71}</string>
            </dict>
            <key>xiaobiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,607},{43,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,81}}</string>
                <key>sourceSize</key>
                <string>{43,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lhdz_trend.png</string>
            <key>size</key>
            <string>{125,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f94eeea40aef734ac9d802c8522fe181:1/1$</string>
            <key>textureFileName</key>
            <string>lhdz_trend.png</string>
        </dict>
    </dict>
</plist>
