<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BD.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1418},{102,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{102,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ball_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1418},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1418},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1418},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1418},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1278},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1278},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1138},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,998},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ball_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1138},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ball_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,998},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>last.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,844},{66,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>light_0&amp;5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{618,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,280}}</string>
                <key>sourceSize</key>
                <string>{620,280}</string>
            </dict>
            <key>light_0-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{336,388}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,388}}</string>
                <key>sourceSize</key>
                <string>{340,390}</string>
            </dict>
            <key>light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,872},{254,304}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{254,304}}</string>
                <key>sourceSize</key>
                <string>{260,310}</string>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,580},{290,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{290,278}}</string>
                <key>sourceSize</key>
                <string>{290,280}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,742},{256,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{256,254}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,284},{294,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1128},{262,306}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{262,306}}</string>
                <key>sourceSize</key>
                <string>{270,310}</string>
            </dict>
            <key>light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{202,286}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{202,286}}</string>
                <key>sourceSize</key>
                <string>{210,290}</string>
            </dict>
            <key>light_6-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{334,396}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{334,396}}</string>
                <key>sourceSize</key>
                <string>{340,400}</string>
            </dict>
            <key>light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{324,276}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{324,276}}</string>
                <key>sourceSize</key>
                <string>{330,280}</string>
            </dict>
            <key>light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,282},{284,256}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{284,256}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{326,278}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{326,278}}</string>
                <key>sourceSize</key>
                <string>{330,280}</string>
            </dict>
            <key>light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,540},{200,286}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,286}}</string>
                <key>sourceSize</key>
                <string>{200,290}</string>
            </dict>
            <key>pop_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,284},{350,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,38}}</string>
                <key>sourceSize</key>
                <string>{350,40}</string>
            </dict>
            <key>pop_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,742},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>pop_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1192},{72,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pop_last.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1150},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>pop_tit.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{142,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1078},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1006},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,934},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{998,1558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8548bb075dc5f73474049505f02d5bc8$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
