<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{1038,844}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{1038,844}}</string>
                <key>sourceSize</key>
                <string>{1080,850}</string>
            </dict>
            <key>btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1732},{304,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,89}}</string>
                <key>sourceSize</key>
                <string>{304,89}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1233},{310,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,95}}</string>
                <key>sourceSize</key>
                <string>{310,95}</string>
            </dict>
            <key>btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1732},{310,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,94}}</string>
                <key>sourceSize</key>
                <string>{310,94}</string>
            </dict>
            <key>btn_sys.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1738},{304,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,89}}</string>
                <key>sourceSize</key>
                <string>{304,89}</string>
            </dict>
            <key>btn_whatapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1739},{304,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,89}}</string>
                <key>sourceSize</key>
                <string>{304,89}</string>
            </dict>
            <key>code_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1631},{148,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,99}}</string>
                <key>sourceSize</key>
                <string>{148,99}</string>
            </dict>
            <key>coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1551},{201,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,190}}</string>
                <key>sourceSize</key>
                <string>{201,190}</string>
            </dict>
            <key>icon_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,908},{118,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,89}}</string>
                <key>sourceSize</key>
                <string>{118,89}</string>
            </dict>
            <key>icon_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1631},{142,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,90}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>icon_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1631},{105,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,87}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>icon_coin_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,187},{65,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,53}}</string>
                <key>sourceSize</key>
                <string>{65,53}</string>
            </dict>
            <key>icon_coming.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1227},{520,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,402}}</string>
                <key>sourceSize</key>
                <string>{520,402}</string>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{904,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{904,126}}</string>
                <key>sourceSize</key>
                <string>{904,126}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,488},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1631},{106,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,238}}</string>
                <key>sourceSize</key>
                <string>{106,238}</string>
            </dict>
            <key>prog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{904,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{904,31}}</string>
                <key>sourceSize</key>
                <string>{904,31}</string>
            </dict>
            <key>prog_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{896,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,22}}</string>
                <key>sourceSize</key>
                <string>{896,22}</string>
            </dict>
            <key>txt_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,999},{197,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,35}}</string>
                <key>sourceSize</key>
                <string>{197,35}</string>
            </dict>
            <key>txt_current_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1743},{242,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,33}}</string>
                <key>sourceSize</key>
                <string>{242,33}</string>
            </dict>
            <key>txt_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,488},{709,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{709,39}}</string>
                <key>sourceSize</key>
                <string>{709,39}</string>
            </dict>
            <key>txt_invited.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1743},{269,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,33}}</string>
                <key>sourceSize</key>
                <string>{269,33}</string>
            </dict>
            <key>txt_refer_warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,49},{857,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{857,107}}</string>
                <key>sourceSize</key>
                <string>{857,107}</string>
            </dict>
            <key>txt_refer_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1233},{752,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,107}}</string>
                <key>sourceSize</key>
                <string>{752,107}</string>
            </dict>
            <key>txt_reterrals.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1199},{150,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,32}}</string>
                <key>sourceSize</key>
                <string>{150,32}</string>
            </dict>
            <key>txt_rules.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1095},{85,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,28}}</string>
                <key>sourceSize</key>
                <string>{85,28}</string>
            </dict>
            <key>txt_share_link.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1227},{322,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,35}}</string>
                <key>sourceSize</key>
                <string>{322,35}</string>
            </dict>
            <key>txt_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{111,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,45}}</string>
                <key>sourceSize</key>
                <string>{111,45}</string>
            </dict>
            <key>txt_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,371},{115,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,45}}</string>
                <key>sourceSize</key>
                <string>{115,45}</string>
            </dict>
            <key>txt_step3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,254},{115,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,45}}</string>
                <key>sourceSize</key>
                <string>{115,45}</string>
            </dict>
            <key>txt_yesterday_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1987},{283,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,38}}</string>
                <key>sourceSize</key>
                <string>{283,38}</string>
            </dict>
            <key>win_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,999},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>win_coin_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1723},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>refer.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e2d47bd215990ff5174a7320e79f623:1/1$</string>
            <key>textureFileName</key>
            <string>refer.png</string>
        </dict>
    </dict>
</plist>
