<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_auto_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,275},{89,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,104}}</string>
                <key>sourceSize</key>
                <string>{89,104}</string>
            </dict>
            <key>fish_auto_btn_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,93},{89,101}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,101}}</string>
                <key>sourceSize</key>
                <string>{89,107}</string>
            </dict>
            <key>fish_cannon_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,184},{89,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,107}}</string>
                <key>sourceSize</key>
                <string>{89,107}</string>
            </dict>
            <key>fish_cannon_btn_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{89,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,107}}</string>
                <key>sourceSize</key>
                <string>{89,107}</string>
            </dict>
            <key>fish_lock_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,107}}</string>
                <key>sourceSize</key>
                <string>{89,107}</string>
            </dict>
            <key>fish_lock_btn_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{89,103}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,103}}</string>
                <key>sourceSize</key>
                <string>{89,107}</string>
            </dict>
            <key>fish_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{85,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,280}}</string>
                <key>sourceSize</key>
                <string>{85,280}</string>
            </dict>
            <key>fish_menu_exit_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,366},{52,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{52,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish_menu_help_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,466},{46,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{46,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish_menu_left_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,366},{42,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,98}}</string>
                <key>sourceSize</key>
                <string>{42,98}</string>
            </dict>
            <key>fish_menu_mute_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,412},{44,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{44,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish_menu_mute_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,458},{44,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{44,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish_menu_right_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{42,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,98}}</string>
                <key>sourceSize</key>
                <string>{42,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_ui_p99.png</string>
            <key>size</key>
            <string>{216,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2321689718ea6286c8d6ffe581e6d4c3$</string>
            <key>textureFileName</key>
            <string>fish_ui_p99.png</string>
        </dict>
    </dict>
</plist>
