<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_coin_stick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{27,5}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{27,5}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>fish_coin_stick_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{27,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{27,13}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>fish_coin_stick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{27,11}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>fish_coin_stick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{27,17}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>fish_coin_stick_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,23}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>fish_coin_stick_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>fish_coin_stick_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>fish_coin_stick_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>fish_coin_stick_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{25,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{25,23}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>fish_coin_stick_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>fish_coin_stick_bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>fish_coin_stick_bg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>fish_coin_stick_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{26,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,300}}</string>
                <key>sourceSize</key>
                <string>{26,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_coin_stick.png</string>
            <key>size</key>
            <string>{64,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a34a9b322daef8eddd0c7ef4fdd4332a$</string>
            <key>textureFileName</key>
            <string>fish_coin_stick.png</string>
        </dict>
    </dict>
</plist>
