<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme175_win_freegame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,2},{239,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,154}}</string>
                <key>sourceSize</key>
                <string>{239,154}</string>
            </dict>
            <key>theme175_win_freegame_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,243},{237,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,154}}</string>
                <key>sourceSize</key>
                <string>{237,154}</string>
            </dict>
            <key>theme175_win_freegame_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1021},{146,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,153}}</string>
                <key>sourceSize</key>
                <string>{146,153}</string>
            </dict>
            <key>theme175_win_freegame_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{270,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,335}}</string>
                <key>sourceSize</key>
                <string>{270,335}</string>
            </dict>
            <key>theme175_win_freegame_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1000},{179,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,128}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>theme175_win_freegame_collect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,596},{300,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,104}}</string>
                <key>sourceSize</key>
                <string>{300,104}</string>
            </dict>
            <key>theme175_win_freegame_collect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,490},{300,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,104}}</string>
                <key>sourceSize</key>
                <string>{300,104}</string>
            </dict>
            <key>theme175_win_freegame_congratulations.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,534},{433,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,75}}</string>
                <key>sourceSize</key>
                <string>{433,75}</string>
            </dict>
            <key>theme175_win_freegame_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,484},{300,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,104}}</string>
                <key>sourceSize</key>
                <string>{300,104}</string>
            </dict>
            <key>theme175_win_freegame_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,719},{300,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,104}}</string>
                <key>sourceSize</key>
                <string>{300,104}</string>
            </dict>
            <key>theme175_win_freegame_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1130},{434,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,37}}</string>
                <key>sourceSize</key>
                <string>{434,37}</string>
            </dict>
            <key>theme175_win_freegame_youwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1126},{196,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,41}}</string>
                <key>sourceSize</key>
                <string>{196,41}</string>
            </dict>
            <key>theme175_win_mapfeature_100x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1120},{107,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,43}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>theme175_win_mapfeature_10x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1126},{93,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,51}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>theme175_win_mapfeature_25x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,928},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>theme175_win_mapfeature_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,891},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>theme175_win_mapfeature_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,821},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>theme175_win_mapfeature_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,751},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>theme175_win_mapfeature_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{282,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,654}}</string>
                <key>sourceSize</key>
                <string>{282,654}</string>
            </dict>
            <key>theme175_win_mapfeature_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,719},{256,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,132}}</string>
                <key>sourceSize</key>
                <string>{256,132}</string>
            </dict>
            <key>theme175_win_mapfeature_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,2},{380,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,161}}</string>
                <key>sourceSize</key>
                <string>{380,161}</string>
            </dict>
            <key>theme175_win_mapfeature_collect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,484},{371,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,128}}</string>
                <key>sourceSize</key>
                <string>{371,128}</string>
            </dict>
            <key>theme175_win_mapfeature_collect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1000},{371,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,128}}</string>
                <key>sourceSize</key>
                <string>{371,128}</string>
            </dict>
            <key>theme175_win_mapfeature_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,980},{187,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,126}}</string>
                <key>sourceSize</key>
                <string>{187,126}</string>
            </dict>
            <key>theme175_win_mapfeature_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,870},{371,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,128}}</string>
                <key>sourceSize</key>
                <string>{371,128}</string>
            </dict>
            <key>theme175_win_mapfeature_symbol1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,490},{102,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,246}}</string>
                <key>sourceSize</key>
                <string>{102,246}</string>
            </dict>
            <key>theme175_win_mapfeature_symbol2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,482},{128,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>theme175_win_mapfeature_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,286},{484,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,121}}</string>
                <key>sourceSize</key>
                <string>{484,121}</string>
            </dict>
            <key>theme175_win_mapfeature_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,482},{267,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,55}}</string>
                <key>sourceSize</key>
                <string>{267,55}</string>
            </dict>
            <key>theme175_win_mapfeature_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,781},{296,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,39}}</string>
                <key>sourceSize</key>
                <string>{296,39}</string>
            </dict>
            <key>theme175_win_mapfeature_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,1120},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>theme175_win_mapfeature_text5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,786},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>theme175_win_mapfeaturestart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,740},{371,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,128}}</string>
                <key>sourceSize</key>
                <string>{371,128}</string>
            </dict>
            <key>theme175_win_mapfeaturestart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,740},{186,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,64}}</string>
                <key>sourceSize</key>
                <string>{186,64}</string>
            </dict>
            <key>theme175_win_pickfeature_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,530}}</string>
                <key>sourceSize</key>
                <string>{496,530}</string>
            </dict>
            <key>theme175_win_pickfeature_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,980},{185,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,131}}</string>
                <key>sourceSize</key>
                <string>{185,131}</string>
            </dict>
            <key>theme175_win_pickfeature_collect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,614},{321,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,103}}</string>
                <key>sourceSize</key>
                <string>{321,103}</string>
            </dict>
            <key>theme175_win_pickfeature_collect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,614},{321,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,103}}</string>
                <key>sourceSize</key>
                <string>{321,103}</string>
            </dict>
            <key>theme175_win_pickfeature_grand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,969},{276,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,77}}</string>
                <key>sourceSize</key>
                <string>{276,77}</string>
            </dict>
            <key>theme175_win_pickfeature_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,980},{230,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,138}}</string>
                <key>sourceSize</key>
                <string>{230,138}</string>
            </dict>
            <key>theme175_win_pickfeature_major.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,702},{295,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,77}}</string>
                <key>sourceSize</key>
                <string>{295,77}</string>
            </dict>
            <key>theme175_win_pickfeature_mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,822},{247,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,77}}</string>
                <key>sourceSize</key>
                <string>{247,77}</string>
            </dict>
            <key>theme175_win_pickfeature_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,977},{189,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{189,74}}</string>
                <key>sourceSize</key>
                <string>{189,76}</string>
            </dict>
            <key>theme175_win_pickfeature_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1048},{275,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,76}}</string>
                <key>sourceSize</key>
                <string>{275,76}</string>
            </dict>
            <key>theme175_win_pickfeature_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,379},{321,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,103}}</string>
                <key>sourceSize</key>
                <string>{321,103}</string>
            </dict>
            <key>theme175_win_pickfeature_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,274},{321,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,103}}</string>
                <key>sourceSize</key>
                <string>{321,103}</string>
            </dict>
            <key>theme175_win_pickfeature_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,165},{388,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,141}}</string>
                <key>sourceSize</key>
                <string>{388,141}</string>
            </dict>
            <key>theme175_win_pickfeature_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1000},{177,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,41}}</string>
                <key>sourceSize</key>
                <string>{177,41}</string>
            </dict>
            <key>theme175_win_pickfeature_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,740},{154,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,35}}</string>
                <key>sourceSize</key>
                <string>{154,35}</string>
            </dict>
            <key>theme175_win_pickfeature_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,902},{283,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,65}}</string>
                <key>sourceSize</key>
                <string>{283,65}</string>
            </dict>
            <key>theme175_win_pickfeature_ultra.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,901},{255,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,77}}</string>
                <key>sourceSize</key>
                <string>{255,77}</string>
            </dict>
            <key>theme175_win_wheelbonus_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{268,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,376}}</string>
                <key>sourceSize</key>
                <string>{268,376}</string>
            </dict>
            <key>theme175_win_wheelbonus_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,740},{258,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,119}}</string>
                <key>sourceSize</key>
                <string>{258,119}</string>
            </dict>
            <key>theme175_win_wheelbonus_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,534},{388,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,149}}</string>
                <key>sourceSize</key>
                <string>{388,149}</string>
            </dict>
            <key>theme175_win_wheelbonus_bgshine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{265,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,171}}</string>
                <key>sourceSize</key>
                <string>{265,171}</string>
            </dict>
            <key>theme175_win_wheelbonus_collect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,399},{381,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,89}}</string>
                <key>sourceSize</key>
                <string>{381,89}</string>
            </dict>
            <key>theme175_win_wheelbonus_collect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,308},{381,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,89}}</string>
                <key>sourceSize</key>
                <string>{381,89}</string>
            </dict>
            <key>theme175_win_wheelbonus_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,591},{375,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,147}}</string>
                <key>sourceSize</key>
                <string>{375,147}</string>
            </dict>
            <key>theme175_win_wheelbonus_press1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,500},{446,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,89}}</string>
                <key>sourceSize</key>
                <string>{446,89}</string>
            </dict>
            <key>theme175_win_wheelbonus_press2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,409},{446,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,89}}</string>
                <key>sourceSize</key>
                <string>{446,89}</string>
            </dict>
            <key>theme175_win_wheelbonus_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,286},{169,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,155}}</string>
                <key>sourceSize</key>
                <string>{169,155}</string>
            </dict>
            <key>theme175_win_wheelbonus_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,822},{281,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,78}}</string>
                <key>sourceSize</key>
                <string>{281,78}</string>
            </dict>
            <key>theme175_win_wheelbonus_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,924},{234,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,233}}</string>
                <key>sourceSize</key>
                <string>{234,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{2039,1179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aacf08aaab8af82cd2751f5cd044351:1/1$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
