<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_chat_emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{640,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,510}}</string>
                <key>sourceSize</key>
                <string>{640,510}</string>
            </dict>
            <key>bg_chat_emoji_tabbar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,644},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>bg_chat_emoji_tabbar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,737},{10,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,70}}</string>
                <key>sourceSize</key>
                <string>{10,70}</string>
            </dict>
            <key>bg_chat_emoji_tabbar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,644},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>bg_chat_private_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,644},{35,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,71}}</string>
                <key>sourceSize</key>
                <string>{35,71}</string>
            </dict>
            <key>bg_chat_private_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,760}}</string>
                <key>sourceSize</key>
                <string>{81,760}</string>
            </dict>
            <key>btn_chat_private_reply.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,644},{179,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{179,91}}</string>
                <key>sourceSize</key>
                <string>{181,91}</string>
            </dict>
            <key>emotion_icon_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,732},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_icon_00_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,732},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_icon_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,644},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>emotion_icon_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,688},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>emotion_icon_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,716},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>emotion_icon_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,717},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>emotion_icon_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,644},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>emotion_icon_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,716},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_chat_emoji_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,688},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_chat_emoji.png</string>
            <key>size</key>
            <string>{597,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02d2379019a21781529612650a7c212d$</string>
            <key>textureFileName</key>
            <string>texture_chat_emoji.png</string>
        </dict>
    </dict>
</plist>
