<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{220,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,178}}</string>
                <key>sourceSize</key>
                <string>{220,178}</string>
            </dict>
            <key>auto_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,774},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,60}}</string>
                <key>sourceSize</key>
                <string>{112,62}</string>
            </dict>
            <key>auto_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,662},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,60}}</string>
                <key>sourceSize</key>
                <string>{112,62}</string>
            </dict>
            <key>autobet_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,886},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>autobet_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,988},{100,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,71}}</string>
                <key>sourceSize</key>
                <string>{100,71}</string>
            </dict>
            <key>autoplay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1090},{300,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{300,70}}</string>
                <key>sourceSize</key>
                <string>{312,82}</string>
            </dict>
            <key>autoplay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1392},{312,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,82}}</string>
                <key>sourceSize</key>
                <string>{312,82}</string>
            </dict>
            <key>bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1656},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1858},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>btn_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{268,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,218}}</string>
                <key>sourceSize</key>
                <string>{268,218}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{268,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,218}}</string>
                <key>sourceSize</key>
                <string>{268,218}</string>
            </dict>
            <key>btn_cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,218}}</string>
                <key>sourceSize</key>
                <string>{268,218}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1808},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>btn_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1858},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>dot_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1762},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,869},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{200,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,114}}</string>
                <key>sourceSize</key>
                <string>{200,114}</string>
            </dict>
            <key>op_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>pro1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{600,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,20}}</string>
                <key>sourceSize</key>
                <string>{600,20}</string>
            </dict>
            <key>pro2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1160},{600,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,20}}</string>
                <key>sourceSize</key>
                <string>{600,20}</string>
            </dict>
            <key>red_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1504},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>round_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{174,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,94}}</string>
                <key>sourceSize</key>
                <string>{174,94}</string>
            </dict>
            <key>round_num_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{174,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,94}}</string>
                <key>sourceSize</key>
                <string>{174,94}</string>
            </dict>
            <key>trend_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,842},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>trend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1706},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>trend_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1808},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>trend_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{174,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,94}}</string>
                <key>sourceSize</key>
                <string>{174,94}</string>
            </dict>
            <key>xy_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1858},{58,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,61}}</string>
                <key>sourceSize</key>
                <string>{58,61}</string>
            </dict>
            <key>yellow_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1352},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Aviator.png</string>
            <key>size</key>
            <string>{286,1954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e30854302d89d7b25de47da00bee45a9:1/1$</string>
            <key>textureFileName</key>
            <string>Aviator.png</string>
        </dict>
    </dict>
</plist>
