<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,112},{291,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{291,53}}</string>
                <key>sourceSize</key>
                <string>{293,53}</string>
            </dict>
            <key>paytable_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,167},{136,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,51}}</string>
                <key>sourceSize</key>
                <string>{136,53}</string>
            </dict>
            <key>paytable_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{642,53}}</string>
                <key>sourceSize</key>
                <string>{644,53}</string>
            </dict>
            <key>paytable_head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{642,53}}</string>
                <key>sourceSize</key>
                <string>{644,53}</string>
            </dict>
            <key>paytable_head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{305,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{305,51}}</string>
                <key>sourceSize</key>
                <string>{307,53}</string>
            </dict>
            <key>paytable_head6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{400,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{400,53}}</string>
                <key>sourceSize</key>
                <string>{402,53}</string>
            </dict>
            <key>paytable_head7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{400,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{400,53}}</string>
                <key>sourceSize</key>
                <string>{402,53}</string>
            </dict>
            <key>paytable_head8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{342,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{342,53}}</string>
                <key>sourceSize</key>
                <string>{344,53}</string>
            </dict>
            <key>paytable_head9.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,57},{223,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{223,53}}</string>
                <key>sourceSize</key>
                <string>{225,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable.png</string>
            <key>size</key>
            <string>{646,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a919e462ba7911798d467dd51ac708f$</string>
            <key>textureFileName</key>
            <string>paytable.png</string>
        </dict>
    </dict>
</plist>
