<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheel_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{806,805}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,805}}</string>
                <key>sourceSize</key>
                <string>{806,805}</string>
            </dict>
            <key>wheel_zp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{614,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,614}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>wheel_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1093},{194,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,282}}</string>
                <key>sourceSize</key>
                <string>{194,282}</string>
            </dict>
            <key>wheel_zz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,809},{194,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,282}}</string>
                <key>sourceSize</key>
                <string>{194,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wheel.png</string>
            <key>size</key>
            <string>{814,1425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fccf9883c9b16160769294f69cd4a8e4$</string>
            <key>textureFileName</key>
            <string>wheel.png</string>
        </dict>
    </dict>
</plist>
