<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,128},{294,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,124}}</string>
                <key>sourceSize</key>
                <string>{294,124}</string>
            </dict>
            <key>anniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{294,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,124}}</string>
                <key>sourceSize</key>
                <string>{294,124}</string>
            </dict>
            <key>chm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{163,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,131}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>kuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{322,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,206}}</string>
                <key>sourceSize</key>
                <string>{322,206}</string>
            </dict>
            <key>kuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,206}}</string>
                <key>sourceSize</key>
                <string>{322,206}</string>
            </dict>
            <key>kuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,2},{96,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,124}}</string>
                <key>sourceSize</key>
                <string>{96,124}</string>
            </dict>
            <key>kuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,128},{108,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>xiaobiaoti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,210},{296,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{296,36}}</string>
                <key>sourceSize</key>
                <string>{300,40}</string>
            </dict>
            <key>xiaobiaoti_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,210},{264,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{264,36}}</string>
                <key>sourceSize</key>
                <string>{270,40}</string>
            </dict>
            <key>yeqian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,167},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>yeqian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,167},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{80,87}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>safe.png</string>
            <key>size</key>
            <string>{1232,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:950bddea6bd46fedae82d3effd20ac7f$</string>
            <key>textureFileName</key>
            <string>safe.png</string>
        </dict>
    </dict>
</plist>
