<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uno_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1260,1250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{180,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{360,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{540,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{720,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{900,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1080,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1260,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1440,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1620,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1800,0},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{0,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{180,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{360,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{540,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{720,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{900,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1080,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1260,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1440,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1620,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1800,250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{0,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{180,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{360,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{540,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{720,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{900,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1080,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1260,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1440,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1620,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1800,500},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{0,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{180,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{360,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{540,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{720,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{900,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1080,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1260,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1440,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1620,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1800,750},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{0,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{180,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{360,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{540,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{720,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{900,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1080,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1260,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1440,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1620,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1800,1000},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{0,1250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{180,1250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{360,1250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{540,1250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{720,1250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{900,1250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1080,1250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uno_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,250}</string>
                <key>spriteSourceSize</key>
                <string>{180,250}</string>
                <key>textureRect</key>
                <string>{{1440,1250},{180,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1980,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:befb4eb330ddb76c36b3db5a09a1da06:5d1c36c8e912cc7c6bc3fb77d18ac163:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
