<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{302,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{302,60}}</string>
                <key>sourceSize</key>
                <string>{420,60}</string>
            </dict>
            <key>bt_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,72},{414,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{414,46}}</string>
                <key>sourceSize</key>
                <string>{420,60}</string>
            </dict>
            <key>btn_uno.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,120}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>btn_uno_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{134,84}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{134,84}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>btn_uno_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{164,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{164,68}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uno.png</string>
            <key>size</key>
            <string>{1462,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:332205964de949f969246a409ad98fe3:8973824e17cd8ece04e57aba178fb852:e7814ff9b214d1662f8a5fb0002d8f30$</string>
            <key>textureFileName</key>
            <string>uno.png</string>
        </dict>
    </dict>
</plist>
