<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,759},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>A_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,684},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,684},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>BtnAuto_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{99,120}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{99,120}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>BtnAuto_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{139,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,136}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>BtnChange_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,516},{91,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{91,117}}</string>
                <key>sourceSize</key>
                <string>{105,121}</string>
            </dict>
            <key>BtnChange_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{91,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{91,117}}</string>
                <key>sourceSize</key>
                <string>{105,121}</string>
            </dict>
            <key>BtnLock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{91,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{91,122}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>BtnLock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,136}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>C_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,609},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>C_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>D_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,609},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>D_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>HelpClose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{57,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,59}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>HelpClose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,834},{57,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,59}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>J_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,759},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,75}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>J_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,75}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>TextBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{1,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,40}}</string>
                <key>sourceSize</key>
                <string>{1,40}</string>
            </dict>
            <key>TextBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,809},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>UIBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{104,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,512}}</string>
                <key>sourceSize</key>
                <string>{104,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eae620ab24f1bfeed26a9a9aa3ac8004:1/1$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
