<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>record1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,321},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>record2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,280},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>record3.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,371},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>record4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,280},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>record5.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,52},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{42,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>record6.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{42,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>touzhu_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,280},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>touzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,321},{134,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,158}}</string>
                <key>sourceSize</key>
                <string>{134,158}</string>
            </dict>
            <key>touzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,321},{134,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,158}}</string>
                <key>sourceSize</key>
                <string>{134,158}</string>
            </dict>
            <key>touzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,280},{134,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,158}}</string>
                <key>sourceSize</key>
                <string>{134,158}</string>
            </dict>
            <key>touzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,334},{134,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,158}}</string>
                <key>sourceSize</key>
                <string>{134,158}</string>
            </dict>
            <key>touzi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,334},{134,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,158}}</string>
                <key>sourceSize</key>
                <string>{134,158}</string>
            </dict>
            <key>touzi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{134,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,158}}</string>
                <key>sourceSize</key>
                <string>{134,158}</string>
            </dict>
            <key>zhongjiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{379,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,330}}</string>
                <key>sourceSize</key>
                <string>{379,330}</string>
            </dict>
            <key>zhongjiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{345,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,276}}</string>
                <key>sourceSize</key>
                <string>{345,276}</string>
            </dict>
            <key>zhongjiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{317,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,234}}</string>
                <key>sourceSize</key>
                <string>{317,234}</string>
            </dict>
            <key>zoushi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,421},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>zoushi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,100},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>zoushi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,280},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>zoushi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,440},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>zoushi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,440},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>zoushi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,440},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>zoushi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,440},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1010,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c7283632c5865e9db21e8e0114b8002$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
