<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1FS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1743},{100,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{100,184}}</string>
                <key>sourceSize</key>
                <string>{120,194}</string>
            </dict>
            <key>1FSDIS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,670},{86,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{86,168}}</string>
                <key>sourceSize</key>
                <string>{120,194}</string>
            </dict>
            <key>243ways_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1704},{31,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,168}}</string>
                <key>sourceSize</key>
                <string>{31,168}</string>
            </dict>
            <key>243ways_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2005},{29,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,168}}</string>
                <key>sourceSize</key>
                <string>{29,168}</string>
            </dict>
            <key>2FS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1288},{106,184}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{106,184}}</string>
                <key>sourceSize</key>
                <string>{120,194}</string>
            </dict>
            <key>2FSDIS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1010},{96,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{96,168}}</string>
                <key>sourceSize</key>
                <string>{120,194}</string>
            </dict>
            <key>2to10.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,929},{381,97}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{381,97}}</string>
                <key>sourceSize</key>
                <string>{435,97}</string>
            </dict>
            <key>2to5.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1028},{363,97}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{363,97}}</string>
                <key>sourceSize</key>
                <string>{435,97}</string>
            </dict>
            <key>3FS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1180},{106,184}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{106,184}}</string>
                <key>sourceSize</key>
                <string>{120,194}</string>
            </dict>
            <key>3FSDIS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,840},{96,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{96,168}}</string>
                <key>sourceSize</key>
                <string>{120,194}</string>
            </dict>
            <key>3to25.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1920},{395,95}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{395,95}}</string>
                <key>sourceSize</key>
                <string>{435,97}</string>
            </dict>
            <key>5to100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{415,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{415,97}}</string>
                <key>sourceSize</key>
                <string>{435,97}</string>
            </dict>
            <key>BGGrand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1785},{413,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,119}}</string>
                <key>sourceSize</key>
                <string>{413,119}</string>
            </dict>
            <key>BGMajor.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1127},{331,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,119}}</string>
                <key>sourceSize</key>
                <string>{331,119}</string>
            </dict>
            <key>BGMini.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1629},{267,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,119}}</string>
                <key>sourceSize</key>
                <string>{267,119}</string>
            </dict>
            <key>BGMinor.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1607},{293,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,119}}</string>
                <key>sourceSize</key>
                <string>{293,119}</string>
            </dict>
            <key>GRAND.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1985},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{162,48}}</string>
                <key>sourceSize</key>
                <string>{172,50}</string>
            </dict>
            <key>InfoBackground1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,823},{455,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,50}}</string>
                <key>sourceSize</key>
                <string>{455,50}</string>
            </dict>
            <key>MAJOR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1435},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{124,38}}</string>
                <key>sourceSize</key>
                <string>{172,50}</string>
            </dict>
            <key>MINI.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1248},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{78,34}}</string>
                <key>sourceSize</key>
                <string>{172,50}</string>
            </dict>
            <key>MINOR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1028},{108,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{108,36}}</string>
                <key>sourceSize</key>
                <string>{172,50}</string>
            </dict>
            <key>RepeaterBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1284},{634,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,189}}</string>
                <key>sourceSize</key>
                <string>{634,189}</string>
            </dict>
            <key>RepeaterBack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1284},{634,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,189}}</string>
                <key>sourceSize</key>
                <string>{634,189}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{720,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{720,442}}</string>
                <key>sourceSize</key>
                <string>{720,444}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,929},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>column.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,2},{7,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,348}}</string>
                <key>sourceSize</key>
                <string>{7,348}</string>
            </dict>
            <key>congratulation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,2},{658,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,96}}</string>
                <key>sourceSize</key>
                <string>{658,96}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1570},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>extra.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1248},{320,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,98}}</string>
                <key>sourceSize</key>
                <string>{320,98}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{716,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,378}}</string>
                <key>sourceSize</key>
                <string>{716,378}</string>
            </dict>
            <key>frameReel_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,2},{666,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,6}}</string>
                <key>sourceSize</key>
                <string>{666,6}</string>
            </dict>
            <key>free_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,1570},{320,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,53}}</string>
                <key>sourceSize</key>
                <string>{320,53}</string>
            </dict>
            <key>grandbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1396},{306,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,63}}</string>
                <key>sourceSize</key>
                <string>{306,63}</string>
            </dict>
            <key>loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,2},{687,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,68}}</string>
                <key>sourceSize</key>
                <string>{687,68}</string>
            </dict>
            <key>majorbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1396},{306,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,63}}</string>
                <key>sourceSize</key>
                <string>{306,63}</string>
            </dict>
            <key>map_back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1248},{357,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{357,62}}</string>
                <key>sourceSize</key>
                <string>{371,76}</string>
            </dict>
            <key>minibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1435},{306,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,63}}</string>
                <key>sourceSize</key>
                <string>{306,63}</string>
            </dict>
            <key>minorbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1127},{306,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,63}}</string>
                <key>sourceSize</key>
                <string>{306,63}</string>
            </dict>
            <key>pop_bg_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{425,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{425,499}}</string>
                <key>sourceSize</key>
                <string>{427,499}</string>
            </dict>
            <key>pop_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{720,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,393}}</string>
                <key>sourceSize</key>
                <string>{720,393}</string>
            </dict>
            <key>pop_board_mapfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,456}}</string>
                <key>sourceSize</key>
                <string>{720,456}</string>
            </dict>
            <key>repeaterPrize.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,875},{430,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{430,52}}</string>
                <key>sourceSize</key>
                <string>{450,60}</string>
            </dict>
            <key>select_additional.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,724},{494,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{494,97}}</string>
                <key>sourceSize</key>
                <string>{494,125}</string>
            </dict>
            <key>spin_of.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2005},{196,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,27}}</string>
                <key>sourceSize</key>
                <string>{196,27}</string>
            </dict>
            <key>total_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1248},{379,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,80}}</string>
                <key>sourceSize</key>
                <string>{379,80}</string>
            </dict>
            <key>win_all_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1874},{124,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,31}}</string>
                <key>sourceSize</key>
                <string>{124,31}</string>
            </dict>
            <key>winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1704},{223,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,63}}</string>
                <key>sourceSize</key>
                <string>{223,63}</string>
            </dict>
            <key>you_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1929},{250,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,54}}</string>
                <key>sourceSize</key>
                <string>{250,54}</string>
            </dict>
            <key>youve_won.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1902},{188,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,9},{188,111}}</string>
                <key>sourceSize</key>
                <string>{494,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1308,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fe792f7ad75ed2292c584329c788d14$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
