<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{804,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,301}}</string>
                <key>sourceSize</key>
                <string>{804,301}</string>
            </dict>
            <key>btn_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{200,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,295}}</string>
                <key>sourceSize</key>
                <string>{200,295}</string>
            </dict>
            <key>btn_bet_amount.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,473},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,299},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>comb_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,401},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>locker.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,542},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>pt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{188,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,103}}</string>
                <key>sourceSize</key>
                <string>{188,103}</string>
            </dict>
            <key>pt_symbol_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,527},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>radio_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,466},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>radio_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,487},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>record_symbol_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,527},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>result_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,312},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>rish_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,299},{203,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,82}}</string>
                <key>sourceSize</key>
                <string>{203,82}</string>
            </dict>
            <key>risk_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,466},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>select_pos.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{167,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,167}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>sep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,305},{5,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,44}}</string>
                <key>sourceSize</key>
                <string>{5,44}</string>
            </dict>
            <key>sep2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{594,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,5}}</string>
                <key>sourceSize</key>
                <string>{594,5}</string>
            </dict>
            <key>symbol_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,473},{115,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,25},{115,105}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>symbol_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,305},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>symbol_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,473},{115,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{115,129}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>symbol_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,312},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>symbol_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,474},{113,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{113,117}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>symbol_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,312},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>symbol_frm.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,527},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,504},{21,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,165}}</string>
                <key>sourceSize</key>
                <string>{21,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>triple.png</string>
            <key>size</key>
            <string>{1010,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab3b85f0feb0b1be85630457e220f14e$</string>
            <key>textureFileName</key>
            <string>triple.png</string>
        </dict>
    </dict>
</plist>
