<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_chat_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{10,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,210}}</string>
                <key>sourceSize</key>
                <string>{10,210}</string>
            </dict>
            <key>bg_chat_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1040},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_chat_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,2},{700,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,330}}</string>
                <key>sourceSize</key>
                <string>{700,330}</string>
            </dict>
            <key>bg_chat_room_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>bg_friend_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1064,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{1064,4}}</string>
                <key>sourceSize</key>
                <string>{1080,4}</string>
            </dict>
            <key>bg_friend_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,846},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>bg_friend_opr.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,968},{70,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,120}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
            <key>bg_social_bottom_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1341},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>bg_social_bottom_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,844},{139,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,86}}</string>
                <key>sourceSize</key>
                <string>{139,86}</string>
            </dict>
            <key>bg_social_ge.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,214},{180,6}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{180,6}}</string>
                <key>sourceSize</key>
                <string>{190,6}</string>
            </dict>
            <key>bg_social_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,856},{110,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,170}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>bg_social_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,440},{246,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{246,20}}</string>
                <key>sourceSize</key>
                <string>{248,20}</string>
            </dict>
            <key>bg_social_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{151,436}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{151,436}}</string>
                <key>sourceSize</key>
                <string>{153,458}</string>
            </dict>
            <key>bg_social_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,968},{10,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,130}}</string>
                <key>sourceSize</key>
                <string>{10,130}</string>
            </dict>
            <key>btn_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1309},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>btn_emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1073},{103,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{103,106}}</string>
                <key>sourceSize</key>
                <string>{107,106}</string>
            </dict>
            <key>btn_friend_add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,702},{140,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>btn_friend_add_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,704},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>btn_friend_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,704},{140,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>btn_friend_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1416},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_friend_remove.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{140,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>btn_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{210,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,90}}</string>
                <key>sourceSize</key>
                <string>{210,90}</string>
            </dict>
            <key>btn_remove.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1416},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_request.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,440},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
            <key>btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1289},{104,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>btn_social_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1397},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>btn_social_tabbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,704},{66,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,264}}</string>
                <key>sourceSize</key>
                <string>{66,268}</string>
            </dict>
            <key>btn_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1181},{104,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>icon_chat_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1420},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>icon_friend_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,630},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>icon_friend_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1000},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_friend_search_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,970},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>icon_offline.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1420},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>icon_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1420},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>icon_social_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,980},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>icon_social_select_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1237},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>icon_social_select_chat_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1350},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>icon_social_select_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1246},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>icon_social_select_private.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1051},{98,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,91}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>icon_social_select_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1180},{102,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,127}}</string>
                <key>sourceSize</key>
                <string>{102,127}</string>
            </dict>
            <key>icon_social_unselect_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1144},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>icon_social_unselect_chat_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,985},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>icon_social_unselect_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1142},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>icon_social_unselect_private.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,980},{98,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,91}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>icon_social_unselect_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1051},{102,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,127}}</string>
                <key>sourceSize</key>
                <string>{102,127}</string>
            </dict>
            <key>text_friend_jianyi_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,704},{294,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,46}}</string>
                <key>sourceSize</key>
                <string>{294,46}</string>
            </dict>
            <key>text_friend_jianyi_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,704},{354,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,40}}</string>
                <key>sourceSize</key>
                <string>{354,40}</string>
            </dict>
            <key>text_friend_my_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1419},{126,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,44}}</string>
                <key>sourceSize</key>
                <string>{126,44}</string>
            </dict>
            <key>text_friend_my_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,440},{188,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,42}}</string>
                <key>sourceSize</key>
                <string>{188,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_social.png</string>
            <key>size</key>
            <string>{508,1474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c6dffc6c9906aa678ea38d9ef27716d:1/1$</string>
            <key>textureFileName</key>
            <string>texture_social.png</string>
        </dict>
    </dict>
</plist>
