<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plist_puke_back_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{178,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{178,240}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>plist_puke_color_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>plist_puke_color_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,100},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{88,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>plist_puke_color_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{90,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>plist_puke_color_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,94},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{86,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>plist_puke_color_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,196},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>plist_puke_color_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,194},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>plist_puke_color_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,194},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>plist_puke_color_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,196},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>plist_puke_color_xl_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,90},{80,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>plist_puke_color_xl_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{86,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,81}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>plist_puke_color_xl_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,88},{84,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>plist_puke_color_xl_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>plist_puke_color_xl_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,182},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>plist_puke_color_xl_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,182},{48,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>plist_puke_color_xl_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,182},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{48,44}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>plist_puke_color_xl_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,182},{46,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{46,48}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>plist_puke_front_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{178,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{178,240}}</string>
                <key>sourceSize</key>
                <string>{180,250}</string>
            </dict>
            <key>plist_puke_front_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,174},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,78}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>plist_puke_front_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{172,230}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{172,230}}</string>
                <key>sourceSize</key>
                <string>{180,238}</string>
            </dict>
            <key>plist_puke_joker_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{150,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plist_puke_joker_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plist_puke_joker_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,203},{18,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,62}}</string>
                <key>sourceSize</key>
                <string>{18,62}</string>
            </dict>
            <key>plist_puke_joker_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,203},{18,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,62}}</string>
                <key>sourceSize</key>
                <string>{18,62}</string>
            </dict>
            <key>plist_puke_joker_xl_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,199}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,199}}</string>
                <key>sourceSize</key>
                <string>{162,205}</string>
            </dict>
            <key>plist_puke_joker_xl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,199}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,199}}</string>
                <key>sourceSize</key>
                <string>{162,205}</string>
            </dict>
            <key>plist_puke_value_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,177},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>plist_puke_value_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,182},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>plist_puke_value_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,203},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>plist_puke_value_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,182},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>plist_puke_value_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,194},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>plist_puke_value_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,202},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,184},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,194},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>plist_puke_value_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,202},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,184},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,202},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>plist_puke_value_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,176},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,182},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,184},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>plist_puke_value_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,182},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>plist_puke_value_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>plist_puke_value_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,88},{58,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,176},{62,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,202},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,182},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,177},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>plist_puke_value_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,202},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,182},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,202},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>plist_puke_value_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,182},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,182},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_xl_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,2},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,2},{68,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,130},{38,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{38,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,2},{58,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{58,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,176},{60,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{60,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,128},{40,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,66},{40,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,190},{40,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,128},{40,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,130},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,190},{40,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,2},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,66},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,66},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,160},{68,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,2},{38,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{38,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,72},{58,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{58,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,176},{60,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{60,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,128},{40,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,132},{40,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,86},{40,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,44},{40,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,2},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,2},{40,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{40,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,68},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>plist_puke_value_xl_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,138},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokers.png</string>
            <key>size</key>
            <string>{2042,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a096cbcc69dbab16c0c88c22efbe83da:1/1$</string>
            <key>textureFileName</key>
            <string>pokers.png</string>
        </dict>
    </dict>
</plist>
