<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{576,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,70}}</string>
                <key>sourceSize</key>
                <string>{576,70}</string>
            </dict>
            <key>bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,2},{10,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,184}}</string>
                <key>sourceSize</key>
                <string>{10,184}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{666,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,640}}</string>
                <key>sourceSize</key>
                <string>{666,640}</string>
            </dict>
            <key>bg_chat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,254},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg_input2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,913},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{186,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,250}}</string>
                <key>sourceSize</key>
                <string>{188,250}</string>
            </dict>
            <key>btn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,620},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>btn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{192,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,70}}</string>
                <key>sourceSize</key>
                <string>{192,70}</string>
            </dict>
            <key>btn_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,884},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>btn_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,913},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>btn_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,913},{170,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>btn_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{170,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,100}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>btn_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,196},{88,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,40}</string>
            </dict>
            <key>btn_social_tabbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,552},{66,264}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,264}}</string>
                <key>sourceSize</key>
                <string>{66,268}</string>
            </dict>
            <key>chat_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,876},{130,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{130,142}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
            <key>chat_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{553,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,185}}</string>
                <key>sourceSize</key>
                <string>{553,185}</string>
            </dict>
            <key>edit_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{578,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,85}}</string>
                <key>sourceSize</key>
                <string>{578,85}</string>
            </dict>
            <key>emotion_icon_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,966},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_icon_00_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,580},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_icon_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,954},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>emotion_icon_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,969},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>emotion_icon_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,938},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>emotion_icon_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,410},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>emotion_icon_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,956},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>emotion_icon_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,954},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>fast_word_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{550,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,80}}</string>
                <key>sourceSize</key>
                <string>{550,80}</string>
            </dict>
            <key>icon_chat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,900},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>icon_chat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,913},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>icon_emotion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,900},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_emotion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,884},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_history_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,914},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>icon_history_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,866},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>icon_room_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,784},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>icon_room_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,702},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>icon_social_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,582},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>icon_split_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,876},{163,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{163,6}}</string>
                <key>sourceSize</key>
                <string>{169,6}</string>
            </dict>
            <key>icon_word_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,324},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>icon_word_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,238},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,900},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>putin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,582},{47,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>send_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,962},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>tap_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,620},{94,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,254}}</string>
                <key>sourceSize</key>
                <string>{94,254}</string>
            </dict>
            <key>tap_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,620},{94,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,254}}</string>
                <key>sourceSize</key>
                <string>{94,254}</string>
            </dict>
            <key>tap_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,620},{94,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,254}}</string>
                <key>sourceSize</key>
                <string>{94,254}</string>
            </dict>
            <key>tap_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,644},{94,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,254}}</string>
                <key>sourceSize</key>
                <string>{94,254}</string>
            </dict>
            <key>tap_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,644},{94,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,254}}</string>
                <key>sourceSize</key>
                <string>{94,254}</string>
            </dict>
            <key>tap_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,456},{94,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,254}}</string>
                <key>sourceSize</key>
                <string>{94,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat_ui.png</string>
            <key>size</key>
            <string>{1110,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5f3d35bf4ec491d50b0f9dcf9277e9e$</string>
            <key>textureFileName</key>
            <string>chat_ui.png</string>
        </dict>
    </dict>
</plist>
