<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,110}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>joker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,60},{56,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{56,90}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>joker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{56,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{56,90}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>num_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,182},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,180},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,166},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,150},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,36},{32,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,234},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,150},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,148},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,212},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,134},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,182},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,118},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,118},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,116},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,212},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{32,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,212},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,84},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,102},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>num_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,70},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>suit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{38,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>suit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,244},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>suit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,244},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>suit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,198},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>little_card.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da6f3d04656985f5b8770692edbae8fc$</string>
            <key>textureFileName</key>
            <string>little_card.png</string>
        </dict>
    </dict>
</plist>
