<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish022_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,607},{329,301}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{329,301}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{331,301}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{331,301}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1},{329,297}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{329,297}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1},{325,293}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{325,293}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,303},{319,291}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,37},{319,291}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,623},{311,293}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{311,293}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,619},{305,295}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,31},{305,295}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1517},{301,301}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{301,301}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1229},{301,303}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{301,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1517},{303,303}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{303,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1521},{305,303}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{305,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1517},{309,303}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{309,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,917},{309,301}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{309,301}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,905},{309,299}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{309,299}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,297},{311,299}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{311,299}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1213},{315,303}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{315,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,909},{323,303}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{323,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{329,303}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{329,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1},{329,301}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{329,301}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,605},{327,299}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{327,299}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1},{323,295}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{323,295}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,299},{319,295}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{319,295}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,919},{311,297}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{311,297}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1219},{305,301}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{305,301}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1215},{303,301}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{303,301}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1213},{303,303}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{303,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1517},{305,303}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{305,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,925},{307,303}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{307,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,609},{309,299}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{309,299}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,595},{309,299}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{309,299}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,905},{313,295}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{313,295}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,297},{319,297}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{319,297}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Fish022_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,303},{327,301}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{327,301}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish022.png</string>
            <key>size</key>
            <string>{1867,1826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75d3d78f8313cb0bff1b9f528d28ed2e$</string>
            <key>textureFileName</key>
            <string>Fish022.png</string>
        </dict>
    </dict>
</plist>
