<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish021_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,660},{261,210}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{261,210}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,864},{263,210}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{263,210}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,650},{267,212}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{267,212}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,438},{267,220}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{267,220}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{267,226}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{267,226}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,660},{263,230}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{263,230}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,892},{257,230}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{257,230}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,923},{257,228}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{257,228}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{265,222}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{265,222}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{273,216}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{273,216}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,220},{277,214}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{277,214}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{279,214}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{279,214}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,218}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{281,218}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{281,216}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{281,216}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,218},{277,218}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{277,218}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,436},{271,212}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{271,212}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{263,206}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{263,206}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{255,204}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{255,204}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1124},{251,206}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{251,206}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
            <key>Fish021_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1076},{257,208}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{257,208}}</string>
                <key>sourceSize</key>
                <string>{295,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish021.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80aa8a1afc9158637a8f612581042c68:1/1$</string>
            <key>textureFileName</key>
            <string>Fish021.png</string>
        </dict>
    </dict>
</plist>
