<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish012_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{197,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{197,65}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,199},{195,65}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{195,65}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{195,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{195,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,266},{195,63}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{195,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,396},{193,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{193,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{195,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{195,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,201},{195,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{195,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{195,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{195,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,69},{197,63}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{197,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,134},{195,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{195,65}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{197,65}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{195,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{195,65}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,396},{193,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{193,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{193,63}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{193,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,331},{193,63}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{193,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{197,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{197,63}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
            <key>Fish012_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{195,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{195,65}}</string>
                <key>sourceSize</key>
                <string>{205,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish012.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9cc9b3a30941afc3643fefb0d00073b:1/1$</string>
            <key>textureFileName</key>
            <string>Fish012.png</string>
        </dict>
    </dict>
</plist>
