<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish007_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{63,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,268},{63,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,263},{63,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,161},{65,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,212},{65,49}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{65,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,136},{65,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,108},{65,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,108},{65,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{65,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,69},{65,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,55},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,316},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,49}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,267},{63,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,49}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,214},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{63,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,55},{65,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{65,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{63,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{65,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{65,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,203},{63,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{63,51}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,161},{65,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{65,49}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Fish007_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{65,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,49}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish007.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b195e4bc3ab2535de3d221954456bd8:1/1$</string>
            <key>textureFileName</key>
            <string>Fish007.png</string>
        </dict>
    </dict>
</plist>
