<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish020_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,734},{224,248}}</string>
                <key>offset</key>
                <string>{144,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,0},{224,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{236,282}}</string>
                <key>offset</key>
                <string>{138,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,0},{236,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{246,320}}</string>
                <key>offset</key>
                <string>{133,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,0},{246,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{246,338}}</string>
                <key>offset</key>
                <string>{133,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,0},{246,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{254,354}}</string>
                <key>offset</key>
                <string>{129,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,0},{254,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,364}}</string>
                <key>offset</key>
                <string>{127,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,0},{258,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{270,348}}</string>
                <key>offset</key>
                <string>{121,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,37},{270,348}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,702},{246,320}}</string>
                <key>offset</key>
                <string>{-133,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,98},{246,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,690},{228,330}}</string>
                <key>offset</key>
                <string>{-142,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{228,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,352},{218,348}}</string>
                <key>offset</key>
                <string>{-147,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{218,348}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,368},{174,364}}</string>
                <key>offset</key>
                <string>{-169,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{174,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,342},{158,346}}</string>
                <key>offset</key>
                <string>{-177,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{158,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,324},{150,342}}</string>
                <key>offset</key>
                <string>{-181,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{150,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish020_2.png</string>
            <key>size</key>
            <string>{1036,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd541676bd51f08e182afc217efc93f5:3/3$</string>
            <key>textureFileName</key>
            <string>Fish020_2.png</string>
        </dict>
    </dict>
</plist>
