<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish016_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1287},{156,137}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{156,137}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,870},{162,139}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{162,139}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1273},{160,137}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{160,137}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1291},{160,137}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{160,137}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,439},{166,143}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{166,143}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,151},{168,143}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{168,143}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,296},{168,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{168,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,437},{168,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{168,135}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,725},{166,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{166,131}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1132},{162,123}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{162,123}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,725},{166,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{166,131}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{166,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{166,135}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{168,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{168,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,296},{168,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{168,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,584},{166,141}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{166,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{162,139}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{162,139}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1273},{160,139}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{160,139}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1144},{160,141}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{160,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,858},{162,143}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{162,143}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{166,145}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{166,145}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,149},{168,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{168,145}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,149},{168,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{168,145}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,586},{166,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{166,143}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,586},{166,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{166,137}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1142},{162,135}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{162,135}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{162,133}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{162,133}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,296},{168,141}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{168,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{168,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{168,145}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{168,147}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,147}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,574},{166,145}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{166,145}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,727},{164,141}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{164,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1134},{162,137}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{162,137}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1003},{162,137}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{162,137}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,858},{164,139}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{164,139}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,582},{166,141}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{166,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,151},{168,143}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{168,143}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,296},{168,139}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{168,139}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,731},{166,135}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{166,135}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,868},{164,131}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{164,131}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1142},{162,129}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{162,129}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,858},{164,131}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{164,131}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,721},{166,135}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{166,135}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,294},{168,141}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{168,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{168,143}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{168,143}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,439},{166,141}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{166,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1001},{162,139}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{162,139}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1279},{160,137}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{160,137}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1257},{160,139}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{160,139}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,991},{162,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{162,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,439},{166,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{166,145}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,147}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{168,147}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,147}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{168,147}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{162,143}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{162,143}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1011},{162,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{162,131}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,999},{162,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{162,131}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,437},{166,147}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{166,147}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,151},{168,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{168,141}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{168,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{168,145}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,147}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,147}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>Fish016_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{166,145}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish016.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42cb99f3e5e4193af27cef1254b528c5:1/1$</string>
            <key>textureFileName</key>
            <string>Fish016.png</string>
        </dict>
    </dict>
</plist>
