<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish009_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{85,55}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{85,55}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,302},{85,53}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{85,53}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,349},{85,53}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{85,53}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,59},{87,53}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{87,53}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{85,55}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{85,55}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{85,55}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{85,55}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{87,55}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{87,55}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{85,57}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{85,57}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,288},{85,59}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{85,59}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,227},{85,59}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{85,59}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{85,61}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{85,61}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,174},{85,63}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{85,63}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{83,63}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{83,63}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,235},{85,65}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{85,65}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,191},{85,67}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{85,67}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,479},{83,69}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{83,69}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,434},{83,69}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{83,69}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,261},{81,71}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{81,71}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,483},{81,73}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{81,73}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{81,75}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{81,75}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,404},{81,77}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{81,77}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,558},{79,77}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{79,77}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,513},{79,77}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{79,77}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,512},{79,79}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{79,79}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,429},{79,81}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{79,81}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,355},{79,83}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{79,83}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,81},{77,85}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{77,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,71},{77,87}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{77,87}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{77,87}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{77,87}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{75,87}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{75,87}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,73},{75,87}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{75,87}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,150},{75,85}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{75,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,357},{75,83}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{75,83}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,344},{75,83}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{75,83}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,436},{75,81}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{75,81}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,327},{75,83}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{75,83}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,114},{75,85}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{75,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,160},{73,85}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{73,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,404},{73,83}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{73,83}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,150},{73,85}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{73,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{73,85}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{73,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,225},{71,85}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{71,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,89}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{71,89}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{69,89}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{69,89}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{67,89}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,1},{67,89}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,260},{65,85}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{65,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{67,81}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{67,81}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,593},{69,73}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{69,73}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{73,71}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{73,71}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,637},{75,67}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{75,67}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,592},{77,65}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{77,65}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,550},{79,61}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{79,61}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{79,63}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{79,63}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,505},{81,59}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{81,59}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,89},{83,57}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{83,57}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Fish009_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,566},{79,55}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{79,55}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish009.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f32c8743c42a413efb5093124e7382be:1/1$</string>
            <key>textureFileName</key>
            <string>Fish009.png</string>
        </dict>
    </dict>
</plist>
