<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish004_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{49,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,223},{49,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,264},{49,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,264},{49,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,223},{49,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,47},{51,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,133},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,90},{51,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,225},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,39}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{49,37}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,225},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,39}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,90},{51,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,49},{51,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,92},{51,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,219},{49,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,176},{49,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,135},{49,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,135},{49,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,94},{49,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,94},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,49},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,49},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,92},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,223},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,223},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,182},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,94},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{49,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,182},{49,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{49,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,182},{49,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,221},{49,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,47},{51,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{51,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,90},{51,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,47},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,39}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,225},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,39}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,133},{51,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,180},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,47},{51,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{51,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,178},{49,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,180},{49,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,139},{49,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,139},{49,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,174},{49,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,139},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{49,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,268},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,39}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,268},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,39}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,47},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>Fish004_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,133},{49,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish004.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e43dd8805e19664f285237014fe4a61a:1/1$</string>
            <key>textureFileName</key>
            <string>Fish004.png</string>
        </dict>
    </dict>
</plist>
