<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish025_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,277},{115,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{115,77}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,279},{119,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{119,77}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{123,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{123,77}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{123,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{123,75}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,79},{121,77}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,77}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,77}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{129,77}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{127,77}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{119,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{119,79}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{117,79}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{117,79}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,400},{115,79}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{115,79}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,394},{111,79}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{111,79}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,271},{111,77}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{111,77}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,158},{117,77}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{117,77}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{119,77}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{119,77}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>Fish025_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,158},{111,77}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{111,77}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish025.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e13c3772c682211c8f53b022fe75ac39:1/1$</string>
            <key>textureFileName</key>
            <string>Fish025.png</string>
        </dict>
    </dict>
</plist>
