<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish027_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{87,100}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{87,100}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{89,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{89,102}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{91,102}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{91,102}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,210},{95,100}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{95,100}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{99,102}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,102}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,102}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,102}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,314},{95,100}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,100}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{91,100}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{91,100}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,312},{89,100}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{89,100}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{91,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{91,98}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,204},{89,98}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{89,98}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,104},{91,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{91,98}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,414},{93,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{93,98}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,416},{93,98}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{93,98}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Fish027_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,104},{85,100}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{85,100}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish027.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0c01f0420756a939537930f405d55b0:1/1$</string>
            <key>textureFileName</key>
            <string>Fish027.png</string>
        </dict>
    </dict>
</plist>
