<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,192},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{20,16}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,190},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{20,16}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,172},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{20,18}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,152},{18,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,172},{18,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{18,26}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,22},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,66},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{20,34}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,150},{18,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,130},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{20,38}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,42}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,46},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,42}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,44}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{20,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,42}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{18,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{18,44}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,24},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,42}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,68},{18,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{18,42}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,88},{20,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{18,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{18,40}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{18,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,40}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,88},{20,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{18,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,40}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,110},{18,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,40}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,110},{18,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,40}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{20,40}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{18,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,40}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,130},{18,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{18,38}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,44},{20,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{20,34}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{18,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{18,32}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,152},{18,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,170},{18,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{18,26}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,130},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{20,22}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,190},{18,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,170},{20,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{20,18}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Fish001_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,208},{18,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{18,14}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish001.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:859caeed54b98fc356d2f11e2fbb94ba:1/1$</string>
            <key>textureFileName</key>
            <string>Fish001.png</string>
        </dict>
    </dict>
</plist>
