<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish014_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{193,161}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{193,161}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{193,159}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{193,159}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{191,157}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{191,157}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,280},{191,153}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{191,153}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{191,147}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{191,147}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{189,139}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{189,139}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,888},{187,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{187,133}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,888},{189,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{189,125}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,755},{189,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{189,127}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,779},{191,129}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{191,129}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,779},{191,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{191,131}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,469},{191,133}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{191,133}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,145},{193,133}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{193,133}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,586},{191,137}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{191,137}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,586},{191,139}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{191,139}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{193,141}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{193,141}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,779},{191,143}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{191,143}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{191,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{191,145}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{193,149}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{193,149}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,586},{189,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{189,151}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,435},{191,149}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{191,149}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,517},{189,151}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{189,151}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,326},{189,151}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{189,151}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,604},{189,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{189,149}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,739},{189,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{189,147}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,316},{191,151}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{191,151}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,165},{191,159}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{191,159}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,163},{191,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{191,161}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,153},{191,161}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{191,161}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
            <key>Fish014_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,163}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{193,163}}</string>
                <key>sourceSize</key>
                <string>{199,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish014.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56fff196b2ecac474d2ce7d5fd2a9448:1/1$</string>
            <key>textureFileName</key>
            <string>Fish014.png</string>
        </dict>
    </dict>
</plist>
