<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish015_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{218,87}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{218,87}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,464},{220,91}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,42},{220,91}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,365},{222,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,38},{222,97}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,357},{222,101}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,37},{222,101}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,246},{224,107}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{224,107}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,244},{224,111}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{224,111}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,129},{224,113}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{224,113}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,129},{224,115}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{224,115}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{224,117}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{224,117}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,127},{224,117}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{224,117}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,246},{222,117}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{222,117}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,476},{220,117}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{220,117}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,781},{216,121}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{216,121}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,432},{212,123}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{212,123}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,646},{212,125}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{212,125}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1072},{210,125}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{210,125}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,860},{210,125}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{210,125}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1197},{210,119}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{210,119}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1189},{210,113}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{210,113}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,218},{212,105}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{212,105}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,789},{218,93}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{218,93}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,543},{220,85}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{220,85}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,460},{222,81}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,50},{222,81}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,595},{220,81}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{220,81}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{216,85}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,49},{216,85}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1195},{212,87}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,49},{212,87}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1304},{210,91}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,47},{210,91}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1383},{208,95}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,46},{208,95}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1284},{208,99}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,45},{208,99}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{210,101}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,46},{210,101}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1284},{210,103}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,45},{210,103}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1274},{210,107}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,44},{210,107}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,969},{214,111}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{214,111}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{218,115}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{218,115}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,355},{222,119}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,40},{222,119}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{226,125}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{226,125}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,125}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{228,125}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,125}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,39},{228,125}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{226,123}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{226,123}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{222,119}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,45},{222,119}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{222,117}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,45},{222,117}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,630},{218,113}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,46},{218,113}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,884},{216,111}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,45},{216,111}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{218,109}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,46},{218,109}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,745},{218,107}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{218,107}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,672},{218,107}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,49},{218,107}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,678},{218,109}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,47},{218,109}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{220,113}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{220,113}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,557},{218,113}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,45},{218,113}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,854},{216,113}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{216,113}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,997},{214,109}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{214,109}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1082},{214,101}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,42},{214,101}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{214,103}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,41},{214,103}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{214,103}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,39},{214,103}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,989},{214,101}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{214,101}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1092},{212,95}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{212,95}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1185},{212,87}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{212,87}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1108},{214,85}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{214,85}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{214,83}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{214,83}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
            <key>Fish015_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,904},{216,83}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,47},{216,83}}</string>
                <key>sourceSize</key>
                <string>{238,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish015.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f25f09698699516df1263fbbee95dba4:1/1$</string>
            <key>textureFileName</key>
            <string>Fish015.png</string>
        </dict>
    </dict>
</plist>
