<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish006_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,240},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,438},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,238},{62,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{62,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,174},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,372},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,118},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,306},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,240},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,174},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{62,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,60},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,60},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,60},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,60},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{64,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,306},{62,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,118},{64,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,118},{64,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,118},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{66,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{64,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,118},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,54}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{64,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,116},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,58},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,56}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>Fish006_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,58},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish006.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85e4b7641da2efb1ddb9dc327a02e7d9:1/1$</string>
            <key>textureFileName</key>
            <string>Fish006.png</string>
        </dict>
    </dict>
</plist>
