<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish011_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,98},{94,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{94,123}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{96,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,123}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{94,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{94,123}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{92,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{92,121}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,194},{94,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{94,121}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,290},{94,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{94,115}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,120},{92,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{92,121}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,390},{98,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{98,107}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,588},{96,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{96,85}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{96,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{96,77}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{96,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{96,73}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{96,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{96,71}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{96,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,26},{96,71}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,772},{96,73}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{96,73}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,516},{98,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{98,77}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,693},{96,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{96,77}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,677},{96,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{96,79}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,675},{96,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{96,81}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,660},{96,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{96,85}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,588},{96,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{96,87}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{96,95}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{96,95}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,595},{96,97}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{96,97}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,490},{96,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{96,103}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{96,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{96,105}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,386},{96,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{96,109}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{96,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{96,109}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,292},{96,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{96,113}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{96,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{96,115}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,214},{96,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{96,117}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,196},{94,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{94,119}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,100},{94,121}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{94,121}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>Fish011_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,588},{98,70}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{98,70}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,945},{80,68}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{80,68}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,849},{94,94}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{94,94}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,847},{90,92}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{90,92}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,312},{102,112}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{102,112}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,484},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{104,102}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,747},{96,74}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{96,74}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,941},{88,78}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{88,78}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,823},{92,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{92,90}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,416},{106,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{106,98}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{124,116}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{124,116}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{108,124}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{108,124}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Fish011_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,130}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{96,130}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish011.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd392d7f7db0ea9a09ebf34cf49dc3f6:1/1$</string>
            <key>textureFileName</key>
            <string>Fish011.png</string>
        </dict>
    </dict>
</plist>
