<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish005_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,250},{60,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{58,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{58,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{58,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{58,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{58,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,534},{60,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,68}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{58,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{60,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,322},{58,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,604},{56,70}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,676},{58,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,68}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,882},{60,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,66}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,464},{60,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{60,68}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,188},{60,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{60,62}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{60,62}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{60,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{60,62}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,62}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,814},{60,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,66}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,950},{58,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,66}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,394},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,68}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{60,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,68}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,746},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{60,66}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,68}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>Fish005_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish005.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6786dff647d3380637b3f9483c859fc8:1/1$</string>
            <key>textureFileName</key>
            <string>Fish005.png</string>
        </dict>
    </dict>
</plist>
