<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish017_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,746},{209,122}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{209,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,641},{209,122}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{209,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,887},{207,122}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{207,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,622},{209,122}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{209,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,870},{209,120}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{209,120}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,300},{207,122}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{207,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,517},{209,122}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{209,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,498},{209,122}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{209,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,250},{211,122}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{211,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,122}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{217,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{215,122}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{215,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,470},{213,122}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{213,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{215,120}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{215,120}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,255},{213,122}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{213,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,765},{209,120}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{209,120}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,252},{211,120}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{211,120}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,424},{209,120}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{209,120}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,126},{209,124}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{209,124}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,374},{209,122}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{209,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,676},{209,122}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{209,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,465},{209,122}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{209,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{211,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{211,124}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,126},{211,122}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{211,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{215,122}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{215,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{215,122}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{215,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{215,122}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{215,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{215,122}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{215,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,689},{213,122}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{213,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,898},{211,122}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{211,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,685},{211,122}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,29},{211,122}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>Fish017_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,126},{153,78}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{153,78}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,315},{171,58}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{171,58}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,126},{187,74}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{187,74}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{179,98}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{179,98}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,435},{159,80}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,27},{159,80}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,255},{151,84}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{151,84}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,206},{151,92}}</string>
                <key>offset</key>
                <string>{14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{151,92}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,341},{161,92}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{161,92}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,424},{195,80}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,25},{195,80}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,904},{183,96}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{183,96}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,102},{151,126}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,3},{151,126}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
            <key>Fish017_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{149,98}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,5},{149,98}}</string>
                <key>sourceSize</key>
                <string>{201,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish017.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95dadfcee8b0d89289c4af2ac4b597b3:1/1$</string>
            <key>textureFileName</key>
            <string>Fish017.png</string>
        </dict>
    </dict>
</plist>
