<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish020_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1672},{72,202}}</string>
                <key>offset</key>
                <string>{220,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,105},{72,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1162},{78,238}}</string>
                <key>offset</key>
                <string>{217,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,100},{78,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1162},{100,258}}</string>
                <key>offset</key>
                <string>{206,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,61},{100,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1500},{108,260}}</string>
                <key>offset</key>
                <string>{202,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,57},{108,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,342},{120,262}}</string>
                <key>offset</key>
                <string>{196,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,41},{120,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1242},{136,256}}</string>
                <key>offset</key>
                <string>{188,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,37},{136,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,526},{176,272}}</string>
                <key>offset</key>
                <string>{168,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,10},{176,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1598},{202,246}}</string>
                <key>offset</key>
                <string>{155,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,19},{202,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,312},{212,266}}</string>
                <key>offset</key>
                <string>{150,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,7},{212,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1162},{220,274}}</string>
                <key>offset</key>
                <string>{146,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,0},{220,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1762},{238,250}}</string>
                <key>offset</key>
                <string>{137,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,0},{238,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1438},{232,260}}</string>
                <key>offset</key>
                <string>{140,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,0},{232,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1802},{238,302}}</string>
                <key>offset</key>
                <string>{137,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,0},{238,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,378},{266,366}}</string>
                <key>offset</key>
                <string>{123,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,13},{266,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,766},{276,370}}</string>
                <key>offset</key>
                <string>{118,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,31},{276,370}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{282,374}}</string>
                <key>offset</key>
                <string>{115,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,35},{282,374}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{302,388}}</string>
                <key>offset</key>
                <string>{105,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,36},{302,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{312,406}}</string>
                <key>offset</key>
                <string>{100,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,35},{312,406}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{318,424}}</string>
                <key>offset</key>
                <string>{97,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,26},{318,424}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,370}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,71},{432,370}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{430,372}}</string>
                <key>offset</key>
                <string>{-41,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{430,372}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{408,368}}</string>
                <key>offset</key>
                <string>{-52,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,79},{408,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1268},{388,368}}</string>
                <key>offset</key>
                <string>{-62,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,73},{388,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,428},{388,364}}</string>
                <key>offset</key>
                <string>{-62,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{388,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1686},{372,356}}</string>
                <key>offset</key>
                <string>{-70,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{372,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1658},{372,380}}</string>
                <key>offset</key>
                <string>{-70,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{372,380}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1278},{354,400}}</string>
                <key>offset</key>
                <string>{-79,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{354,400}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1680},{340,388}}</string>
                <key>offset</key>
                <string>{-86,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{340,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,868},{330,398}}</string>
                <key>offset</key>
                <string>{-91,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{330,398}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,818},{326,386}}</string>
                <key>offset</key>
                <string>{-93,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{326,386}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,392},{320,386}}</string>
                <key>offset</key>
                <string>{-96,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{320,386}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,780},{314,380}}</string>
                <key>offset</key>
                <string>{-99,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{314,380}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{312,386}}</string>
                <key>offset</key>
                <string>{-100,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{312,386}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,390},{316,374}}</string>
                <key>offset</key>
                <string>{-98,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{316,374}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1264},{310,370}}</string>
                <key>offset</key>
                <string>{-101,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{310,370}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1300},{288,296}}</string>
                <key>offset</key>
                <string>{-112,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,125},{288,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,704},{276,296}}</string>
                <key>offset</key>
                <string>{-118,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,123},{276,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1002},{274,296}}</string>
                <key>offset</key>
                <string>{-119,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{274,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,2},{270,308}}</string>
                <key>offset</key>
                <string>{-121,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,108},{270,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1680},{202,360}}</string>
                <key>offset</key>
                <string>{-155,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{202,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{176,338}}</string>
                <key>offset</key>
                <string>{-168,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{176,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,854},{136,306}}</string>
                <key>offset</key>
                <string>{-188,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{136,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1762},{108,260}}</string>
                <key>offset</key>
                <string>{-202,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{108,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,746},{106,138}}</string>
                <key>offset</key>
                <string>{-203,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,137},{106,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Fish020_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,606},{116,138}}</string>
                <key>offset</key>
                <string>{-198,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{116,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fish020_1.png</string>
            <key>size</key>
            <string>{2046,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd541676bd51f08e182afc217efc93f5:2/3$</string>
            <key>textureFileName</key>
            <string>Fish020_1.png</string>
        </dict>
    </dict>
</plist>
