<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{457,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,96}}</string>
                <key>sourceSize</key>
                <string>{457,96}</string>
            </dict>
            <key>ball1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>dikuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{182,686}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{182,686}}</string>
                <key>sourceSize</key>
                <string>{190,690}</string>
            </dict>
            <key>end_heibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1086},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>end_hongbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,880},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>end_lingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,674},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>kaijiang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{454,324}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{454,324}}</string>
                <key>sourceSize</key>
                <string>{470,350}</string>
            </dict>
            <key>kaijiang_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,344}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{460,344}}</string>
                <key>sourceSize</key>
                <string>{470,350}</string>
            </dict>
            <key>ludan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1240},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ludan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1156},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ludan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1072},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ludan_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,968},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>mengban_zhongjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,870},{116,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{116,96}</string>
            </dict>
            <key>mengban_zhongjiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1460},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>mengban_zhongjiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1460},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>mengban_zhongjiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1460},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>mengban_zhongjiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1460},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>mengban_zhongjiang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,772},{116,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{116,96}</string>
            </dict>
            <key>mengban_zhongjiang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,674},{116,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{116,96}</string>
            </dict>
            <key>my_bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1292},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>routtle36.png</string>
            <key>size</key>
            <string>{510,1532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03d6dab459bedb15f79e70ad118f18b6:1/1$</string>
            <key>textureFileName</key>
            <string>routtle36.png</string>
        </dict>
    </dict>
</plist>
