<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_wenzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1613},{371,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,70}}</string>
                <key>sourceSize</key>
                <string>{371,70}</string>
            </dict>
            <key>anniu_wenzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1565},{369,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,70}}</string>
                <key>sourceSize</key>
                <string>{369,70}</string>
            </dict>
            <key>biaoti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1037},{550,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,36}}</string>
                <key>sourceSize</key>
                <string>{550,36}</string>
            </dict>
            <key>biaoti_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,1037},{574,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,44}}</string>
                <key>sourceSize</key>
                <string>{574,44}</string>
            </dict>
            <key>biaoti_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1037},{503,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,37}}</string>
                <key>sourceSize</key>
                <string>{503,37}</string>
            </dict>
            <key>biaoti_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1412},{255,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,45}}</string>
                <key>sourceSize</key>
                <string>{255,45}</string>
            </dict>
            <key>biaoti_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1037},{680,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,37}}</string>
                <key>sourceSize</key>
                <string>{680,37}</string>
            </dict>
            <key>biaoti_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1037},{526,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,37}}</string>
                <key>sourceSize</key>
                <string>{526,37}</string>
            </dict>
            <key>biaoti_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1719},{214,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,72}}</string>
                <key>sourceSize</key>
                <string>{214,72}</string>
            </dict>
            <key>btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1321},{276,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,89}}</string>
                <key>sourceSize</key>
                <string>{276,89}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1037},{438,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,125}}</string>
                <key>sourceSize</key>
                <string>{438,125}</string>
            </dict>
            <key>btn_sys.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1230},{304,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,89}}</string>
                <key>sourceSize</key>
                <string>{304,89}</string>
            </dict>
            <key>btn_whatapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1139},{304,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,89}}</string>
                <key>sourceSize</key>
                <string>{304,89}</string>
            </dict>
            <key>db.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1583},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1037},{423,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,15}}</string>
                <key>sourceSize</key>
                <string>{423,15}</string>
            </dict>
            <key>guanggao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,760},{282,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,377}}</string>
                <key>sourceSize</key>
                <string>{282,377}</string>
            </dict>
            <key>guanggao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,381},{282,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,377}}</string>
                <key>sourceSize</key>
                <string>{282,377}</string>
            </dict>
            <key>guanggao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{282,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,377}}</string>
                <key>sourceSize</key>
                <string>{282,377}</string>
            </dict>
            <key>icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1720},{162,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,175}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1542},{162,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,176}}</string>
                <key>sourceSize</key>
                <string>{162,176}</string>
            </dict>
            <key>icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1813},{163,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,175}}</string>
                <key>sourceSize</key>
                <string>{163,175}</string>
            </dict>
            <key>icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1636},{163,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,175}}</string>
                <key>sourceSize</key>
                <string>{163,175}</string>
            </dict>
            <key>icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1459},{163,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,175}}</string>
                <key>sourceSize</key>
                <string>{163,175}</string>
            </dict>
            <key>item_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1459},{122,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,102}}</string>
                <key>sourceSize</key>
                <string>{122,102}</string>
            </dict>
            <key>numinfo_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1033,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1033,373}}</string>
                <key>sourceSize</key>
                <string>{1033,373}</string>
            </dict>
            <key>shuoming_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1690},{98,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1935},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>tianwen_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1477},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>xinxi_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1780},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ReferEarn.png</string>
            <key>size</key>
            <string>{661,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35c40b351829581d0e26aa3527170b0b:1/1$</string>
            <key>textureFileName</key>
            <string>ReferEarn.png</string>
        </dict>
    </dict>
</plist>
