<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,448},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>base_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{533,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,119}}</string>
                <key>sourceSize</key>
                <string>{533,119}</string>
            </dict>
            <key>base_collect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,225},{359,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,74}}</string>
                <key>sourceSize</key>
                <string>{359,74}</string>
            </dict>
            <key>base_collect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,669},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>base_collect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,676},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>base_collect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,396},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>base_collect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,680},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>base_collect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,676},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>base_ta1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,128},{198,521}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,34},{198,521}}</string>
                <key>sourceSize</key>
                <string>{264,589}</string>
            </dict>
            <key>base_ta2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,535},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>base_ta3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,603},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>base_ta4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{199,523}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{199,523}}</string>
                <key>sourceSize</key>
                <string>{265,589}</string>
            </dict>
            <key>base_ta5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,603},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>base_ta6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,603},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>d_btn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,215},{282,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,77}}</string>
                <key>sourceSize</key>
                <string>{282,77}</string>
            </dict>
            <key>d_btn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,136},{282,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,77}}</string>
                <key>sourceSize</key>
                <string>{282,77}</string>
            </dict>
            <key>d_btn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,601},{309,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,77}}</string>
                <key>sourceSize</key>
                <string>{309,77}</string>
            </dict>
            <key>d_btn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,380},{309,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,77}}</string>
                <key>sourceSize</key>
                <string>{309,77}</string>
            </dict>
            <key>dialog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,680},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>dialog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,680},{57,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,36}}</string>
                <key>sourceSize</key>
                <string>{57,36}</string>
            </dict>
            <key>dialog_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,380},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>dialog_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,525},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,128},{132,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,169}}</string>
                <key>sourceSize</key>
                <string>{132,169}</string>
            </dict>
            <key>frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,397},{126,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,384}}</string>
                <key>sourceSize</key>
                <string>{126,384}</string>
            </dict>
            <key>frame_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,65},{720,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,61}}</string>
                <key>sourceSize</key>
                <string>{720,61}</string>
            </dict>
            <key>frame_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,479},{38,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,327}}</string>
                <key>sourceSize</key>
                <string>{38,327}</string>
            </dict>
            <key>frame_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,123},{11,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,406}}</string>
                <key>sourceSize</key>
                <string>{11,406}</string>
            </dict>
            <key>frame_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,626},{16,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,62}}</string>
                <key>sourceSize</key>
                <string>{16,62}</string>
            </dict>
            <key>frame_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{720,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,61}}</string>
                <key>sourceSize</key>
                <string>{720,61}</string>
            </dict>
            <key>jp_grand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,136},{354,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,87}}</string>
                <key>sourceSize</key>
                <string>{354,87}</string>
            </dict>
            <key>jp_grand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,627},{354,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,87}}</string>
                <key>sourceSize</key>
                <string>{354,87}</string>
            </dict>
            <key>jp_grand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,294},{152,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,44}}</string>
                <key>sourceSize</key>
                <string>{152,44}</string>
            </dict>
            <key>jp_major.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,541},{304,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,80}}</string>
                <key>sourceSize</key>
                <string>{304,80}</string>
            </dict>
            <key>jp_major_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,459},{304,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,80}}</string>
                <key>sourceSize</key>
                <string>{304,80}</string>
            </dict>
            <key>jp_major_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,626},{133,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,48}}</string>
                <key>sourceSize</key>
                <string>{133,48}</string>
            </dict>
            <key>jp_maxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,519},{304,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,80}}</string>
                <key>sourceSize</key>
                <string>{304,80}</string>
            </dict>
            <key>jp_maxi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,397},{304,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,80}}</string>
                <key>sourceSize</key>
                <string>{304,80}</string>
            </dict>
            <key>jp_maxi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,294},{100,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>jp_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,457},{304,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,76}}</string>
                <key>sourceSize</key>
                <string>{304,76}</string>
            </dict>
            <key>jp_mini_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,379},{304,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,76}}</string>
                <key>sourceSize</key>
                <string>{304,76}</string>
            </dict>
            <key>jp_mini_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,680},{78,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,37}}</string>
                <key>sourceSize</key>
                <string>{78,37}</string>
            </dict>
            <key>jp_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,301},{304,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,76}}</string>
                <key>sourceSize</key>
                <string>{304,76}</string>
            </dict>
            <key>jp_minor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,623},{304,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,76}}</string>
                <key>sourceSize</key>
                <string>{304,76}</string>
            </dict>
            <key>jp_minor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,2},{114,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,37}}</string>
                <key>sourceSize</key>
                <string>{114,37}</string>
            </dict>
            <key>jp_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,626},{202,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,99}}</string>
                <key>sourceSize</key>
                <string>{202,99}</string>
            </dict>
            <key>jp_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{251,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,98}}</string>
                <key>sourceSize</key>
                <string>{251,98}</string>
            </dict>
            <key>jp_tip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,525},{396,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,99}}</string>
                <key>sourceSize</key>
                <string>{396,99}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,535},{307,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,66}}</string>
                <key>sourceSize</key>
                <string>{307,66}</string>
            </dict>
            <key>pick_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{654,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,384}}</string>
                <key>sourceSize</key>
                <string>{654,384}</string>
            </dict>
            <key>pick_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{566,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,36}}</string>
                <key>sourceSize</key>
                <string>{566,36}</string>
            </dict>
            <key>pick_collect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,301},{360,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,77}}</string>
                <key>sourceSize</key>
                <string>{360,77}</string>
            </dict>
            <key>pick_freegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,328},{549,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,36}}</string>
                <key>sourceSize</key>
                <string>{549,36}</string>
            </dict>
            <key>pick_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,366},{421,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,29}}</string>
                <key>sourceSize</key>
                <string>{421,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseImg.png</string>
            <key>size</key>
            <string>{1966,727}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79ad95d36674d72d9591ff23c7aa5d78$</string>
            <key>textureFileName</key>
            <string>baseImg.png</string>
        </dict>
    </dict>
</plist>
