<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme227_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,199},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>theme227_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>theme227_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>theme227_s_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,124},{95,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{95,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>theme227_s_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{126,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{126,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>theme227_s_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{126,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{126,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>theme227_s_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,578},{96,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>theme227_s_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,528},{86,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>theme227_s_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,338},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>theme227_s_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,616},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>theme227_s_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,440},{86,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>theme227_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,666},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{46,64}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>theme227_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,227},{82,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{82,64}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>theme227_s_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,658},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,64}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>theme227_s_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,195}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{185,195}}</string>
                <key>sourceSize</key>
                <string>{195,201}</string>
            </dict>
            <key>theme227_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{128,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,111}}</string>
                <key>sourceSize</key>
                <string>{128,111}</string>
            </dict>
            <key>theme227_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,312},{98,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,118}</string>
            </dict>
            <key>theme227_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,218},{98,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{98,92}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>theme227_s_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,592},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>theme227_s_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{128,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>theme227_s_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{126,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{126,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>theme227_s_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,472},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>theme227_s_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,352},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>theme227_s_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,232},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>theme227_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,508},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,114}</string>
            </dict>
            <key>theme227_s_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,124},{120,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>theme227_s_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,472},{104,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{104,90}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>theme227_s_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,352},{104,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{104,90}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>theme227_s_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,232},{104,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{104,90}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>theme227_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,412},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>theme227_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,122},{98,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,94}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>theme227_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,658},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>theme227_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,602},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{508,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cd47aa19225c1d5f57a71770f13a604$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
