<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paoma_color1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{168,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,132}}</string>
                <key>sourceSize</key>
                <string>{172,132}</string>
            </dict>
            <key>paoma_color2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{168,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,132}}</string>
                <key>sourceSize</key>
                <string>{172,132}</string>
            </dict>
            <key>paoma_color3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{170,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,132}}</string>
                <key>sourceSize</key>
                <string>{172,132}</string>
            </dict>
            <key>paoma_color4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{168,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,132}}</string>
                <key>sourceSize</key>
                <string>{172,132}</string>
            </dict>
            <key>paoma_color5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{170,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,132}}</string>
                <key>sourceSize</key>
                <string>{172,132}</string>
            </dict>
            <key>paoma_color6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{172,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,132}}</string>
                <key>sourceSize</key>
                <string>{172,132}</string>
            </dict>
            <key>paoma_endline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,246}}</string>
                <key>sourceSize</key>
                <string>{82,246}</string>
            </dict>
            <key>paoma_horse_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{324,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,228}}</string>
                <key>sourceSize</key>
                <string>{324,228}</string>
            </dict>
            <key>paoma_info_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,738},{314,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,66}}</string>
                <key>sourceSize</key>
                <string>{314,66}</string>
            </dict>
            <key>paoma_info_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{324,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,228}}</string>
                <key>sourceSize</key>
                <string>{324,228}</string>
            </dict>
            <key>paoma_jiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1541},{77,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,96}}</string>
                <key>sourceSize</key>
                <string>{77,96}</string>
            </dict>
            <key>paoma_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{1034,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1034,34}}</string>
                <key>sourceSize</key>
                <string>{1034,34}</string>
            </dict>
            <key>paoma_js_horse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1889},{140,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,125}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>paoma_js_horse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1885},{140,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,125}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>paoma_js_horse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1762},{140,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,125}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>paoma_js_horse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{140,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,125}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>paoma_js_horse5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1631},{140,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,125}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>paoma_js_horse6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1620},{140,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,125}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>paoma_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1456},{51,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,83}}</string>
                <key>sourceSize</key>
                <string>{51,83}</string>
            </dict>
            <key>paoma_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1426},{51,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,83}}</string>
                <key>sourceSize</key>
                <string>{51,83}</string>
            </dict>
            <key>paoma_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1371},{51,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,83}}</string>
                <key>sourceSize</key>
                <string>{51,83}</string>
            </dict>
            <key>paoma_rank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1286},{51,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,83}}</string>
                <key>sourceSize</key>
                <string>{51,83}</string>
            </dict>
            <key>paoma_rank5.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1201},{51,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,83}}</string>
                <key>sourceSize</key>
                <string>{51,83}</string>
            </dict>
            <key>paoma_rank6.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1117},{50,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,82}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>paoma_result1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1364},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>paoma_result2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1302},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>paoma_result3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1240},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>paoma_result4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1178},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>paoma_result5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1116},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>paoma_result6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1054},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>paoma_trend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{146,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,87}}</string>
                <key>sourceSize</key>
                <string>{146,87}</string>
            </dict>
            <key>paoma_trend_bgNEW.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1038},{77,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,28}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_paoma.png</string>
            <key>size</key>
            <string>{289,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c479df0d9f70b76df8c631617ee4ffbb:1/1$</string>
            <key>textureFileName</key>
            <string>game_paoma.png</string>
        </dict>
    </dict>
</plist>
