<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,717},{48,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,52}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,823},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>props_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{235,338}}</string>
                <key>offset</key>
                <string>{0,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{235,338}}</string>
                <key>sourceSize</key>
                <string>{331,450}</string>
            </dict>
            <key>props_dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,614},{332,226}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{332,226}}</string>
                <key>sourceSize</key>
                <string>{334,278}</string>
            </dict>
            <key>r_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,664},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>r_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,717},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>r_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,771},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>r_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,664},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>rwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{348,297}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{348,297}}</string>
                <key>sourceSize</key>
                <string>{350,299}</string>
            </dict>
            <key>xuanzhong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{399,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,610}}</string>
                <key>sourceSize</key>
                <string>{399,610}</string>
            </dict>
            <key>xuanzhong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{606,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,285}}</string>
                <key>sourceSize</key>
                <string>{606,285}</string>
            </dict>
            <key>yizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,352},{286,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{286,310}}</string>
                <key>sourceSize</key>
                <string>{288,312}</string>
            </dict>
            <key>zuomian_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,664},{104,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,51}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{989,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8c9d21c11820d2b6f23bb8437c0521a$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
