<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ReferEarn.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1026,740}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,16},{1026,740}}</string>
                <key>sourceSize</key>
                <string>{1080,760}</string>
            </dict>
            <key>record.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,278},{138,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{138,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,142},{138,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{138,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,140},{138,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{138,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>witchdraw.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{138,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{138,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop_yd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f497ae8ac65ff1fbfdb96c62a1792ea3:1/1$</string>
            <key>textureFileName</key>
            <string>shop_yd.png</string>
        </dict>
    </dict>
</plist>
