<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme115_bg_dimmer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,660}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,660}}</string>
                <key>sourceSize</key>
                <string>{272,660}</string>
            </dict>
            <key>theme115_collect_buttonBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,832},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>theme115_collect_button_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,784},{64,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,103}}</string>
                <key>sourceSize</key>
                <string>{64,103}</string>
            </dict>
            <key>theme115_collect_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,679},{64,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,103}}</string>
                <key>sourceSize</key>
                <string>{64,103}</string>
            </dict>
            <key>theme115_collect_button_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,668},{56,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{56,89}}</string>
                <key>sourceSize</key>
                <string>{64,103}</string>
            </dict>
            <key>theme115_collect_coinLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,668},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>theme115_collect_coinProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{531,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,31}}</string>
                <key>sourceSize</key>
                <string>{531,31}</string>
            </dict>
            <key>theme115_collect_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{706,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,56}}</string>
                <key>sourceSize</key>
                <string>{706,56}</string>
            </dict>
            <key>theme115_collect_frame_boarder.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,896},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>theme115_collect_house1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,870},{57,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>theme115_collect_house2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,740},{61,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>theme115_collect_house3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,805},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>theme115_collect_house4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,759},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>theme115_collect_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,982},{45,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,13}}</string>
                <key>sourceSize</key>
                <string>{45,13}</string>
            </dict>
            <key>theme115_jp_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{489,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,121}}</string>
                <key>sourceSize</key>
                <string>{489,121}</string>
            </dict>
            <key>theme115_jp_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{246,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,94}}</string>
                <key>sourceSize</key>
                <string>{246,94}</string>
            </dict>
            <key>theme115_jp_frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{245,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,94}}</string>
                <key>sourceSize</key>
                <string>{245,94}</string>
            </dict>
            <key>theme115_jp_frame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{246,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,91}}</string>
                <key>sourceSize</key>
                <string>{246,91}</string>
            </dict>
            <key>theme115_jp_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,710},{184,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,55}}</string>
                <key>sourceSize</key>
                <string>{184,55}</string>
            </dict>
            <key>theme115_jp_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,493},{184,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,67}}</string>
                <key>sourceSize</key>
                <string>{184,67}</string>
            </dict>
            <key>theme115_jp_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,720},{175,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,55}}</string>
                <key>sourceSize</key>
                <string>{175,55}</string>
            </dict>
            <key>theme115_jp_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,606},{145,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,60}}</string>
                <key>sourceSize</key>
                <string>{145,60}</string>
            </dict>
            <key>theme115_reel_bg_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,304},{100,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,300}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>theme115_reel_bg_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{100,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,300}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>theme115_reel_divider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{8,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,188}}</string>
                <key>sourceSize</key>
                <string>{8,188}</string>
            </dict>
            <key>theme115_reel_divider_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,664},{4,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,2}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>theme115_reel_ear_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,493},{34,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,103}}</string>
                <key>sourceSize</key>
                <string>{34,103}</string>
            </dict>
            <key>theme115_reel_ear_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,896},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>theme115_reel_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{716,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,14}}</string>
                <key>sourceSize</key>
                <string>{716,14}</string>
            </dict>
            <key>theme115_reel_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{14,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,442}}</string>
                <key>sourceSize</key>
                <string>{14,442}</string>
            </dict>
            <key>theme115_reel_frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,664},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base_reel_jp.png</string>
            <key>size</key>
            <string>{575,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a5b7c5932ff455173e3f89b23e39e9d:1/1$</string>
            <key>textureFileName</key>
            <string>base_reel_jp.png</string>
        </dict>
    </dict>
</plist>
