<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_loading2_load_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>theme_loading2_load_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,524}}</string>
                <key>sourceSize</key>
                <string>{664,524}</string>
            </dict>
            <key>theme_loading2_load_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,668},{322,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,60}}</string>
                <key>sourceSize</key>
                <string>{322,60}</string>
            </dict>
            <key>theme_loading2_load_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,644},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>theme_loading2_load_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,644},{153,150}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{153,150}}</string>
                <key>sourceSize</key>
                <string>{155,170}</string>
            </dict>
            <key>theme_loading2_load_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>theme_loading2_load_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,668},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>theme_loading2_load_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,730},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading2_theme115.png</string>
            <key>size</key>
            <string>{890,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21ca46b9cdb9c4d82ffa9d74fccccbc2:1/1$</string>
            <key>textureFileName</key>
            <string>loading2_theme115.png</string>
        </dict>
    </dict>
</plist>
