<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme115_popup_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,411},{280,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,161}}</string>
                <key>sourceSize</key>
                <string>{280,161}</string>
            </dict>
            <key>theme115_popup_bg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,37},{15,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,372}}</string>
                <key>sourceSize</key>
                <string>{15,372}</string>
            </dict>
            <key>theme115_popup_bg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,248},{191,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,301}}</string>
                <key>sourceSize</key>
                <string>{191,301}</string>
            </dict>
            <key>theme115_popup_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,103},{355,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,143}}</string>
                <key>sourceSize</key>
                <string>{355,143}</string>
            </dict>
            <key>theme115_popup_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{281,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,347}}</string>
                <key>sourceSize</key>
                <string>{281,347}</string>
            </dict>
            <key>theme115_popup_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,755}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,755}}</string>
                <key>sourceSize</key>
                <string>{15,755}</string>
            </dict>
            <key>theme115_popup_bg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{629,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,16}}</string>
                <key>sourceSize</key>
                <string>{629,16}</string>
            </dict>
            <key>theme115_popup_bg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>theme115_popup_bg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>theme115_popup_btn1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,519},{292,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,76}}</string>
                <key>sourceSize</key>
                <string>{292,76}</string>
            </dict>
            <key>theme115_popup_btn1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,441},{292,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,76}}</string>
                <key>sourceSize</key>
                <string>{292,76}</string>
            </dict>
            <key>theme115_popup_btn2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,598},{292,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,76}}</string>
                <key>sourceSize</key>
                <string>{292,76}</string>
            </dict>
            <key>theme115_popup_btn2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,849},{292,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,76}}</string>
                <key>sourceSize</key>
                <string>{292,76}</string>
            </dict>
            <key>theme115_popup_btn3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,771},{292,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,76}}</string>
                <key>sourceSize</key>
                <string>{292,76}</string>
            </dict>
            <key>theme115_popup_btn3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,693},{292,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,76}}</string>
                <key>sourceSize</key>
                <string>{292,76}</string>
            </dict>
            <key>theme115_popup_element1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,598},{74,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,204}}</string>
                <key>sourceSize</key>
                <string>{74,204}</string>
            </dict>
            <key>theme115_popup_element2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,37},{90,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,57}}</string>
                <key>sourceSize</key>
                <string>{90,57}</string>
            </dict>
            <key>theme115_popup_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,19},{294,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,129}}</string>
                <key>sourceSize</key>
                <string>{294,129}</string>
            </dict>
            <key>theme115_popup_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,96},{500,84}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{500,84}}</string>
                <key>sourceSize</key>
                <string>{510,84}</string>
            </dict>
            <key>theme115_popup_text10.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,103},{456,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,69}}</string>
                <key>sourceSize</key>
                <string>{456,69}</string>
            </dict>
            <key>theme115_popup_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,248},{346,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,68}}</string>
                <key>sourceSize</key>
                <string>{346,68}</string>
            </dict>
            <key>theme115_popup_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,927},{234,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,49}}</string>
                <key>sourceSize</key>
                <string>{234,49}</string>
            </dict>
            <key>theme115_popup_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,693},{281,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,51}}</string>
                <key>sourceSize</key>
                <string>{281,51}</string>
            </dict>
            <key>theme115_popup_text5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{485,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,64}}</string>
                <key>sourceSize</key>
                <string>{485,64}</string>
            </dict>
            <key>theme115_popup_text6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,693},{278,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,68}}</string>
                <key>sourceSize</key>
                <string>{278,68}</string>
            </dict>
            <key>theme115_popup_text7.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,315},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>theme115_popup_text8.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,378},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>theme115_popup_text9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{515,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,64}}</string>
                <key>sourceSize</key>
                <string>{515,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{769,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:560de4fd225900e0065fa22f94a3671a:1/1$</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
