<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,600},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>blue_sk_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,824},{133,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,109}}</string>
                <key>sourceSize</key>
                <string>{133,109}</string>
            </dict>
            <key>blue_sk_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,834},{110,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,91}}</string>
                <key>sourceSize</key>
                <string>{110,91}</string>
            </dict>
            <key>collect_band.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{669,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{669,88}}</string>
                <key>sourceSize</key>
                <string>{671,88}</string>
            </dict>
            <key>collect_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{517,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,47}}</string>
                <key>sourceSize</key>
                <string>{517,47}</string>
            </dict>
            <key>collect_bar_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,2},{517,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,47}}</string>
                <key>sourceSize</key>
                <string>{517,47}</string>
            </dict>
            <key>collect_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,790},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>collect_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{516,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,47}}</string>
                <key>sourceSize</key>
                <string>{516,47}</string>
            </dict>
            <key>collect_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,633},{87,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,99}}</string>
                <key>sourceSize</key>
                <string>{87,99}</string>
            </dict>
            <key>column.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{626,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,336}}</string>
                <key>sourceSize</key>
                <string>{626,336}</string>
            </dict>
            <key>count_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{549,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,48}}</string>
                <key>sourceSize</key>
                <string>{549,48}</string>
            </dict>
            <key>gold_board_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,923},{87,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,52}}</string>
                <key>sourceSize</key>
                <string>{87,52}</string>
            </dict>
            <key>gold_board_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,862},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>gray_board_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,960},{87,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,51}</string>
            </dict>
            <key>gray_board_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,971},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>gray_sk_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,901},{132,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,108}}</string>
                <key>sourceSize</key>
                <string>{132,108}</string>
            </dict>
            <key>jp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,734},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>jp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,901},{104,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,43}}</string>
                <key>sourceSize</key>
                <string>{104,43}</string>
            </dict>
            <key>map_back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,630},{440,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,90}}</string>
                <key>sourceSize</key>
                <string>{440,90}</string>
            </dict>
            <key>map_back_btn_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{440,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,90}}</string>
                <key>sourceSize</key>
                <string>{440,90}</string>
            </dict>
            <key>map_band.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{596,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,143}}</string>
                <key>sourceSize</key>
                <string>{596,143}</string>
            </dict>
            <key>map_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,730}}</string>
                <key>sourceSize</key>
                <string>{720,730}</string>
            </dict>
            <key>map_choice_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,722},{299,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,66}}</string>
                <key>sourceSize</key>
                <string>{299,66}</string>
            </dict>
            <key>mapx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,970},{55,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{55,34}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>mapx1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,980},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>mapx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,982},{55,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{55,34}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>mapx2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,600},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>mapx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,954},{57,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{57,34}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>mapx3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,946},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>mapx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,946},{55,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{55,34}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>mapx4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,600},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>mapx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,935},{79,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{79,34}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>mapx5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,874},{44,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,21}}</string>
                <key>sourceSize</key>
                <string>{44,21}</string>
            </dict>
            <key>mapx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,923},{79,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{79,34}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>mapx6_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,907},{45,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,21}}</string>
                <key>sourceSize</key>
                <string>{45,21}</string>
            </dict>
            <key>mapx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,633},{79,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{79,34}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>mapx7_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,600},{45,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,21}}</string>
                <key>sourceSize</key>
                <string>{45,21}</string>
            </dict>
            <key>pick_frame_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,907},{112,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>pink_board_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,907},{87,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,51}}</string>
                <key>sourceSize</key>
                <string>{87,51}</string>
            </dict>
            <key>pink_board_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,935},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>red_sk_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,790},{132,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,109}}</string>
                <key>sourceSize</key>
                <string>{134,109}</string>
            </dict>
            <key>red_sk_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,521},{110,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>reel_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,901},{112,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>reel_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{2,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,324}}</string>
                <key>sourceSize</key>
                <string>{2,324}</string>
            </dict>
            <key>wheel_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,722},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>yellow_sk_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,790},{132,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,109}}</string>
                <key>sourceSize</key>
                <string>{132,109}</string>
            </dict>
            <key>yellow_sk_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,722},{110,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,91}}</string>
                <key>sourceSize</key>
                <string>{110,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1305,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c055adeefaf4a805cc7553b5829f2f8$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
