<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_collect_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{697,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{697,411}}</string>
                <key>sourceSize</key>
                <string>{699,411}</string>
            </dict>
            <key>map_collect_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,258},{254,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,83}}</string>
                <key>sourceSize</key>
                <string>{254,83}</string>
            </dict>
            <key>map_round_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{652,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,253}}</string>
                <key>sourceSize</key>
                <string>{652,253}</string>
            </dict>
            <key>map_start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,2},{254,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,83}}</string>
                <key>sourceSize</key>
                <string>{254,83}</string>
            </dict>
            <key>pop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,803}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{720,803}}</string>
                <key>sourceSize</key>
                <string>{720,805}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{1560,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53cb314d560715ad1434ec006c827655$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
