<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_to_game_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,454},{388,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,42}}</string>
                <key>sourceSize</key>
                <string>{388,42}</string>
            </dict>
            <key>bet_up_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,498},{381,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,40}}</string>
                <key>sourceSize</key>
                <string>{381,40}</string>
            </dict>
            <key>congratulation_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,307},{461,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,54}}</string>
                <key>sourceSize</key>
                <string>{461,54}</string>
            </dict>
            <key>extra_free_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,307},{586,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,62}}</string>
                <key>sourceSize</key>
                <string>{586,62}</string>
            </dict>
            <key>fg_collect_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,609},{209,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,56}}</string>
                <key>sourceSize</key>
                <string>{209,56}</string>
            </dict>
            <key>fg_start_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,770},{159,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,56}}</string>
                <key>sourceSize</key>
                <string>{159,56}</string>
            </dict>
            <key>fg_you_have_won_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,302},{372,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,85}}</string>
                <key>sourceSize</key>
                <string>{372,85}</string>
            </dict>
            <key>fg_you_won_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,745},{229,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,72}}</string>
                <key>sourceSize</key>
                <string>{229,72}</string>
            </dict>
            <key>fill_the_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,307},{444,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,31}}</string>
                <key>sourceSize</key>
                <string>{444,31}</string>
            </dict>
            <key>free_game_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,979},{189,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,34}}</string>
                <key>sourceSize</key>
                <string>{189,34}</string>
            </dict>
            <key>free_games_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,389},{366,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,63}}</string>
                <key>sourceSize</key>
                <string>{366,63}</string>
            </dict>
            <key>game_fever_text_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,307},{557,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,67}}</string>
                <key>sourceSize</key>
                <string>{557,67}</string>
            </dict>
            <key>map_choice_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,303}}</string>
                <key>sourceSize</key>
                <string>{548,303}</string>
            </dict>
            <key>map_collect_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,753},{167,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,45}}</string>
                <key>sourceSize</key>
                <string>{167,45}</string>
            </dict>
            <key>map_spin_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,931},{181,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,83}}</string>
                <key>sourceSize</key>
                <string>{181,83}</string>
            </dict>
            <key>map_start_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,302},{127,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,45}}</string>
                <key>sourceSize</key>
                <string>{127,45}</string>
            </dict>
            <key>map_total_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,192},{226,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,40}}</string>
                <key>sourceSize</key>
                <string>{226,40}</string>
            </dict>
            <key>map_you_have_won_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,729},{254,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,36}}</string>
                <key>sourceSize</key>
                <string>{254,36}</string>
            </dict>
            <key>map_you_won_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,820},{157,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,36}}</string>
                <key>sourceSize</key>
                <string>{157,36}</string>
            </dict>
            <key>move_up_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{98,96}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>pick_one_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,866},{96,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{96,76}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>pick_remain_0_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,540},{290,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{290,34}}</string>
                <key>sourceSize</key>
                <string>{334,34}</string>
            </dict>
            <key>pick_remain_1_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,861},{288,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{288,34}}</string>
                <key>sourceSize</key>
                <string>{334,34}</string>
            </dict>
            <key>pick_remain_2_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,717},{306,34}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{306,34}}</string>
                <key>sourceSize</key>
                <string>{334,34}</string>
            </dict>
            <key>pick_remain_3_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,681},{306,34}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{306,34}}</string>
                <key>sourceSize</key>
                <string>{334,34}</string>
            </dict>
            <key>pick_remain_4_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,645},{306,34}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{306,34}}</string>
                <key>sourceSize</key>
                <string>{334,34}</string>
            </dict>
            <key>pick_remain_5_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,609},{306,34}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{306,34}}</string>
                <key>sourceSize</key>
                <string>{334,34}</string>
            </dict>
            <key>press_to_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,573},{346,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,34}}</string>
                <key>sourceSize</key>
                <string>{354,34}</string>
            </dict>
            <key>respin_bonus_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{514,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,78}}</string>
                <key>sourceSize</key>
                <string>{514,78}</string>
            </dict>
            <key>round_1_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,679},{257,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,53}}</string>
                <key>sourceSize</key>
                <string>{257,53}</string>
            </dict>
            <key>round_2_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,420},{257,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,53}}</string>
                <key>sourceSize</key>
                <string>{257,53}</string>
            </dict>
            <key>round_3_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,690},{257,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,53}}</string>
                <key>sourceSize</key>
                <string>{257,53}</string>
            </dict>
            <key>round_4_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,431},{257,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,53}}</string>
                <key>sourceSize</key>
                <string>{257,53}</string>
            </dict>
            <key>round_5_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,952},{257,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,53}}</string>
                <key>sourceSize</key>
                <string>{257,53}</string>
            </dict>
            <key>round_6_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,897},{257,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,53}}</string>
                <key>sourceSize</key>
                <string>{257,53}</string>
            </dict>
            <key>spin_remain_0_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,728},{287,34}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,34}}</string>
                <key>sourceSize</key>
                <string>{305,34}</string>
            </dict>
            <key>spin_remain_1_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,825},{304,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,34}}</string>
                <key>sourceSize</key>
                <string>{304,34}</string>
            </dict>
            <key>spin_remain_2_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,789},{305,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,34}}</string>
                <key>sourceSize</key>
                <string>{305,34}</string>
            </dict>
            <key>spin_remain_3_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,753},{305,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,34}}</string>
                <key>sourceSize</key>
                <string>{305,34}</string>
            </dict>
            <key>spots_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{81,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,24}}</string>
                <key>sourceSize</key>
                <string>{81,24}</string>
            </dict>
            <key>super_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,540},{358,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,31}}</string>
                <key>sourceSize</key>
                <string>{358,31}</string>
            </dict>
            <key>super_pirate_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,307},{576,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,57}}</string>
                <key>sourceSize</key>
                <string>{576,57}</string>
            </dict>
            <key>total_win_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{553,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,109}}</string>
                <key>sourceSize</key>
                <string>{553,109}</string>
            </dict>
            <key>x_1_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,247},{416,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,53}}</string>
                <key>sourceSize</key>
                <string>{416,53}</string>
            </dict>
            <key>x_2_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,307},{419,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,53}}</string>
                <key>sourceSize</key>
                <string>{419,53}</string>
            </dict>
            <key>x_3_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,307},{420,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,53}}</string>
                <key>sourceSize</key>
                <string>{420,53}</string>
            </dict>
            <key>x_4_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,192},{419,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,53}}</string>
                <key>sourceSize</key>
                <string>{419,53}</string>
            </dict>
            <key>x_5_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,137},{433,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,53}}</string>
                <key>sourceSize</key>
                <string>{433,53}</string>
            </dict>
            <key>x_6_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,307},{436,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,53}}</string>
                <key>sourceSize</key>
                <string>{436,53}</string>
            </dict>
            <key>x_7_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,82},{436,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,53}}</string>
                <key>sourceSize</key>
                <string>{436,53}</string>
            </dict>
            <key>your_choice_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,82},{200,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,38}}</string>
                <key>sourceSize</key>
                <string>{200,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texts.png</string>
            <key>size</key>
            <string>{1074,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d94c30f0084f5e7bf8addad0d524bd5$</string>
            <key>textureFileName</key>
            <string>texts.png</string>
        </dict>
    </dict>
</plist>
