<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-medal_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1460},{166,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,64}}</string>
                <key>sourceSize</key>
                <string>{166,64}</string>
            </dict>
            <key>1-medal_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1149},{137,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,52}}</string>
                <key>sourceSize</key>
                <string>{137,52}</string>
            </dict>
            <key>1-medal_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1589},{142,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,64}}</string>
                <key>sourceSize</key>
                <string>{142,64}</string>
            </dict>
            <key>1-medal_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,833},{184,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>1-medal_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1035},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,66}</string>
            </dict>
            <key>1-medal_name_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,541},{292,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,66}}</string>
                <key>sourceSize</key>
                <string>{292,66}</string>
            </dict>
            <key>1-medal_name_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1589},{116,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,62}}</string>
                <key>sourceSize</key>
                <string>{116,62}</string>
            </dict>
            <key>2-medal_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,675},{262,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,64}}</string>
                <key>sourceSize</key>
                <string>{262,64}</string>
            </dict>
            <key>2-medal_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1600},{211,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,66}}</string>
                <key>sourceSize</key>
                <string>{211,66}</string>
            </dict>
            <key>2-medal_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,949},{173,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,66}}</string>
                <key>sourceSize</key>
                <string>{173,66}</string>
            </dict>
            <key>2-medal_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,50},{334,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,66}}</string>
                <key>sourceSize</key>
                <string>{334,66}</string>
            </dict>
            <key>2-medal_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,474},{335,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,65}}</string>
                <key>sourceSize</key>
                <string>{335,65}</string>
            </dict>
            <key>2-medal_name_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,609},{263,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,64}}</string>
                <key>sourceSize</key>
                <string>{263,64}</string>
            </dict>
            <key>2-medal_name_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,950},{169,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,83}}</string>
                <key>sourceSize</key>
                <string>{169,83}</string>
            </dict>
            <key>bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{50,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,590}}</string>
                <key>sourceSize</key>
                <string>{50,590}</string>
            </dict>
            <key>bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1333},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1460},{200,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,138}}</string>
                <key>sourceSize</key>
                <string>{200,138}</string>
            </dict>
            <key>bid_title_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{604,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,60}}</string>
                <key>sourceSize</key>
                <string>{604,60}</string>
            </dict>
            <key>bid_title_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{374,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,46}}</string>
                <key>sourceSize</key>
                <string>{374,46}</string>
            </dict>
            <key>btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,741},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>btn_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,609},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>btn_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,702},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,796},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>btn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,890},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>btn_07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{270,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,120}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>btn_07_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1066},{270,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,120}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>btn_07_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1338},{270,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,120}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>btn_07_split.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,935},{6,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,82}}</string>
                <key>sourceSize</key>
                <string>{6,82}</string>
            </dict>
            <key>btn_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,915},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>btn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,837},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>btn_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,984},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>btn_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1009},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>btn_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1203},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>btn_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1066},{270,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,140}}</string>
                <key>sourceSize</key>
                <string>{270,140}</string>
            </dict>
            <key>btn_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,707},{102,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,76}}</string>
                <key>sourceSize</key>
                <string>{102,76}</string>
            </dict>
            <key>btn_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1017},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>btn_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,811},{102,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,76}}</string>
                <key>sourceSize</key>
                <string>{102,76}</string>
            </dict>
            <key>btn_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,482},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>btn_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1078},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>btn_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,386},{94,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,738},{210,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,90}}</string>
                <key>sourceSize</key>
                <string>{210,90}</string>
            </dict>
            <key>btn_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,738},{210,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,90}}</string>
                <key>sourceSize</key>
                <string>{210,90}</string>
            </dict>
            <key>btn_18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,741},{210,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,90}}</string>
                <key>sourceSize</key>
                <string>{210,90}</string>
            </dict>
            <key>btn_poker_record_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1107},{92,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_poker_record_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1176},{92,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>card_flag_tips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1301},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>card_flag_tips_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1126},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>card_flag_tips_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1592},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>card_flag_tips_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1272},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>card_flag_tips_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1333},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>card_flag_tips_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,362},{174,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,234}}</string>
                <key>sourceSize</key>
                <string>{174,234}</string>
            </dict>
            <key>icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,772}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,772}}</string>
                <key>sourceSize</key>
                <string>{330,772}</string>
            </dict>
            <key>icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1338},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1301},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1078},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1628},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1335},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>icon_06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,949},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,350},{288,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,58}}</string>
                <key>sourceSize</key>
                <string>{288,58}</string>
            </dict>
            <key>icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>icon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,50},{226,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,310}}</string>
                <key>sourceSize</key>
                <string>{226,310}</string>
            </dict>
            <key>icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,50},{288,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,188}}</string>
                <key>sourceSize</key>
                <string>{288,188}</string>
            </dict>
            <key>icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,776},{288,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,188}}</string>
                <key>sourceSize</key>
                <string>{288,188}</string>
            </dict>
            <key>icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1317},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1333},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1447},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1035},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>icon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1559},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1447},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1629},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>icon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,240},{288,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,108}}</string>
                <key>sourceSize</key>
                <string>{288,108}</string>
            </dict>
            <key>icon_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1169},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>icon_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,602},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>icon_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1301},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>icon_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,362},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>icon_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1197},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,943},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1403},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>icon_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1009},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>icon_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1559},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1592},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>icon_suit_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1335},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>icon_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1460},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>icon_wa.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1017},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1266},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,776},{84,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,539}}</string>
                <key>sourceSize</key>
                <string>{84,539}</string>
            </dict>
            <key>rn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,837},{16,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,50}}</string>
                <key>sourceSize</key>
                <string>{16,50}</string>
            </dict>
            <key>rn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,541},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>rn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1507},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>rn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1117},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>rn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1611},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>suit_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1459},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>suit_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1459},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>suit_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1203},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>suit_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1203},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>uinfo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,598},{200,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,138}}</string>
                <key>sourceSize</key>
                <string>{200,138}</string>
            </dict>
            <key>uinfo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,943},{198,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,4}}</string>
                <key>sourceSize</key>
                <string>{198,4}</string>
            </dict>
            <key>uinfo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,901},{194,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,40}}</string>
                <key>sourceSize</key>
                <string>{194,40}</string>
            </dict>
            <key>viewer_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,776},{10,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,488}}</string>
                <key>sourceSize</key>
                <string>{10,488}</string>
            </dict>
            <key>watching_ar.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,410},{358,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,62}}</string>
                <key>sourceSize</key>
                <string>{358,62}</string>
            </dict>
            <key>watching_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{548,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,46}}</string>
                <key>sourceSize</key>
                <string>{548,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1020,1668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3fb699be2b8e2d8fcd3e2e0389d71ef:2ae326919e8880dfb98bb67288db955b:401c17bbbff7ec4d72e526f50b04f8bf$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
