<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2372},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{240,336}}</string>
                <key>sourceSize</key>
                <string>{250,346}</string>
            </dict>
            <key>poker_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2034},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{240,336}}</string>
                <key>sourceSize</key>
                <string>{250,346}</string>
            </dict>
            <key>poker_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{240,336}}</string>
                <key>sourceSize</key>
                <string>{250,346}</string>
            </dict>
            <key>poker_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{240,336}}</string>
                <key>sourceSize</key>
                <string>{250,346}</string>
            </dict>
            <key>poker_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{240,336}}</string>
                <key>sourceSize</key>
                <string>{250,346}</string>
            </dict>
            <key>poker_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{240,336}}</string>
                <key>sourceSize</key>
                <string>{250,346}</string>
            </dict>
            <key>poker_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{240,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{240,338}}</string>
                <key>sourceSize</key>
                <string>{250,346}</string>
            </dict>
            <key>poker_yd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,338}}</string>
                <key>sourceSize</key>
                <string>{240,338}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardBgAtlas.png</string>
            <key>size</key>
            <string>{244,2710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:690af0b70f6e9857e4f817fd620bf4be$</string>
            <key>textureFileName</key>
            <string>cardBgAtlas.png</string>
        </dict>
    </dict>
</plist>
