<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1126},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,39}}</string>
                <key>sourceSize</key>
                <string>{55,39}</string>
            </dict>
            <key>collect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1313},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>collect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>collect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{714,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,30}}</string>
                <key>sourceSize</key>
                <string>{714,30}</string>
            </dict>
            <key>collect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,604},{363,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,74}}</string>
                <key>sourceSize</key>
                <string>{363,74}</string>
            </dict>
            <key>collect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1316},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>collect_building1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1138},{85,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,69}}</string>
                <key>sourceSize</key>
                <string>{87,69}</string>
            </dict>
            <key>collect_building2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1325},{77,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>collect_building3.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1363},{78,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>collect_building4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1225},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{88,62}</string>
            </dict>
            <key>dialog_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{325,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,108}}</string>
                <key>sourceSize</key>
                <string>{325,108}</string>
            </dict>
            <key>jp_grand.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,718},{186,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,40}}</string>
                <key>sourceSize</key>
                <string>{186,40}</string>
            </dict>
            <key>jp_grand_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{176,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,82}}</string>
                <key>sourceSize</key>
                <string>{176,82}</string>
            </dict>
            <key>jp_major.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{131,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,31}}</string>
                <key>sourceSize</key>
                <string>{131,31}</string>
            </dict>
            <key>jp_major_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1147},{176,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,66}}</string>
                <key>sourceSize</key>
                <string>{176,66}</string>
            </dict>
            <key>jp_mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1390},{111,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,31}}</string>
                <key>sourceSize</key>
                <string>{111,31}</string>
            </dict>
            <key>jp_mega_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,960},{176,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,66}}</string>
                <key>sourceSize</key>
                <string>{176,66}</string>
            </dict>
            <key>jp_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1043},{81,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,29}}</string>
                <key>sourceSize</key>
                <string>{81,29}</string>
            </dict>
            <key>jp_mini_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,782},{176,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,66}}</string>
                <key>sourceSize</key>
                <string>{176,66}</string>
            </dict>
            <key>jp_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1225},{116,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,29}}</string>
                <key>sourceSize</key>
                <string>{116,29}</string>
            </dict>
            <key>jp_minor_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,604},{176,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,66}}</string>
                <key>sourceSize</key>
                <string>{176,66}</string>
            </dict>
            <key>jp_ultra.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,906},{135,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,32}}</string>
                <key>sourceSize</key>
                <string>{135,32}</string>
            </dict>
            <key>jp_ultra_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,969},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>reel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{1072,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1072,27}}</string>
                <key>sourceSize</key>
                <string>{1072,27}</string>
            </dict>
            <key>reel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1072,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1072,27}}</string>
                <key>sourceSize</key>
                <string>{1072,27}</string>
            </dict>
            <key>reel_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,604},{27,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,600}}</string>
                <key>sourceSize</key>
                <string>{27,600}</string>
            </dict>
            <key>reel_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,604},{27,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,600}}</string>
                <key>sourceSize</key>
                <string>{27,600}</string>
            </dict>
            <key>reel_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{6,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,604}}</string>
                <key>sourceSize</key>
                <string>{6,604}</string>
            </dict>
            <key>reel_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,604},{200,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,600}}</string>
                <key>sourceSize</key>
                <string>{200,600}</string>
            </dict>
            <key>reel_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{200,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,600}}</string>
                <key>sourceSize</key>
                <string>{200,600}</string>
            </dict>
            <key>reel_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{200,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,600}}</string>
                <key>sourceSize</key>
                <string>{200,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{509,1433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c89d10dd0b794cb5d8bba4e4ab1c402$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
