<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buliding_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{354,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,236}}</string>
                <key>sourceSize</key>
                <string>{354,236}</string>
            </dict>
            <key>buliding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,734},{278,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,204}}</string>
                <key>sourceSize</key>
                <string>{278,204}</string>
            </dict>
            <key>buliding_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,387},{345,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,267}}</string>
                <key>sourceSize</key>
                <string>{345,267}</string>
            </dict>
            <key>buliding_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{383,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,297}}</string>
                <key>sourceSize</key>
                <string>{383,297}</string>
            </dict>
            <key>theme175_map_2x10x.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,956},{120,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,28}}</string>
                <key>sourceSize</key>
                <string>{120,28}</string>
            </dict>
            <key>theme175_map_2x5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,986},{107,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,28}}</string>
                <key>sourceSize</key>
                <string>{107,28}</string>
            </dict>
            <key>theme175_map_3x25x.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,956},{120,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,28}}</string>
                <key>sourceSize</key>
                <string>{120,28}</string>
            </dict>
            <key>theme175_map_5x100x.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,734},{132,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,28}}</string>
                <key>sourceSize</key>
                <string>{132,28}</string>
            </dict>
            <key>theme175_map_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,780}}</string>
                <key>sourceSize</key>
                <string>{530,780}</string>
            </dict>
            <key>theme175_map_bg_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,387},{247,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{247,69}}</string>
                <key>sourceSize</key>
                <string>{249,69}</string>
            </dict>
            <key>theme175_map_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,784},{342,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{342,85}}</string>
                <key>sourceSize</key>
                <string>{344,85}</string>
            </dict>
            <key>theme175_map_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,871},{342,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{342,83}}</string>
                <key>sourceSize</key>
                <string>{344,85}</string>
            </dict>
            <key>theme175_map_yuanbao_dim.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,636},{61,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,40}}</string>
                <key>sourceSize</key>
                <string>{61,42}</string>
            </dict>
            <key>theme175_map_yuanbao_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,636},{61,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,40}}</string>
                <key>sourceSize</key>
                <string>{61,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{908,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:646d3cc84738df5a21beb85c8cb85bd7$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
