<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,640},{292,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,156}}</string>
                <key>sourceSize</key>
                <string>{292,156}</string>
            </dict>
            <key>theme175_wheel_10x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,936},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>theme175_wheel_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,936},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>theme175_wheel_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,936},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>theme175_wheel_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,522},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>theme175_wheel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{981,996}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{981,996}}</string>
                <key>sourceSize</key>
                <string>{981,996}</string>
            </dict>
            <key>theme175_wheel_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,310},{152,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,438}}</string>
                <key>sourceSize</key>
                <string>{152,438}</string>
            </dict>
            <key>theme175_wheel_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,156},{152,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,438}}</string>
                <key>sourceSize</key>
                <string>{152,438}</string>
            </dict>
            <key>theme175_wheel_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,596},{338,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,338}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>theme175_wheel_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,596},{338,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,338}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>theme175_wheel_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,936},{83,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>theme175_wheel_freegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,936},{78,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,53}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
            <key>theme175_wheel_freegame10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,936},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>theme175_wheel_freegame15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,936},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>theme175_wheel_freegame8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,936},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>theme175_wheel_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,156},{152,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,438}}</string>
                <key>sourceSize</key>
                <string>{152,438}</string>
            </dict>
            <key>theme175_wheel_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,156},{152,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,438}}</string>
                <key>sourceSize</key>
                <string>{152,438}</string>
            </dict>
            <key>theme175_wheel_jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,640},{52,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,259}}</string>
                <key>sourceSize</key>
                <string>{52,259}</string>
            </dict>
            <key>theme175_wheel_jp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,464},{56,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,214}}</string>
                <key>sourceSize</key>
                <string>{56,214}</string>
            </dict>
            <key>theme175_wheel_jp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,464},{56,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,214}}</string>
                <key>sourceSize</key>
                <string>{56,214}</string>
            </dict>
            <key>theme175_wheel_jp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,936},{58,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,170}}</string>
                <key>sourceSize</key>
                <string>{58,170}</string>
            </dict>
            <key>theme175_wheel_jp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,581},{57,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,213}}</string>
                <key>sourceSize</key>
                <string>{57,213}</string>
            </dict>
            <key>theme175_wheel_jp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,522},{57,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,213}}</string>
                <key>sourceSize</key>
                <string>{57,213}</string>
            </dict>
            <key>theme175_wheel_jp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,936},{57,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,169}}</string>
                <key>sourceSize</key>
                <string>{57,169}</string>
            </dict>
            <key>theme175_wheel_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{4,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,437}}</string>
                <key>sourceSize</key>
                <string>{4,437}</string>
            </dict>
            <key>theme175_wheel_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,156},{152,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,438}}</string>
                <key>sourceSize</key>
                <string>{152,438}</string>
            </dict>
            <key>theme175_wheel_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,2},{152,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,438}}</string>
                <key>sourceSize</key>
                <string>{152,438}</string>
            </dict>
            <key>theme175_wheel_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{152,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,438}}</string>
                <key>sourceSize</key>
                <string>{152,438}</string>
            </dict>
            <key>theme175_wheel_xbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,522},{161,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,72}}</string>
                <key>sourceSize</key>
                <string>{161,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wheel.png</string>
            <key>size</key>
            <string>{1887,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dca6696e65483bd6c4f2b2123f13c209$</string>
            <key>textureFileName</key>
            <string>wheel.png</string>
        </dict>
    </dict>
</plist>
