<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker_yd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{240,338}}</string>
                <key>sourceSize</key>
                <string>{250,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardBgAtlas.png</string>
            <key>size</key>
            <string>{244,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7913d761a108768cf82efec039fdca55:1/1$</string>
            <key>textureFileName</key>
            <string>cardBgAtlas.png</string>
        </dict>
    </dict>
</plist>
