<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jp_grand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,554},{351,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,86}}</string>
                <key>sourceSize</key>
                <string>{351,86}</string>
            </dict>
            <key>jp_major_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,687},{307,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,81}}</string>
                <key>sourceSize</key>
                <string>{307,81}</string>
            </dict>
            <key>jp_maxi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,770},{307,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,80}}</string>
                <key>sourceSize</key>
                <string>{307,80}</string>
            </dict>
            <key>jp_mini_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,140},{277,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,75}}</string>
                <key>sourceSize</key>
                <string>{277,75}</string>
            </dict>
            <key>jp_minor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,63},{277,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,75}}</string>
                <key>sourceSize</key>
                <string>{277,75}</string>
            </dict>
            <key>reel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{728,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,550}}</string>
                <key>sourceSize</key>
                <string>{728,550}</string>
            </dict>
            <key>reel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,63},{4,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,398}}</string>
                <key>sourceSize</key>
                <string>{4,398}</string>
            </dict>
            <key>reel_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1127},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>reel_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1055},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>reel_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,852},{126,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,398}}</string>
                <key>sourceSize</key>
                <string>{126,398}</string>
            </dict>
            <key>theme177_base_ui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,642},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>theme177_base_ui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,701},{137,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,129}}</string>
                <key>sourceSize</key>
                <string>{137,129}</string>
            </dict>
            <key>theme177_base_ui_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,466},{181,127}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{181,127}}</string>
                <key>sourceSize</key>
                <string>{191,135}</string>
            </dict>
            <key>theme177_base_ui_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{284,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,59}}</string>
                <key>sourceSize</key>
                <string>{284,59}</string>
            </dict>
            <key>theme177_collect_prompt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,701},{587,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,113}}</string>
                <key>sourceSize</key>
                <string>{587,113}</string>
            </dict>
            <key>theme177_collect_prompt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,701},{587,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,113}}</string>
                <key>sourceSize</key>
                <string>{587,113}</string>
            </dict>
            <key>theme177_collect_prompt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,701},{587,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,113}}</string>
                <key>sourceSize</key>
                <string>{587,113}</string>
            </dict>
            <key>theme177_collect_prompt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,701},{587,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,113}}</string>
                <key>sourceSize</key>
                <string>{587,113}</string>
            </dict>
            <key>theme177_collect_prompt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{587,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,113}}</string>
                <key>sourceSize</key>
                <string>{587,113}</string>
            </dict>
            <key>theme177_dialog_add_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,873},{470,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,113}}</string>
                <key>sourceSize</key>
                <string>{470,113}</string>
            </dict>
            <key>theme177_free_ui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,873},{365,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,79}}</string>
                <key>sourceSize</key>
                <string>{365,79}</string>
            </dict>
            <key>theme177_free_ui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,595},{173,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,41}}</string>
                <key>sourceSize</key>
                <string>{173,41}</string>
            </dict>
            <key>theme177_free_ui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,642},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>theme177_free_ui_num10.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1290},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>theme177_free_ui_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1290},{47,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>theme177_free_ui_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1290},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>theme177_free_ui_num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1290},{47,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>theme177_wheel_ui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{151,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{151,63}}</string>
                <key>sourceSize</key>
                <string>{153,65}</string>
            </dict>
            <key>theme177_wheel_ui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,642},{117,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,43}}</string>
                <key>sourceSize</key>
                <string>{117,43}</string>
            </dict>
            <key>theme177_wheel_ui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1240},{119,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,106}}</string>
                <key>sourceSize</key>
                <string>{119,106}</string>
            </dict>
            <key>theme177_wheel_ui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,466},{103,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,25}}</string>
                <key>sourceSize</key>
                <string>{103,25}</string>
            </dict>
            <key>theme177_wheel_ui_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1290},{47,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,77}</string>
            </dict>
            <key>theme177_wheel_ui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,554},{142,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,180}}</string>
                <key>sourceSize</key>
                <string>{142,180}</string>
            </dict>
            <key>theme177_wheel_ui_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,493},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>theme177_wheel_ui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1290},{85,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,46}}</string>
                <key>sourceSize</key>
                <string>{85,46}</string>
            </dict>
            <key>theme177_wheel_ui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,642},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>theme177_wheel_ui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,840},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>theme177_wheel_ui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{142,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,180}}</string>
                <key>sourceSize</key>
                <string>{142,180}</string>
            </dict>
            <key>theme177_wheel_ui_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,217},{247,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,275}}</string>
                <key>sourceSize</key>
                <string>{247,275}</string>
            </dict>
            <key>theme177_wheel_ui_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,572},{127,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,91}}</string>
                <key>sourceSize</key>
                <string>{127,91}</string>
            </dict>
            <key>theme177_wheel_ui_s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,964},{106,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,89}}</string>
                <key>sourceSize</key>
                <string>{106,89}</string>
            </dict>
            <key>theme177_wheel_ui_s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1252},{105,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,87}}</string>
                <key>sourceSize</key>
                <string>{107,89}</string>
            </dict>
            <key>theme177_wheel_ui_s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,873},{106,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,89}}</string>
                <key>sourceSize</key>
                <string>{106,89}</string>
            </dict>
            <key>theme177_wheel_ui_s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1252},{105,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,87}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1020,1359}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35bada7f7ca47b8434718922ed105468$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
