<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSSLog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1148},{575,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,324}}</string>
                <key>sourceSize</key>
                <string>{575,324}</string>
            </dict>
            <key>BOSSLog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{551,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,365}}</string>
                <key>sourceSize</key>
                <string>{551,365}</string>
            </dict>
            <key>BOSSLog3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1474},{482,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,364}}</string>
                <key>sourceSize</key>
                <string>{482,364}</string>
            </dict>
            <key>BOSSLog4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,555},{591,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,334}}</string>
                <key>sourceSize</key>
                <string>{591,334}</string>
            </dict>
            <key>GCLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{773,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{773,435}}</string>
                <key>sourceSize</key>
                <string>{773,435}</string>
            </dict>
            <key>WaterBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChangeBG.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f84e5d95555445de709b8667a1574d41:1/1$</string>
            <key>textureFileName</key>
            <string>ChangeBG.png</string>
        </dict>
    </dict>
</plist>
